@import "quasar.variables.scss";
// app global css in SCSS form

ul {
  line-height: 1.8;
}

/* Quasar default overrides */

.q-tooltip {
  font-size: 1em; // Adjust size as needed
}

.q-menu-opened .q-page-container {
  // Additional 8px on default padding of 300px
  @media screen and (min-width: 1024px) {
    padding-left: 308px !important;
  }
}

.q-field__control-container {
  margin-left: 12px;
  margin-right: 12px;
}

.q-field__label {
  color: var(--q-dark);
}

/* Accessible (high viz) Focus */

button:focus,
a:focus,
.q-item:focus {
  outline: 2px solid var(--q-primary) !important;
  outline-offset: -2px;
}

button:focus::before,
a:focus::before,
.q-item:focus::before {
  position: absolute;
  outline: 2px solid white;
  pointer-events: none;
}

.q-page-container:focus,
.q-layout:focus,
.q-dialog__backdrop:focus,
.q-dialog__inner:focus {
  outline: none !important;
}

.q-field .q-field__input:focus,
.q-field .q-field__input.q-field:focus-within {
  outline: none !important;
}

a:focus,
.q-field__native:focus,
.q-btn:focus {
  outline-offset: 2px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

.q-field:focus-within > .q-field__inner {
  outline: 2px solid var(--q-primary) !important;
  outline-offset: -2px;
}

.q-field__inner:focus-within .q-field__append {
  padding-right: 8px;
  outline: none !important;
  border: none !important;
}

.q-field__inner .q-field__append {
  transition: padding 0.3s;
}

/* Added override for q-checkbox bg_color when disabled to secondary gray */
.q-checkbox.disabled .q-checkbox__bg {
  cursor: not-allowed;
  opacity: .75;
  color: #757575;
}
