<script>
  export default {
    name: "PInfoDialog"
  }
</script>
<script setup>
  import { ref } from 'vue'

  const info_dialog_is_open = ref(false)

  const props = defineProps({
    title: String,
  })
</script>

<template>
  <q-btn
    round
    color="primary"
    flat
    icon="help"
    size="md"
    @click="info_dialog_is_open = true"
  />
  <q-dialog v-model="info_dialog_is_open">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ props.title }}</div>
      </q-card-section>
      <q-card-section>
        <slot />
      </q-card-section>
      <q-card-actions class="q-pb-md q-pl-md">
        <q-btn label="Ok" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
