<script setup>
import {useL3} from 'src/l3'
import {useRoute} from 'vue-router'
import {useClient} from "src/client"

const { client } = await useClient()
const {getL3History, submissions} = await useL3()
const route = useRoute()
const report_id = route.params.report_id
const columns = [
  {name: 'submission_id', label: 'Version', field: 'submission_id', align: 'left', sortable: true},
  {name: 'superseded_id', label: 'Amended by', field: 'superseded_id', align: 'left', sortable: true},
  {name: 'submitted_at', label: 'Submitted', field: 'submitted_at', align: 'left', sortable: true},
]
getL3History(client.lobbyist_client_id, report_id)

</script>

<template>
  <q-card>
    <q-card-section>
      <div class="text-h2 q-mb-md">L3 Reporting history</div>
      <q-table
        :grid="$q.screen.lt.sm"
        :rows="submissions"
        :columns="columns"
        flat
        separator="cell"
        bordered
      >
        <template v-slot:body-cell-submission_id="props">
          <q-td :props="props">
            <router-link :to="{name: 'client-l3', params: {submission_id: props.row.submission_id}}">
              {{ props.row.submission_id }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-superseded_id="props">
          <q-td :props="props">
            <router-link v-if="props.row.superseded_id" :to="{name: 'client-l3', params: {submission_id: props.row.superseded_id}}">
              {{ props.row.superseded_id }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:item="{row}">
          <q-card class="q-mb-sm full-width">
            <q-card-section>
              <div>
                <div>
                  Report #
                  <router-link :to="{name: 'client-l3', params: {submission_id: row.submission_id}}">
                    {{ row.submission_id }}
                  </router-link>

                </div>
                <div v-if="row?.superseded_id">
                  Amended by: #
                  <router-link v-if="props.row.superseded_id"  :to="{name: 'client-l3', params: {submission_id: row.superseded_id}}">
                    {{ row.superseded_id }}
                  </router-link>
                </div>
                <div>Submitted: {{ row.submitted_at }}</div>
              </div>
            </q-card-section>
          </q-card>
        </template>
      </q-table>
    </q-card-section>
  </q-card>
</template>
