<script setup>
import {onMounted, ref} from "vue";
import {useRoute, useRouter} from "vue-router";
const route = useRoute()
const router = useRouter()

import rules from "@wapdc/pdc-ui/rules";
import {useApplication} from "@wapdc/pdc-ui/application";
import {useLobbyist} from "src/lobbyist";
import {useL3} from "src/l3";
import L3ReportView from "pages/l3/L3ReportView.vue";

const lobbyistApi = (await useLobbyist()).lobbyistApi

const {user} = await useApplication()
const {l3, getDraft } = await useL3()
const globalWarnings = ref([])

const reportYear = ref(route.params.year?.toString())
if (reportYear.value) {
  await getDraft(reportYear.value)
}
async function handleBack(){
  await router.push(`/client/${l3.client.lobbyist_client_id}/l3-draft/${reportYear.value}`)
}

function print() {
  window.print()
}
const certify_dialog_is_open = ref(false)
const certify_signature = ref('')
const certification_text = "I certify under penalty of perjury under the laws of the State of Washington that I am authorized to sign on behalf of the client/employer named in this registration and that the information provided on this form is true, complete and correct to the best of my knowledge."

async function submitL3() {
  l3.certification.signature = certify_signature.value
  l3.certification.text = certification_text
  const res = await lobbyistApi.post(`/client/${l3.client.lobbyist_client_id}/l3/${reportYear.value}/submit`, {
    client_id: l3.client.lobbyist_client_id,
    year: reportYear.value,
    user_data: l3
  })

  if (res.submission_response.report_id && res.submission_response.submission_id) {
    certify_dialog_is_open.value = false;
    await router.push(`/client/${l3.client.lobbyist_client_id}`)
  }
}
onMounted(() => {
  checkWarnings()
})

function checkWarnings() {
  globalWarnings.value = [] // Clear previous warnings
  let hasExpenseMismatch = false
  let hasCompensationMismatch = false
  l3.lobbyist.forEach((row) => {
    if (row.expenses !== row.expenses_l2) {
      hasExpenseMismatch = true
    }
    if (row.compensation !== row.compensation_l2) {
      hasCompensationMismatch = true
    }
  })
  if (hasCompensationMismatch) {
    globalWarnings.value.push("Lobbyist reported compensation are different than actual compensation.")
  }
  if (hasExpenseMismatch) {
    globalWarnings.value.push("Lobbyist reported expenses are different than actual expenses.")
  }
}
</script>
<template>
  <div class="row q-my-md print-hide">
    <q-btn label="Submit" color="primary" @click="certify_dialog_is_open = true" icon="check" class="q-mr-md" />
    <q-btn label="Edit" color="secondary" @click="handleBack" icon="edit" class="q-mr-md" />
    <q-btn label="Print" icon="print" class="q-mr-md" color="primary" outline @click="print"/>
  </div>
  <q-banner v-if="globalWarnings.length > 0" class="q-mb-sm bg-warning">
    <p v-for="(warning, index) in globalWarnings" :key="index" >
      {{ warning }}
    </p>
    <p>Please review prior to submitting report.</p>
  </q-banner>
  <L3ReportView :l3="l3" :draft="true"/>

  <q-dialog persistent v-model="certify_dialog_is_open">
    <q-card>
      <q-form @submit="submitL3">
        <q-card-section>
          <div class="text-h6 q-mb-md">Certify</div>
          <p>By typing <strong>I certify</strong> on the line below, {{certification_text}}</p>
          <q-input
            lazy-rules
            label="Type here"
            v-model="certify_signature"
            :rules="[rules.required, rules.validCertificationStatement]"
          />
          <div v-if="user.name" class="q-mb-md">By {{ user.name }}</div>
          <div v-else class="q-mb-md">Please update your profile to certify.</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Submit" type="submit" color="primary" :disabled="!user.name"/>
          <q-btn flat label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
