<script setup>
import {reactive, ref} from 'vue'
import {useLobbyist} from "src/lobbyist"
import {useRoute, useRouter} from "vue-router"
import LegacyL3 from '../l3/LegacyL3.vue'
import L3ReportView from "pages/l3/L3ReportView.vue";
import {useAccessHub} from "src/AccessHub";
import {useApplication} from "@wapdc/pdc-ui/application";

const route = useRoute()
const router = useRouter()
const {lobbyistApi} = await useLobbyist()
const l3 = reactive({})
const submission_id = route.params.submission_id
const client_id = route.params.client_id
const {userHasPermission} = await useApplication()
const allowL3 = ref(userHasPermission( 'lobbyist file l3'))

async function  getL3() {
  lobbyistApi.get(`client/${client_id}/l3/${submission_id}`).then((result) => {
    if (result) {
      Object.assign(l3,result)
    }
  })
}
getL3();


const { accessHubUrl } = await useAccessHub()
function amendAccesshubReport(report_id) {
  return accessHubUrl(`/node/` + report_id + `/edit`)
}

const showAmendDialog = ref(false)

async function confirmAmend() {
  const response = await lobbyistApi.post(`/client/${client_id}/l3/${l3.report_year}/amendment`)
  if (response) {
    showAmendDialog.value = false
    await router.push({name: 'edit-l3', params: {year: l3.report_year}})
  }
}
function doPrint(){
  window.print();
}
</script>

<template>
  <q-toolbar class="shadow-1 q-mb-sm print-hide">
    <q-btn v-if="allowL3" class="q-mr-sm" @click="showAmendDialog=true" small color="primary">Amend</q-btn>
    <q-btn v-else class="q-mr-sm" :href="amendAccesshubReport(l3.report_id)" small color="primary">Amend</q-btn>
    <q-btn
      @click="doPrint()"
      class="q-mr-sm"
      label="Print"
      icon="print"/>
    <q-btn icon="history" label="Report history" :to="{name: 'client-history-l3', params: {report_id: l3.report_id}}" />
  </q-toolbar>
  <div v-if = "l3.version" >
    <legacy-l3 v-if="parseFloat(l3.version) < 2.0" :l3 = "l3"/>
    <l3-report-view v-else :l3="l3.user_data"/>
  </div>
  <q-dialog v-model="showAmendDialog">
    <q-card>
      <q-card-section>
        <div class="text-h6 q-mb-md">Confirm Amendment</div>
        <div>Are you sure you want to amend this report?</div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn v-close-popup> No</q-btn>
        <q-btn color="primary" @click="confirmAmend()"> Yes</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
