<script setup>
import { ref } from 'vue'
import { formatPhone } from 'src/utils'
import { formatMoney, formatDate } from '@wapdc/pdc-ui/util'
import GreenPDCLogo from 'assets/GreenPDCLogo.vue'

const user_data = ref([])
const report_year = ref()
const address = ref({})
const lobbyists = ref()
const lobbyist_lookup = ref()
const corrections = ref([])
const political_contributions = ref([])
const ie_support = ref([])
const ballot_proposition = ref([])
const expenditures_entertainment = ref([])
const expenditures_itemized = ref([])
const expenditures_other = ref([])
const expenditures_not_listed = ref({})
const compensation_employment = ref([])
const compensation_professional_services = ref([])
const taxonomy = ref([])
const phone = ref('')
const aggregate_total = ref('')
const contact_name = ref('')
const title = ref('')

const props = defineProps(
  {
    l3: ref([])
  }
)

function getL3Values() {
  if(props.l3) {
    user_data.value = props.l3.user_data;
    report_year.value = props.l3.report_year ?? props.l3.period_start.slice(0, 4)
    address.value = user_data.value.address[0]
    taxonomy.value = props.l3.taxonomy

    phone.value = user_data.value.phone.value
    phone.value = phone.value?.toString().trim() ?? ''

    title.value = user_data.value.title

    if (user_data.value.aggregate_contrib) {
      aggregate_total.value = user_data.value.aggregate_contrib.toString().trim()
    }

    lobbyists.value = parseHTML(user_data.value.name_registered_lob[0].value)

    corrections.value = user_data.value.totals_correction
    lobbyist_lookup.value = user_data.value.lobbyists ?? {}
    corrections.value = corrections.value.map(correction => {
      return {
        ...correction,
        lobbyist_name: lobbyist_lookup.value[correction.lobbyist]
      }
    })

    political_contributions.value = user_data.value.political_contributions ?? []
    ie_support.value = user_data.value.ie_support ?? []
    ballot_proposition.value = user_data.value.ballot_proposition ?? []
    expenditures_entertainment.value = user_data.value.l3_entertainment ?? []
    expenditures_itemized.value = user_data.value.itemized_l3_expenditures ?? []
    expenditures_other.value = user_data.value.other_l3_expenditures ?? []
    if (user_data.value.expend_not_listed) {
      expenditures_not_listed.value = user_data.value.expend_not_listed[0]
    }
    compensation_employment.value = user_data.value.l3_emp_comp ?? []
    compensation_professional_services.value = user_data.value.l3_prof_svcs ?? []

    contact_name.value = user_data.value.contact_name[0].value
  }
}

function getSubject(id) {
  let found = taxonomy.value.find(({tid}) => parseInt(tid) === parseInt(id));
  if (found) {
    return found.name;
  }
  return id;
}

function supported_or_opposed(num) {
  return num === '0' ? 'Opposed' : 'Supported'
}

function parseHTML(html) {
  if(!html) {
    return null
  }
  const regExp = [/<a.*?>/ig, /<\/a>/ig, /<form.*?>/ig, /<\/form>/ig, /\/n/ig, /<span>/ig, /<\/span>/ig, /<input.*?\/>/ig, /<!--.*?-->/ig]
  let result = html.toString()
  regExp.forEach(regExp => {result = result.replace(regExp, '')})

  result = result.replace(/<table.*?>/ig, '<table id="legacy_table">')
  result = result.replace(/<\/table>/ig, '</table>')
  result = result.replace(/<th .*?>/ig, '<th class="legacy_header">')
  result = result.replace(/<td .*?>/ig, '<td class="legacy_data_cell">')
  result = result.replace(/<div .*?>/ig, '<div>')
  result = result.replace(/<tr.*?>/ig, '<tr>')
  result = result.replace(/<span.*?>/ig, '<span>')
  result = result.replace('Names of registered lobbyist.', '<div class="text-h3 q-mb-sm" style="font-weight: normal">Names of registered lobbyist(s):</div>')

  return result
}

getL3Values()
</script>

<template>
  <div v-if="user_data">
    <div class="row q-mt-md">
      <div class="col-2">
        <green-p-d-c-logo/>
      </div>
      <div class="col-4 small-text">
        <div>711 Capitol Way Suite 206</div>
        <div>PO Box 40908 Olympia, WA 98504-0908</div>
        <div>(360) 753-1111</div>
        <div>Toll Free 1-800-601-2828</div>
      </div>
      <div class="col-6">
        <h2 class="q-mt-none">Lobbyist Employer Annual Report (L3)</h2>
        <h2>Reporting period: {{report_year}}</h2>
      </div>
    </div>
    <q-separator/>

    <q-card class="q-mb-sm">
      <q-card-section>
        <h2 class="q-mt-none">{{title}}</h2>
        <div>{{contact_name}}</div>
        <div v-if="address">
          <div>{{address.thoroughfare}} </div>
          <div>{{address.locality}}, {{address.administrative_area}} {{address.postal_code}}</div>
          <div>{{address.country}}</div>
        </div>
        <div v-if="phone">{{formatPhone(phone)}}</div>
      </q-card-section>
      <q-card-section>
        <div>Filed: {{formatDate(l3.submitted_at)}}</div>
        <div v-if="l3.amended_at">Amended: {{formatDate(l3.amended_at)}}</div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm" v-if="! corrections.length">
      <q-card-section v-if="lobbyists">
        <div v-html="lobbyists" />
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm" v-else>
      <q-card-section>
        <div class="text-h2 q-mb-md">
          Lobbyist/lobbyist firms salary and fees data entered
        </div>
        <p>
          Listed below are total salary and fees data entered from paper and submitted to the PDC.
        </p>
        <p>
          Compensation show the amount incurred (what was paid and may be owing) during the year for lobbying-related compensation.
          This include any funds set aside for deferred income, bonuses or the value of similar deferred payments paid or due.
        </p>
        <p>
          Expenses show the amount in expenditures made to or through the lobbyists. Expenditures include amounts paid or
          due the lobbyist for: reportable personal expenses; entertainment, gifts and travel for legislators, state officials
          and employees and their families; contributions to elected officials, candidates and political committees that were
          transmitted or delivered by the lobbyist; advertising, printing, and other informational literature; and other
          reportable expenses paid to or through the lobbyist in support of your lobbying objectives.
        </p>
        <p>
          Listed below are total salary and fees data entered by the employer to correct totals reported by the lobbyist.
        </p>
        <q-table title="Names of registered lobbyist(s)"
          hide-pagination flat
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="corrections"
          :columns="[
            {name: 'name', label:'Name', field: 'contract', align: 'left'},
            {name: 'compensation', label:'Compensation', field: 'comp', format: formatMoney, align: 'left'},
            {name: 'expenses', label:'Expenses', format: formatMoney, field: 'exp', align: 'left'}]"
        >
          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              {{props.row.lobbyist_name}}
            </q-td>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-md">
          Contributions
        </div>
        <p>
          Contributions shown below are the sum totals provided by the employer on block 4 of the report and are entered as
          filed by the employer. The totals in this section are political contributions to candidates for legislative or
          statewide executive office, committees supporting or opposing these candidates, or committees supporting or
          opposing statewide ballot measures and may include amounts from non-itemized contributions that are not reflected
          in the detailed compensation information that follows.
        </p>
        <q-table title="Summary itemized political contributions."
          hide-pagination flat
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          class="q-mb-sm"
          :rows="political_contributions"
          :columns="[
            {name: 'recipient_name', label:'Recipient Name', field: 'field_name', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
            {name: 'date', label:'Date', field: 'contribution_date', format: formatDate, align: 'left'}]"
        >
          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              {{props.row.lobbyist_name}}
            </q-td>
          </template>
          <template v-slot:body-cell-recipient_name="props">
            <q-td :props="props">
              <span v-html="props.row.field_name"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of itemized political contributions have not been entered for this report.
          </template>
        </q-table>
        <q-card class="q-mb-sm" flat>
          <q-card-section class="text-h3" style="font-weight: normal">
            Aggregate total of all non-itemized contributions.
          </q-card-section>
          <q-card-section>
            <div v-if="aggregate_total">
              {{formatMoney(aggregate_total)}}
            </div>
            <div v-else style="font-size: small">
              Summary of aggregate totals of all non-itemized contributions have not been entered for this report.
            </div>
          </q-card-section>
        </q-card>
        <q-table title="Summary affiliated PACs."
          hide-pagination flat
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="user_data.l3_pac ?? []"
          :columns="[
            {name: 'pac_name', label:'PAC Name', field: 'pac_name', align: 'left'}]"
        >
          <template v-slot:body-cell-pac_name="props">
            <q-td :props="props">
              <span v-html="props.row.pac_name"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of affiliated PAC contributions have not been entered for this report.
          </template>
        </q-table>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-md">
          Independent Expenditures
        </div>
        <p>
          Independent expenditures shown below are the sum totals provided by the employer on block 5 of the report and
          are entered as filed by the employer. The totals in this section are independent expenditures supporting or
          opposing a candidate for legislative or statewide executive office or a statewide ballot measure.
        </p>
        <q-table title="Summary independent expenditures supporting or opposing Legislative/State Executive candidates."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="ie_support"
          :columns="[
            {name: 'date', label:'Date', field: 'ie_date', format: formatDate, align: 'left'},
            {name: 'candidates_name', label:`Candidate's Name`, field: 'candidates_name', align: 'left'},
            {name: 'candidates_office_sought', label: `Candidate's Office Sought`, field: 'candidates_office_sought', format: getSubject, align: 'left'},
            {name: 'candidates_party', label: `Candidate's Party`, field: 'candidates_party', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
            {name: 'description', label:`Description`, field: 'description', align: 'left'},
            {name: 'supported_or_opposed', label:'Supported or Opposed', field: 'supported_or_opposed', format: supported_or_opposed, align: 'left'}
            ]"
        >
          <template v-slot:body-cell-candidates_name="props">
            <q-td :props="props">
              <span v-html="props.row.candidates_name"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.description"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of independent expenditures supporting or opposing Legislative or State Executive candidates have not been entered for this report.
          </template>
        </q-table>
        <q-table title="Summary expenditures supporting/opposing statewide ballot propositions."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="ballot_proposition"
          :columns="[
            {name: 'date', label:'Date', field: 'date', format: formatDate, align: 'left'},
            {name: 'description', label:`Ballot Number and Description`, field: 'description', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
            {name: 'supported_or_opposed', label:'Supported or Opposed', field: 'supported_or_opposed', format: supported_or_opposed, align: 'left'},
            {name: 'ie_description', label:`Description`, field: 'ie_description', align: 'left'}
            ]"
        >
          <template v-slot:body-cell-ie_description="props">
            <q-td :props="props">
              <span v-html="props.row.ie_description"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.description"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary for expenditures supporting or opposing statewide ballot proposition has not been entered for this report.
          </template>
        </q-table>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-md">
          Expenditures
        </div>
        <p>
          Expenditures shown below are the sum totals provided by the employer on block 6 of the report and are entered as
          filed by the employer. The totals in this section are expenditures to or on behalf of legislators, state officials,
          or their spouse, registered domestic partner and dependents for the purpose of influencing, honoring or benefiting
          the legislator or official.
        </p>
        <q-table title="Summary Entertainment expenditures."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="expenditures_entertainment"
          :columns="[
            {name: 'amount', label:'Cost or Value', field: 'amount', format: formatMoney, align: 'left'},
            {name: 'date', label:'Date', field: 'e_date', align: 'left', format: formatDate},
            {name: 'description', label:`Description`, field: 'description', align: 'left'},
            {name: 'entertain_name', label:`Name`, field: 'entertain_name', align: 'left'},
            {name: 'entertain_title', label: 'Title', field: 'entertain_title', align: 'left'}
            ]"
        >
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.description"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-entertain_name="props">
            <q-td :props="props">
              <span v-html="props.row.entertain_name"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of entertainment expenditures have not been entered for this report.
          </template>
        </q-table>
        <q-table title="Summary itemized expenditure for influencing, honoring or benefiting a legislator or official."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="expenditures_itemized"
          :columns="[
            {name: 'date', label:'Date', field: 'e_date', format: formatDate, align: 'left'},
            {name: 'recipient', label:`Recipient`, field: 'field_name', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
            {name: 'short_description', label:`Purpose`, field: 'short_description', align: 'left'}
            ]"
        >
          <template v-slot:body-cell-recipient="props">
            <q-td :props="props">
              <span v-html="props.row.field_name"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-short_description="props">
            <q-td :props="props">
              <span v-html="props.row.short_description"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of itemized expenditures that were for the purpose of influencing, honoring or benefiting a legislator or official have not been entered for this report.
          </template>
        </q-table>
        <q-table title="Summary other lobbying related expenditures."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="expenditures_other"
          :columns="[
            {name: 'date', label:'Date', field: 'e_date', format: formatDate, align: 'left'},
            {name: 'recipient', label:`Recipient`, field: 'field_name', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
            {name: 'short_description', label:`Purpose`, field: 'description', align: 'left'}
            ]"
        >
          <template v-slot:body-cell-recipient="props">
            <q-td :props="props">
              <span v-html="props.row.field_name"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-short_description="props">
            <q-td :props="props">
              <span v-html="props.row.description"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of other lobbying related expenditures have not been entered for this report.
          </template>
        </q-table>
        <q-card class="q-mb-sm" flat>
          <q-card-section class="text-h3" style="font-weight: normal">
            Summary other expenditures not listed elsewhere.
          </q-card-section>
          <q-card-section v-if="expenditures_not_listed">
            <div class="text-h6">
              Expert witnesses or others retained to provide lobbying services:
            </div>
            <div>
              {{formatMoney(expenditures_not_listed?.expert_retainer)}}
            </div>
            <div class="text-h6">
              Payments to vendors on behalf of or in support of registered lobbyists:
            </div>
            <div>
              {{formatMoney(expenditures_not_listed?.vendor)}}
            </div>
            <div class="text-h6">
              Costs to compose, design, develop and distribute promotional materials:
            </div>
            <div>
              {{formatMoney(expenditures_not_listed?.inform_material)}}
            </div>
            <div class="text-h6">
              Grass roots lobbying expenses and payments for lobbying communications:
            </div>
            <div>
              {{formatMoney(expenditures_not_listed?.lobbying_comm)}}
            </div>
          </q-card-section>
          <q-card-section v-else style="font-size: small">
            Summary of expenditures not listed elsewhere have not been entered for this report.
          </q-card-section>
        </q-card>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-md">
          Other Compensation
        </div>
        <p>
          Other contributions shown below are the sum totals provided by the employer on block 3 and 12 of the report and
          are entered as filed by the employer. The totals in this section are other employment compensation and compensation
          during the calendar year for professional services paid to any corporation, partnership, joint venture, association
          or other entity in which state elected official, successful state candidate or member of their immediate family
          hold office, partnership, directorship or ownership interest of 10% or more.
        </p>
        <q-table title="Summary employment or services paid to state elected officials or successful candidates."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="compensation_employment"
          :columns="[
            {name: 'field_name', label:'Name', field: 'field_name', align: 'left'},
            {name: 'relationship', label:'Relationship', field: 'compensation_title', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', align: 'left'},
            {name: 'description', label:`Description of Consideration or Service`, field: 'description', align: 'left'},
            ]"
        >
          <template v-slot:body-cell-field_name="props">
            <q-td :props="props">
              <span v-html="props.row.field_name"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.description"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of compensation for employment or services paid to state elected officials or successful candidates have not been entered for this report.
          </template>
        </q-table>
        <q-table title="Summary compensation for professional services paid to corporations, partnerships, etc."
          class="q-mb-sm" flat
          hide-pagination
          :rows-per-page-options="[0]"
          :wrap-cells="true"
          :rows="compensation_professional_services"
          :columns="[
            {name: 'firm_name', label:'Firm Name', field: 'firm_name', align: 'left'},
            {name: 'field_name', label:`Person's Name`, field: 'field_name', align: 'left'},
            {name: 'amount', label:'Amount', field: 'amount', align: 'left'},
            {name: 'description', label:`Description of Consideration or Service`, field: 'description', align: 'left'},
            ]"
        >
          <template v-slot:body-cell-firm_name="props">
            <q-td :props="props">
              <span v-html="props.row.firm_name"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-field_name="props">
            <q-td :props="props">
              <span v-html="props.row.field_name"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.description"></span>
            </q-td>
          </template>
          <template v-slot:no-data>
            Summary of compensation for professional services paid to corporations, partnerships, etc have not been entered for this report.
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>
</template>

<style>
#legacy_table {
  text-align: left;
  border-spacing: 30px;
}
.small-text {
  font-size: .8em;
}
</style>
