<script setup>
import L3ReportView from 'pages/l3/L3ReportView.vue'
import { notifyErrorWithReason } from 'src/utils'
import LegacyL3 from "pages/l3/LegacyL3.vue"
import { getRecords } from 'src/socrata'
import { useRoute } from 'vue-router'
import { reactive, ref } from "vue"

const route = useRoute()
const l3 = reactive({})
const fields = [
  'field_address',
  'field_aggregate_contrib',
  'field_ballot_proposition',
  'field_contact_name',
  'field_contributions_to_report',
  'field_do_you_agree_with_the_tota',
  'field_do_you_have_a_pac_to_list_',
  'field_do_you_have_any_other_expe',
  'field_do_you_have_ballot_related',
  'field_do_you_have_campaign_expen',
  'field_do_you_have_employment_com',
  'field_do_you_have_entertainment_',
  'field_do_you_have_itemized_expen',
  'field_do_you_have_other_expendit',
  'field_do_you_have_professional_s',
  'field_email',
  'field_expend_not_listed',
  'field_filing_period_year',
  'field_ie_support',
  'field_itemized_l3_expenditures',
  'field_l3_emp_comp',
  'field_l3_entertainment',
  'field_l3_pac',
  'field_l3_prof_svcs',
  'field_name_registered_lob',
  'field_other_l3_expenditures',
  'field_phone',
  'field_political_contributions',
  'field_totals_correction',
  'field_year_report_covers',
]

// created
await loadReport(route.params.submission_id)

function print() {
  window.print()
}

function l3submissionData() {
  if (l3.report_data) {
    l3.user_data = JSON.parse(l3.report_data)
  }
  l3.period_start = convertDate(l3.report_from)
  l3.submitted_at = l3.receipt_date

  if (parseFloat(l3.version) < 2.0) {
    l3.user_data = preProccessLegacyRecord(l3.user_data);
  }
}

function preProccessLegacyRecord(originalRecord) {
  let formattedRecord = {};
  let oRecord = JSON.parse(JSON.stringify(originalRecord));
  if (originalRecord.sources) {
    formattedRecord.sources = originalRecord.sources;
  }
  if (typeof oRecord === 'object') {
    for (const [key, value] of Object.entries(oRecord)) {
      let readableKey = getReadableKey(key);
      formattedRecord[readableKey] = getValue(key, value);
      if (Array.isArray(formattedRecord[readableKey])) {
        for (let i = 0; i < formattedRecord[readableKey].length; i++) {
          formattedRecord[readableKey][i] = preProccessLegacyRecord(formattedRecord[readableKey][i]);
        }
      } else if (formattedRecord[readableKey] && typeof (formattedRecord[readableKey]) === 'object') {
        if (formattedRecord[readableKey].hasOwnProperty('value')) {
          formattedRecord[readableKey] = formattedRecord[readableKey].value;
        } else {
          formattedRecord[readableKey] = preProccessLegacyRecord(formattedRecord[readableKey]);
        }
      }
    }
  }
  return formattedRecord;
}

function getReadableKey(key) {
  let readableKey = JSON.parse(JSON.stringify(key)).replace("__", "_");
  readableKey = readableKey.replace("field_", "");
  readableKey.replace("select_", "");
  readableKey.replace("_chbx", "");
  return readableKey;
}

function getValue(currentField, currentValue) {
  if (currentValue && currentValue['und']) {
    if (fields.includes(currentField)) {
      return currentValue['und'];
    } else if (currentValue['und'][0]) {
      const innerVal = currentValue['und'][0];
      if (Object.keys(innerVal).length === 1) {
        if (innerVal['value']) {
          return innerVal['value'];
        } else if (innerVal['target_id']) {
          return innerVal['target_id'];
        }
      }
      return innerVal;
    }
    return null;
  } else {
    return currentValue;
  }
}

function convertDate(date) {
  if (date) {
    return date.substring(0,10)
  }
  return null
}

async function loadReport(submission_id) {
  if (! submission_id) {
    notifyErrorWithReason('Report not found')
    return
  }

  const res = await getRecords('Lobbyist_reporting_history', `select * where id='${submission_id}'`)
  if (res.data.length !== 1) {
    notifyErrorWithReason('Report not found')
    return
  }

  Object.assign(l3, res.data[0])
  l3submissionData()
}

</script>
<template>
  <q-btn class="q-mr-sm q-mb-sm print-hide" label="Print" color="primary" icon="print" @click="print" />
  <legacy-l3 v-if="parseFloat(l3.version) < 2.0" :l3="l3" type="Public" />
  <l3-report-view v-else :l3="l3.user_data" :draft="false" />
</template>
