<script setup>
import { ref, computed } from "vue";
import { getMonthYear } from "src/utils";
import {formatDate} from "@wapdc/pdc-ui/util"
import { useAccessHub } from "src/AccessHub";
import { useLobbyist } from "src/lobbyist";

const {lobbyistApi} = await useLobbyist()
const {accessHubUrl} = await useAccessHub();
const contracts = ref([]);
const showPeriods = ref(false);
const periods = ref([]);

const currentPage = ref(1);
const itemsPerPage = 15; // 3 columns x 5 rows for the filing period grid

function showDialog(periodsToShow) {
  showPeriods.value = true;
  periods.value = periodsToShow;
}

async function getContracts() {
  const result = await lobbyistApi.get('admin/contracts');
  if (result) {
    contracts.value = result.map(contract => ({
      ...contract,
      submitted_at: formatDate(contract.submitted_at)
    }));
  }
}
await getContracts();

const pagination = ref({
  page: 1,
  rowsPerPage: 10
});

const paginatedPeriods = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  const end = start + itemsPerPage;
  return periods.value.slice(start, end);
});

const maxPages = computed(() => Math.ceil(periods.value.length / itemsPerPage));
</script>

<template>
  <h1>Contracts & Filing Periods</h1>

  <q-dialog v-model="showPeriods" @hide="currentPage = 1">
    <q-card>
      <q-card-section>
        <div class="text-h6">Filing Periods</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row q-col-gutter-md">
          <div v-for="(period, i) in paginatedPeriods" :key="i" class="col-4">
            <q-item class="q-py-none" style="min-height: 30px">
              <q-item-label>{{ getMonthYear(period.period_start) }}</q-item-label>
            </q-item>
          </div>
        </div>
      </q-card-section>

      <q-card-actions align="center">
        <q-pagination v-model="currentPage" :max="maxPages" />
        <q-btn flat label="OK" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <p-search-rows v-if="contracts"
              :rows="contracts"
              :search-keys="['employer', 'lobbyist', 'submitted_at']"
              class="q-pb-md">
    <template v-slot:results="{results}">
      <q-table
        ref="qTable"
        :rows="results"
        :columns="[
            { name: 'periods', align: 'left', label: 'Filing Periods', field: row => row.periods },
            { name: 'lobbyist', align: 'left', label: 'Lobbyist', field: row => row.lobbyist },
            { name: 'employer', align: 'left', label: 'Employer', field: row => row.employer },
            { name: 'submitted_at', align: 'left', label: 'Submitted', field: row => row.submitted_at },
          ]"
        row-key="submitted_at"
        :rows-per-page-options="[5, 10, 20, 50]"
        v-model:pagination="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="periods" :props="props">
              <q-btn label="View" color="primary" @click="showDialog(props.row.periods)" />
            </q-td>
            <q-td key="lobbyist" :props="props">
              <router-link :to="`/firm/${props.row.lobbyist_id}`">{{ props.row.lobbyist }}</router-link>
            </q-td>
            <q-td key="employer" :props="props">
              <router-link :to="`/client/${props.row.client_id}`">{{ props.row.employer }}</router-link>
            </q-td>
            <q-td key="submitted_at" :props="props">
              <a title="View Contract" :href="accessHubUrl(`node/${props.row.contract_id}`)">{{ props.row.submitted_at }}</a>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </template>
  </p-search-rows>
</template>

<style scoped>
</style>
