<script setup>
import { ref } from "vue";
import { useLobbyist} from "src/lobbyist";
import { formatPhone } from "src/utils";
const {lobbyistApi} = await useLobbyist()
const clients = ref([]);

async function getClients() {
  const result = await lobbyistApi.get('admin/clients');
  if (result) {
    clients.value = result;
  }
}

await getClients();

const pagination = ref({
  page: 1,
  rowsPerPage: 10
});

</script>

<template>
  <div>
    <h1>Lobbyist employers/clients</h1>
    <p-search-rows v-if="clients"
                :rows="clients"
                :search-keys="['name', 'email', 'phone']"
    class="q-pb-md">
      <template v-slot:results="{results}">

        <q-table
          ref="qTable"
          :rows="results"
          :columns="[
            { name: 'name', align: 'left', label: 'Client Name', field: row => row.name },
            { name: 'email', align: 'left', label: 'Email', field: row => row.email },
            { name: 'phone', align: 'left', label: 'Phone', field: row => row.phone }
          ]"
          row-key="id"
          :rows-per-page-options="[5, 10, 20, 50]"
          v-model:pagination="pagination"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="name" :props="props">
                <router-link :to="`/client/${props.row.lobbyist_client_id}`">{{ props.row.name }}</router-link>
              </q-td>
              <q-td key="email" :props="props">
                {{ props.row.email }}
              </q-td>
              <q-td key="phone" :props="props">
                {{ formatPhone(props.row.phone) }}
              </q-td>
            </q-tr>
          </template>

        </q-table>
      </template>
    </p-search-rows>

  </div>
</template>

<style scoped>

</style>
