<script setup>
import {computed, ref} from 'vue'
import {useQuasar} from 'quasar'
import {useRouter} from "vue-router";
import {formatType, today} from "src/utils";
import {formatDate} from "@wapdc/pdc-ui/util"
import {useApplication} from "@wapdc/pdc-ui/application"
import {useVerification} from "src/Verification";
import moment from "moment/moment";
import {useAccessHub} from "src/AccessHub";

/**  REQUEST FORM */
const quasar = useQuasar()
const router = useRouter()
const {user} = await useApplication()
const { accessHubUrl } = await useAccessHub()

const tableProperties = {
  pagination: {
    rowsPerPage: 25,
    sortBy: 'submitted_at',
    descending: false
  },
  columns: [
    {name: 'submitted_at', label: 'Submitted', field: row => formatDate(row.submitted_at), align: 'left', sortable: true},
    {name: 'type', label: 'Type', field: row => formatType(row.target_type), align: 'left', sortable: true},
    {name: 'name', label: 'Name', field: row => row.payload.name, align: 'left', sortable: true},
    {name: 'agent_user_name', label: 'Agent', field: row => row.agent_user_name, align: 'left', sortable: true},
    {name: 'action_date', label: 'Action date', field: row => formatDate(row.action_date), align: 'left', sortable: true},
    {name: 'actions', label: 'Actions', align: 'left'}
  ]
}

const accessRequests = ref([])
const {getAccessRequests} = await useVerification()

async function getAllAccessRequests() {
  const {access_requests} = await getAccessRequests()
  if(access_requests) {
    accessRequests.value = access_requests
  }
}

await getAllAccessRequests()

const showAll = ref(false)

const filteredAccessRequests = computed(() => {
  if (!showAll.value) {
    return accessRequests.value.filter((accessRequest) => {
      return ((accessRequest.agent_user_name === user.name && accessRequest.action_date <= today()) || (!accessRequest.agent_user_name && accessRequest.action_date <= today()))
    })
  } else {
    return accessRequests.value
  }
})

const agentOptions = [{ label: 'unassigned', value: null }, { label: user.name, value: user.name }]

async function updateAccessRequest(request_id, agent, action_date) {
  await (await useVerification()).updateAccessRequest(request_id, agent, action_date)
}

async function onSnooze(request_id, agent, snooze_days){
  let date = new Date()

  if(snooze_days) {
    date.setDate(date.getDate() + snooze_days)
  } else {
    date.setDate(date.getDate())
  }

  const actionDate = moment(date).format('YYYY-MM-DD')

  accessRequests.value = accessRequests.value.map(x => (x.id === request_id) ? {...x, action_date: actionDate}: x)

  await updateAccessRequest(request_id, agent, actionDate)
}

</script>

<template>
  <h1>Access Requests</h1>
  <div class="col-xs-12 col-sm-10">
    <q-toggle
      v-model="showAll"
      checked-icon="check"
      label="Show all access requests"
    />
    <q-table
      flat
      :rows="filteredAccessRequests"
      :columns="tableProperties.columns"
      :grid="$q.screen.lt.sm"
      :bordered="$q.screen.lt.sm"
      separator="horizontal"
      :pagination="tableProperties.pagination"
    >
      <template v-slot:body-cell-name="props">
        <q-td :props="props">
          <a v-if="['lobbyist_firm', 'lobbyist_client'].includes(props.row.target_type)" :href="accessHubUrl('/group-management-verify-legacy-user')">
            {{ props.row.payload.name }}
          </a>
          <router-link v-else :to="{name: 'verify-access-request', params: {request_id: props.row.id}}">
            {{ props.row.payload.name }}
          </router-link>
        </q-td>
      </template>
      <template v-slot:body-cell-agent_user_name="props">
        <q-td :props="props" style="width: 250px">
            <q-select behavior="menu" v-model=props.row.agent_user_name @update:model-value="updateAccessRequest(props.row.id, props.row.agent_user_name, props.row.action_date)" :options="agentOptions" map-options emit-value></q-select>
        </q-td>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props" style="width: 250px">
          <q-btn-dropdown icon="snooze" color="secondary" dense>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, null)">
              <q-item-section>
                <q-item-label>- -</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, 2)">
              <q-item-section>
                <q-item-label>2 days</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, 3)">
              <q-item-section>
                <q-item-label>3 days</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, 5)">
              <q-item-section>
                <q-item-label>5 days</q-item-label>
              </q-item-section>
            </q-item>
          </q-btn-dropdown>
        </q-td>
      </template>
      <template v-slot:item="{row}">
        <div class="col-12 q-pa-xs">
          <q-card flat bordered>
            <q-card-section class="q-table__grid-item-row">
              <h2>
                <router-link :to="{name: 'verify-access-request', params: {request_id: row.id}}">
                  {{ row.payload.name }}
                </router-link>
              </h2>
              <div>Submitted : {{ formatDate(row.submitted_at) }}</div>
              <div>Type : {{ formatType(row.target_type) }}</div>

              <q-separator class="q-my-md"/>
              <div class="q-my-md">
                <q-select label="Agent" dense behavior="menu" v-model="row.agent_user_name" @update:model-value="updateAccessRequest(row.id, row.agent_user_name, row.action_date)" :options="agentOptions" map-options emit-value/>
              </div>
              <div>Action date : {{ formatDate(row.action_date) }}
                <q-btn-dropdown icon="snooze" color="secondary" dense>
                  <q-item clickable v-close-popup @click="onSnooze(row.id, row.agent_user_name, null)">
                    <q-item-section>
                      <q-item-label>- -</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="onSnooze(row.id, row.agent_user_name, 2)">
                    <q-item-section>
                      <q-item-label>2 days</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="onSnooze(row.id, row.agent_user_name, 3)">
                    <q-item-section>
                      <q-item-label>3 days</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="onSnooze(row.id, row.agent_user_name, 5)">
                    <q-item-section>
                      <q-item-label>5 days</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-btn-dropdown>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </template>
    </q-table>
  </div>
</template>
