<script setup>
  import {ref} from "vue"
  import {useLobbyist} from "src/lobbyist";
  import {useApplication} from "@wapdc/pdc-ui/application";
  import {useAccessHub} from "src/AccessHub";
  import axios from 'axios'

  const {lobbyistApi} = await useLobbyist()
  const {user} = await useApplication()
  const {accesshub_url} = await useAccessHub()
  const accessHub = axios.create({
    baseURL: accesshub_url,
  })
  // Get records based on selected values
  const allowedTypes = ref([
    {label: "Firm" , value: 'lobbyist_firm'},
    {label: "Employer", value: 'lobbyist_employer'},
    {label: "Employment Contract", value: 'firm_emp_relationship'},
    {label: "L2", value: 'l2_filing'},
    {label: "L3", value: 'l3_filing'},
    ]
  );

  function getToken() {
    return user?.auth?.token.replace("Bearer ", "")
  }


  const types = ref([])
  const records = ref([]);
  function getMigrationRecords() {
    const params = {};
    if (types.value && types.value.length) {
      params.types = types.value
    }
    params.token =  getToken()
    continueSync.value = false;
    progress.value = 0;
    accessHub.get('lobbyist/migration/records', {params}).then((result) => {

      if (result && result.data) {
        records.value=result.data;
      }
    });
  }

  // Perform migration
  const progress = ref(0);
  const message = ref("");
  const continueSync = ref(true);
  async function syncRecords() {
    const chunkSize = 50;
    progress.value = 0;
    let chunk;
    let success = true;
    continueSync.value = true;
    do {
      chunk = records.value.splice(0, chunkSize);
      progress.value += chunk.length;
      const result = await accessHub.post('lobbyist/migration/sync', chunk, {params: {token : getToken()}});
      if (result) {
        success = result.data.success;
      }
      message.value = result.data.success ? "" : result.error;

    } while (success && chunk && chunk.length && continueSync.value);
  }

  function stopSync() {continueSync.value = false;}


  getMigrationRecords();
</script>

<template>
  <h1>AccessHub migration</h1>
  <h2>Record Selection</h2>
  <q-option-group :options="allowedTypes" type="checkbox" v-model="types"/>
  <q-toolbar>
    <q-btn @click="getMigrationRecords">Get Records</q-btn>
  </q-toolbar>
  <h2>Results</h2>
  <p>Records to migrate: {{records.length}}</p>
  <p>Records attempted: {{progress}}</p>
  <p>{{message}}</p>
  <q-toolbar>
    <q-btn @click="syncRecords">Start</q-btn>
    <q-btn @click="stopSync">Stop</q-btn>
  </q-toolbar>
</template>

