<script setup>
import {ref} from 'vue'
import {useApplication} from "@wapdc/pdc-ui/application";

// Dashboard for new system
import ClientDashboardV1 from "pages/ClientDashboardV1.vue";

// Legacy dashboard - to be removed after go-live
import ClientDashboardLegacy from "pages/ClientDashboardLegacy.vue";

const {userHasPermission} = await useApplication()
const allowL1 = ref(userHasPermission('lobbyist file l1'))


</script>

<template>
  <div>
    <ClientDashboardV1 v-if="allowL1" />
    <ClientDashboardLegacy v-else />
  </div>
</template>
