<script setup>
import {computed, reactive, ref} from 'vue'
import {formatPhone} from "../utils";
import {useRoute} from "vue-router";
import { useLobbyist } from "src/lobbyist";
import {useAccessHub} from "src/AccessHub";
import ClientRegistrationHistory from "components/ClientRegistrationHistory.vue";

const route = useRoute();
const {lobbyistApi} = await useLobbyist()
const {accessHubUrl} = await useAccessHub()
const submission_id = route.params.submission_id;
const client_id = route.params.client_id;

const registration = reactive({
  lobbyist_firm_id: null,
  user_data: {
    address: {},
    temporary_thurston_addr: {},
    lob_firm_agents: []
  },
  version: null
});

const user_data = computed(() => registration.user_data)
const address = computed(() => registration.user_data.address);
const showDialog = ref(false);

function toggleDialog() {
  showDialog.value = !showDialog.value;
}

function formatMonthYear(dateTime) {
  const date = dateTime.split(' ')[0];
  const parts = date.split("-")
  return `${parts[1]}/${parts[2]}/${parts[0]}`
}

function doPrint(){
  window.print();
}
const getRegistration = async () => {
  const result = await lobbyistApi.get(`/client/${client_id}/client-registration/${submission_id}`)
    if (result) {
      Object.assign(registration, result);
    }
}

await getRegistration();
</script>

<template v-if="user_data">
  <client-registration-history
    v-model:showDialog="showDialog"
    :client-id="Number(client_id)"
    :current-submission="Number(submission_id)"/>
  <q-toolbar class="shadow-1 q-mb-sm print-hide">
    <q-btn class="q-mr-sm" color="primary" :href="accessHubUrl(`node/${client_id}/edit`)">Amend</q-btn>
    <q-btn
      @click="doPrint()"
      class="q-mr-sm"
      label="Print"
      icon="print"/>
    <q-btn
      @click="toggleDialog"
      label="Registration history"
      icon="history"/>
  </q-toolbar>
  <q-card class="q-mb-sm row">
      <q-card-section class="col-6">
        <div class="q-mb-md">
          <div class="text-h3">{{user_data.title}}</div>
          <div>{{address.thoroughfare}} </div>
          <div v-if="address.premise">{{address.premise}}</div>
          <div>{{address.locality}}, {{address.administrative_area}} {{address.postal_code}}</div>
          <div>{{address.country}}</div>
          <div v-if="user_data.firm_phone_number">{{formatPhone(user_data.firm_phone_number)}}</div>
          <div v-if="user_data.email">{{user_data.email.email}}</div>
        </div>
        <div class="text-h6">
          Employer's Occupation, business or description or purpose of organization:
        </div>
        <pre class="q-mb-md">{{user_data.employer_s_occupation_busi}}</pre>
        <p v-if="parseInt(user_data.select_pac)"><strong>Affiliated PAC: </strong>{{user_data.political_action_committee}}</p>


      </q-card-section>
  </q-card>
  <div v-if="parseInt(user_data.select_funders)">
    <h2>Funders</h2>
    <div class="row">
      <q-card v-for="funder in user_data.funders" :key="funder.id" class="q-mr-sm">
        <q-card-section>
          <div><strong>{{funder.name_of_person_group_assoc}}</strong></div>
          <div v-if="funder.address.premise">{{funder.address.premise}}</div>
          <div>{{funder.address.thoroughfare}}</div>
          <div>{{funder.address.locality}}, {{funder.address.administrative_area}}  {{funder.address.postal_code}}</div>
        </q-card-section>
      </q-card>
    </div>
  </div>

</template>

<style scoped>

</style>
