<script setup>
import {computed, ref} from 'vue'
import {useAccessHub} from "src/AccessHub";
import {useRoute, useRouter} from "vue-router";
import L7DataTable from "components/L7DataTable.vue";
import {useClient} from "src/client";
import {formatDate, formatDateTime} from "@wapdc/pdc-ui/util"
import {useApplication} from "@wapdc/pdc-ui/application";
import {useQuasar} from "quasar";
import {useLobbyist} from "src/lobbyist";

const route = useRoute()
const router = useRouter()
const quasar = useQuasar()

const {accessHubUrl} = await useAccessHub()
const {user, userHasPermission} = await useApplication()
const {lobbyistApi} = await useLobbyist()

const client_id = route.params.client_id

const client = await useClient();
const allowL3 = ref(userHasPermission('lobbyist file l3'))
await client.loadClientReports(client_id);

const monthArray = ref([{"index": 1, name: "Jan"},{"index": 2, name: "Feb"},{"index": 3, name: "Mar"},{"index": 4, name: "Apr"},
  {"index": 5, name: "May"},{"index": 6, name: "Jun"},{"index": 7, name: "Jul"},{"index": 8, name: "Aug"},{"index": 9, name: "Sep"},
  {"index": 10, name: "Oct"},{"index": 11, name: "Nov"},{"index": 12, name: "Dec"}]);

const hasContractsToApprove = computed(() => {
    return client.clientReports.contractsToApprove.length > 0
})

function getContracts(year){
  if (client.clientReports.firms) {
    return (client.clientReports.firms).filter(firm => firm.contract_year === year)
  }
  return [];
}

function getContractYears(){
  if (client.clientReports.firms) {
    return [... new Set((client.clientReports.firms).map(firm => firm.contract_year).sort().reverse())];
  }
  return [];
}
const defaultYear = route.query.year ?? new Date().getFullYear()
const display_year = ref(
  getContractYears().find(year => year === defaultYear) ?? getContractYears()[0]
);

/**
 * This function getFiledIcon is used to determine which icon and color
 *   should be displayed for a given month in a lobbyist's filing report.
 * @param months
 * @param month
 * @returns {{color: string, name: string}}
 */
function getFiledIcon(months, month) {
  if(!months) {
    return {name: 'minus', color: "grey"};
  }
  let targetMonth = months.find(m => m.month === month);
  if (targetMonth) {
    if (targetMonth && targetMonth.filed) {
      return {name: 'check_circle', color: "primary"};
    }
    if (targetMonth && targetMonth.exempt) {
      return {name: "more_horiz", color: "black"};
    }
    const today = new Date()
    if (`${display_year.value}-${month.toString().padStart(2,'0')}-'01'` > `${today.getFullYear()}-${today.getMonth().toString().padStart(2,'0')}`) {
      return {name: 'check_circle_outline', color: "grey"};
    }
    return {name: "cancel", color: "red"}
  }
  return {name: 'remove', color: "grey"};
}

function newAccesshubReport(report_year) {
  return accessHubUrl(`/manage/new-l3/` + client_id + `?report_year=` + report_year)
}

function amendAccesshubReport(report_id) {
  return accessHubUrl(`/node/` + report_id + `/edit`)
}

function draftAccesshubReport(drupal_nid) {
  return accessHubUrl(`/node/` + drupal_nid + `/edit`)
}

function deleteAccesshubReport(drupal_nid) {
  return accessHubUrl(`/node/` + drupal_nid + `/delete?destination=node/` + client_id);
}

function onFileL3Draft(row) {
  if (row.draft_id) {
    router.push({name: 'edit-l3', params: {year: row.report_year}})
  } else {
    quasar.dialog({
      title: 'Confirm',
      message: `Start a new L3 report covering the year ${row.report_year}?`,
      cancel: true,
      persistent: true,
    }).onOk(() => {
      doCreateDraft(row.report_year)
    })
  }
}

async function doCreateDraft(year) {
  const { success } = await lobbyistApi.post(`/client/${client.client.lobbyist_client_id}/l3/${year}/draft`,{})
  if (success) {
    await router.push(`/client/${client.client.lobbyist_client_id}/l3-draft/${year}`)
  }
}

</script>

<template>
  <q-toolbar class="q-px-none q-mb-md" style="min-height: 30px;">
    <router-link v-if="client.client?.current_submission_id" :to="{ name: `client-registration`, params: { submission_id: client.client.current_submission_id } }">
      Current registration
    </router-link>
    <q-separator class="q-mx-md"
                 inset
                 vertical/>
    <a :href="`/lmc/lobbyist/client/${client_id}`">File last minute contribution</a>
    <q-separator v-if="user.admin" class="q-mx-md" inset vertical/>
   <router-link v-if="user.admin" :to="{ name: `client-l1-logs`}">Logs</router-link>
  </q-toolbar>
  <div v-if="hasContractsToApprove">
    <h2>Contracts to approve</h2>
    <q-list>
      <q-item v-for="ca in client.clientReports.contractsToApprove" :key="`${ca.drupal_nid}`">
        <q-item-section>
          <q-item-label>
            <router-link :to="{name: 'client-l1-preview', params: {draft_id: ca.draft_id}}">{{ca.firm}}</router-link>
          </q-item-label>
          <q-item-label caption>
            <template v-if="!ca.approval_target_id">
              {{ca.status}}: {{formatDateTime(ca.updated_at)}}
            </template>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
   </div>

  <h2>Annual Reports (L3)</h2>
  <q-table v-if = client.clientReports.l3_reports
           :rows="client.clientReports.l3_reports" flat
           :columns="[
             {name: 'report-year', label:'Report for Year', field: 'report_year', align: 'left'},
             {name: 'due-date', label: 'Due', field: 'due_date', align: 'left', format: formatDate},
             {name: 'report-id', label: 'Report Id', field: 'report_id'},
             {name: 'action', label: 'Action', status: 'action', align: 'left'},
             {name: 'status', label: 'Status', align: 'left', field: 'status'},
             {name: 'submitted_at', label:'Date filed/amended', field: 'submitted_at', format: formatDate, align: 'left'}]"
  >
    <template v-slot:body-cell-report-id="props">
      <q-td :props="props">
        <router-link :to="{name: `client-l3`, params: {submission_id: props.row.submission_id}}" v-if="props.row.report_id">
          {{props.row.report_id}}
        </router-link>
      </q-td>
    </template>
    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        <div v-if="allowL3">
          <div v-if="props.row.draft_id" >
            <q-btn class="action-button" small color="primary" :to="{name: 'edit-l3', params: {year: props.row.report_year}}">Edit</q-btn>
          </div>
          <q-btn v-else-if="!props.row.report_id" @click="onFileL3Draft(props.row)" class="acton-button" small color="primary">Start</q-btn>
        </div>
        <div v-else>
          <div v-if="props.row.legacy_draft" class="row items-center justify-between">
            <div class="col-auto">
              <q-btn class="action-button" :href="draftAccesshubReport(props.row.drupal_nid)" small color="primary">Edit</q-btn>
            </div>
            <div class="col-auto">
              <a class="content-between" :href="deleteAccesshubReport(props.row.drupal_nid)">Delete</a>
            </div>
            <div class="col-auto"></div>
          </div>
          <q-btn v-else-if="!props.row.report_id" class="action-button" :href="newAccesshubReport(props.row.report_year)" small color="primary">Start</q-btn>
        </div>
      </q-td>
    </template>
  </q-table>

  <h2>Lobbyists</h2>
  <q-select label="Contract year" v-if="client.clientReports.firms" v-model="display_year" :options="getContractYears()"></q-select>
  <div v-if="client.clientReports.firms">
    Filing key:
    <div><q-icon name="remove" color="grey"></q-icon> Not lobbying for {{client.client.name}} during this period</div>
    <div><q-icon name="check_circle_outline" color="grey"></q-icon> Monthly report not due yet</div>
    <div><q-icon name="more_horiz" color="black"></q-icon> Exempt from filing for {{client.client.name}} during this period</div>
    <div><q-icon name="check_circle" color="primary"></q-icon> Monthly report has been filed</div>
    <div><q-icon name="cancel" color="red"></q-icon> Monthly report due but not filed (based on current registration records)</div>
  </div>
  <q-table v-if="client.clientReports.firms" :rows="getContracts(display_year)"  flat :grid="$q.screen.lt.sm"
           :columns="[
           {name: 'name', label:'Lobbyist', field: 'name', align: 'left'},
           {name: 'months', label:'Filings', field: 'months', align: 'left'}
           ]"
  >
    <template v-slot:body-cell-name="props">
      <q-td :props="props">
        <router-link :to="{ name: 'client-l1-contract', params: {submission_id: props.row.current_submission_id} }">
          {{ props.row.name }}
        </router-link>
      </q-td>
    </template>
    <template v-slot:body-cell-months="props">
      <q-td :props="props">
        <div class="row">
          <div class="col" v-for="month in monthArray" :key="month.index">
            {{ month.name }}
          </div>
        </div>
        <div class="row">
          <div class="col" v-for="month in monthArray" :key="month.index">
            <q-icon v-bind="getFiledIcon(props.row.months, month.index)" ></q-icon>
          </div>
        </div>
      </q-td>
    </template>
    <template v-slot:item="{row}">
      <q-card class="q-mb-sm full-width" flat>
        <div>
          {{row.name}}
        </div>
        <div>
          <div class="row" v-if="$q.screen.width<400">
            <div class="col" v-for="month in monthArray" :key="month.index">
              {{ month.index }}
            </div>
          </div>
          <div class="row" v-else>
            <div class="col" v-for="month in monthArray" :key="month.index">
              {{ month.name }}
            </div>
          </div>
          <div class="row">
            <div class="col" v-for="month in monthArray" :key="month.index">
              <q-icon v-bind="getFiledIcon(row.months, month.index)"></q-icon>
            </div>
          </div>
        </div>
        <q-separator></q-separator>
      </q-card>
    </template>
  </q-table>

  <l7-data-table v-if="client.clientReports" target_type="lobbyist_client" :loadedReports="client.clientReports.l7Reports"></l7-data-table>

</template>
<style scoped>
.action-button {
  width: 5em;
}
</style>
