<script setup>
import {ref} from 'vue'
import {useApplication} from "@wapdc/pdc-ui/application";

// Dashboard for new system
import FirmDashboardV1 from "pages/FirmDashboardV1.vue";

// Legacy dashboard - to be removed after go-live
import FirmDashboardLegacy from "pages/FirmDashboardLegacy.vue";

const {userHasPermission} = await useApplication()
const allowL1 = ref(userHasPermission('lobbyist file l1'))


</script>

<template>
  <div>
    <FirmDashboardV1 v-if="allowL1" />
    <FirmDashboardLegacy v-else />
  </div>
</template>
