<script setup>
import {computed, reactive, ref, watch} from "vue"
import { useAccessHub } from "src/AccessHub"
import { useRoute, useRouter } from "vue-router"
import { useFirm } from "src/firm"
import L7DataTable from "components/L7DataTable.vue"
import {formatDate, formatDateTime} from "@wapdc/pdc-ui/util"
import { getMonthYear } from "../utils"
import { useApplication } from "@wapdc/pdc-ui/application"
import L2CarryForwardDialog from "components/StartL2Dialog.vue"
import { useLobbyist } from "src/lobbyist"
import rules from "@wapdc/pdc-ui/rules";
import ProfileHistory from "pages/firm/ProfileHistory.vue";
import ViewFirmProfileReport from "pages/firm/ViewFirmProfileReport.vue";

const submissions = ref([]);
const period = defineModel("period")
const showEmployerHistoryDialog = ref(false)

/**
 * Vue Router instance.
 * @type {Object}
 */
const route = useRoute()
const router = useRouter()

const current_date = route.query.current_date ? new Date(route.query.current_date) : new Date()

/**
 * Defines the columns for the submissions history table.
 * @type {Ref<UnwrapRef<[{field: string, name: string, format: ((function(*): *|string)|*), label: string, sortable: boolean, align: string},{field: string, name: string, format: ((function(*): *|string)|*), label: string, sortable: boolean, align: string}]>, UnwrapRef<[{field: string, name: string, format: ((function(*): *|string)|*), label: string, sortable: boolean, align: string},{field: string, name: string, format: ((function(*): *|string)|*), label: string, sortable: boolean, align: string}]> | [{field: string, name: string, format: ((function(*): *|string)|*), label: string, sortable: boolean, align: string},{field: string, name: string, format: ((function(*): *|string)|*), label: string, sortable: boolean, align: string}]>}
 */
const contracts_columns = ref([
  { name: 'period', label: 'Period', align: 'left', field: 'period', sortable: true },
  { name: 'submitted_at', label: 'Submission date', align: 'left', field: 'submitted_at', format: formatDate, sortable: true },
  { name: 'status', label: 'Status', align: 'left', field: 'status'}
])

const client_name = ref(null)

let lobbyistApi
lobbyistApi = (await useLobbyist()).lobbyistApi
/**
 * Composition function to get the AccessHub URL.
 * @type {Function}
 */
const { accessHubUrl, accesshub_url } = await useAccessHub()

/**
 * Firm instance with methods and properties for firm data.
 * @type {Object}
 */
const firm = await useFirm()
const {firmReports} = await useFirm()
const {user, userHasPermission} = await useApplication()
const firmInfo = firm.firm

/**
 * Firm ID obtained from the route parameters.
 * @type {string}
 */
const firm_id = route.params.firm_id?.toString()

/**
 * Declare agents and clients as empty arrays.
 * @type {Ref<UnwrapRef<*[]>, UnwrapRef<*[]> | *[]>}
 */
const agents = ref([])
const currentProfile = ref({})

function setDefaultProfile() {
  if (firmReports.profiles?.length > 0) {
    currentProfile.value = firmReports.profiles[0]
  }
  else {
    currentProfile.value = firm.firm
  }
}

const profile = computed(() => currentProfile.value.user_data)

await firm.getReports()
setDefaultProfile()

agents.value = firm.firmReports.agents

async function onShowEmployerHistoryClick(firm_id, client_id, name) {
  client_name.value = name
  const result = await lobbyistApi.get(`/firm/${firm_id}/contract-submission/${client_id}/submission-history`);
  if (result) {
    submissions.value = result
    showEmployerHistoryDialog.value = true
  }
}

const allowL2 = ref(userHasPermission( 'lobbyist file l2'))

function showMenuLink(link) {
  if (link.limitTo) {
    return link.limitTo()
  }
  return true
}

/**
 * Watches for changes in the route firm_id and updates firm reports.
 */
watch(() => route.params.firm_id, async (newId, oldId) => {
  if (newId !== oldId) {
    await firm.getReports()
    agents.value = firm.firmReports.agents
    setDefaultProfile()
  }
})

/**
 * Defines the columns for the agents table.
 * @type {Array<Object>}
 */
const columns = ref([
  { name: 'agent_picture', label: '', field: 'agent_picture', sortable: false },
  { name: 'name', required: true, label: 'Name', align: 'left', field: 'name', sortable: true },
  { name: 'picture_updated', label: 'Last Updated', align: 'left', field: 'picture_updated', sortable: true },
  {
    name: 'training_certified',
    label: 'Training Certified',
    align: 'left',
    field: 'training_certified',
    sortable: true
  },
  { name: 'bio', label: 'Bio', align: 'left', field: 'bio', sortable: true }
])

/**
 * Array of links for the lobbyist menu.
 * @type {Array<Object>}
 */
const lobbyist_menu_links = [
  {
    title: 'Current registration',
    to: { name: `firm-registration`, params: { submission_id: firmInfo.current_submission_id } }
  },
  {title: 'File last minute contribution', url: `/lmc/lobbyist/firm/${firm_id}`},
  ...(user.admin ? [
    {
      title: 'Logs',
      to: { name: `firm-l1-logs` }
    }
  ] : [])

]

/**
 * Generates a URL for an image path.
 * @param {string} path - The path to the image.
 * @returns {string} The complete URL to the image.
 * Note: This is a temp function until all files are moved from accesshub
 */
function getImageUrl(path) {
  return path ? path.replace('public://', `${ accesshub_url }/sites/default/files/styles/thumbnail/public/`): null
}

// create a filter function that will only return l2 reports that have been filed
const priorReports = firm.firmReports.l2Periods.filter(report => report.status === 'Filed')

const period_start = ref('')
const l2draft = reactive({
  period_start,
  reporting_dates: priorReports,
  user_data: {},
})
const reportData = ref({})
const createNewDraft = ref(false)

function onFileL2Draft(row) {
  period_start.value = row.period_start
  if (row.draft_id) {
    router.push({name: 'edit-l2', params: {period_start: row.period_start}})
  } else {
    createNewDraft.value = true
  }
}

function newAccesshubReport(period) {
  return accessHubUrl(`/filing/lobbyist-filing/` + firm_id + `?reporting_period=` + period.slice(0,7))
}

function deleteAccesshubReport(drupal_nid) {
  return accessHubUrl(`/node/` + drupal_nid + `/delete?destination=node/` + firm_id);
}

function draftAccesshubReport(drupal_nid) {
  return accessHubUrl(`/node/` + drupal_nid + `/edit`)
}

// --- L1 creation ---
const showL1Dialog = ref(false)
const clients = ref([])
const selectedL1ClientId = ref(null)
const selectedL1Period = ref(null)
const selectedL1FirmPeriod = ref(null)
const hireType = ref(null)
const firms = ref([])
const selectedL1FirmId = ref(null)
const filteredEmploymentClientContracts = ref([])

// function looks at all the filteredEmploymentClientContracts and returns the unique pairs of lobbyist_client_id and name
const filteredEmploymentClients = computed(() => {
  const clients = []
  filteredEmploymentClientContracts.value.forEach(contract => {
    if (!clients.find(client => client.lobbyist_client_id === contract.lobbyist_client_id)) {
      clients.push({
        lobbyist_client_id: contract.lobbyist_client_id,
        name: contract.name
      })
    }
  })
  return clients
})

async function getLobbyistClients() {
  const result = await lobbyistApi.get('all-clients')
  if (result) {
    return result
  } else {
    return []
  }
}

async function getLobbyistFirms() {
  const result = await lobbyistApi.get('all-firms')
  if (result) {
    return result.filter(firm => firm.lobbyist_firm_id !== parseInt(firm_id))
  }
  else {
    return []
  }
}

async function onNewRegistrationClick() {
  clients.value = await getLobbyistClients()
  selectedL1ClientId.value = null
  selectedL1Period.value = null
  firms.value = await getLobbyistFirms()
  selectedL1FirmId.value = null
  hireType.value = null
  showL1Dialog.value = true
}
function onHireTypeChange() {
  selectedL1Period.value = null
  selectedL1ClientId.value = null
  selectedL1FirmId.value = null
}
function onClientChange() {
  selectedL1Period.value = null
  selectedL1ClientId.value = null
}

async function onFirmChange(firmId) {
  selectedL1FirmId.value = null
  selectedL1Period.value = null
  selectedL1ClientId.value = null
  if (firmId)
    filteredEmploymentClientContracts.value = await lobbyistApi.get(`/clients?firm_id=${firmId}`)
  else
    filteredEmploymentClientContracts.value = []
}

const filteredFirmPeriods = computed(() => {
  const clients_period_start = firm.firmReports.clients.map(client => client.period_start)
  clients_period_start.sort()
  const today = current_date
  const current_year = today.getFullYear()
  const current_month = today.getMonth()
  const min_year = (clients_period_start.length === 0) ? current_year - 5 : parseInt(clients_period_start[0].slice(0, 4))
  const start_year = min_year % 2 === 0 ? min_year - 1 : min_year // Adjust to include biennium overlap
  const l1Periods = []
  for (let y = current_year; y >= start_year; y--) {
    if (y % 2 !== 0) {
      const period = {
        period_start: y + '-01-01',
        period_end: y + 1 + '-12-31',
        label: `${y} - ${y + 1}`,
      }
      l1Periods.push(period)
      break
    }
  }
  if (l1Periods.length === 0) {
    return l1Periods
  }

  // adjust the start to 1 biennium before if the current date is within 2 months of start of the biennium
  // adjust the end always 1 biennium after the current biennium
  const first_period_start_year = parseInt(l1Periods[0].period_start.slice(0, 4))
  const first_period_end_year = parseInt(l1Periods[0].period_end.slice(0, 4))
  let adjusted_period_start = l1Periods[0].period_start
  let adjusted_period_start_label = l1Periods[0].label.slice(0, 4)
  if (current_year === first_period_start_year && current_month <= 1) {
    adjusted_period_start = `${first_period_start_year - 2}-01-01`
    adjusted_period_start_label = `${first_period_start_year - 2}`
  }
  const adjusted_default = {
    label: `${adjusted_period_start_label} - ${first_period_end_year + 2}`,
    period_start: adjusted_period_start,
    period_end: `${first_period_end_year + 2}-12-31`,
  }
  const all_years = {
    label: 'All years',
    period_start: 'all_years',
    period_end: 'all_years',
  }
  return [adjusted_default, all_years]
})

// update the rows in the table based on the selected period
const filteredClients = computed(() => {
  if (!selectedL1FirmPeriod.value || selectedL1FirmPeriod.value.period_start === 'all_years') {
    return firm.firmReports.clients
  }
  const periodStart = selectedL1FirmPeriod.value.period_start
  const periodEnd = selectedL1FirmPeriod.value.period_end
  return firm.firmReports.clients.filter(client => {
    return ((client.period_end >= periodStart && client.period_end <= periodEnd))
  })
})
watch(filteredFirmPeriods, (newPeriods) => {
  if (newPeriods.length > 0 && !selectedL1FirmPeriod.value) {
    selectedL1FirmPeriod.value = newPeriods[0]
  }
}, { immediate: true })

const filteredPeriods = computed(() => {
  // Determine range for bienniums
  const minYear = new Date().getFullYear() - 5
  const startYear = minYear % 2 === 0 ? minYear - 1 : minYear // Adjust to include biennium overlap
  const endYear = new Date().getFullYear() + 1
  const l1Periods = []
  let l1
  let l1Draft

  // Calculate bienniums
  for (let y = endYear; y >= startYear; y--) {
    if (y%2 !== 0) {
      const period= {}
      period.period_start = y + '-01-01'
      period.period_end = y + 1 + '-12-31'
      period.label = `${y}-${y+1}`
      if( hireType.value === 'direct' ) {
        // Look in retrieved contracts to see if we have a matching contract for this period
        l1 = firm.firmReports.clients.find(
          c => selectedL1ClientId.value === c.lobbyist_client_id
            && ((period.period_start >= c.period_start && period.period_start <= c.period_end) || (period.period_end >= c.period_start && period.period_end <= c.period_end))
        )
        l1Draft = firm.firmReports.pendingL1Contracts.find(
          c => selectedL1ClientId.value === c.lobbyist_client_id
            && ((period.period_start >= c.period_start && period.period_start <= c.period_end) || (period.period_end >= c.period_start && period.period_end <= c.period_end))
        )
        if (!l1 && !l1Draft) {
          l1Periods.push(period)
        }
      }
      else {
        l1 = filteredEmploymentClientContracts.value.find(
          c => selectedL1ClientId.value === c.lobbyist_client_id && selectedL1FirmId.value === c.lobbyist_firm_id
            && ((period.period_start >= c.period_start && period.period_start <= c.period_end) || (period.period_end >= c.period_start && period.period_end <= c.period_end))
        )
        l1Draft = firm.firmReports.pendingL1Contracts.find(
          c => selectedL1ClientId.value === c.lobbyist_client_id && selectedL1FirmId.value === c.contractor_id
            && ((period.period_start >= c.period_start && period.period_start <= c.period_end) || (period.period_end >= c.period_start && period.period_end <= c.period_end))
        )
        if (l1 && !l1Draft) {
          l1Periods.push(period)
        }
      }
    }
  }
  return l1Periods
})

function isEmpty(obj) {
  for (const prop in obj) {
    if (Object.hasOwn(obj, prop)) {
      return false;
    }
  }

  return true;
}

async function createL1Draft() {
  const l1 = {
    client_id: selectedL1ClientId.value,
    period_start: selectedL1Period.value.period_start,
    period_end: selectedL1Period.value.period_end,
  }
  if (hireType.value !== 'direct') {
    l1.contractor_id = selectedL1FirmId.value
  } else l1.contractor_id = null
  const result = await lobbyistApi.post(`firm/${firmInfo.lobbyist_firm_id}/l1/draft`, l1)
  if (result.success) {
    showL1Dialog.value = false
    await router.push({name: 'edit-l1', params: {draft_id: result.draft_id}})
  }
}

function getYearRange(period_start, period_end) {
  return `${period_start.slice(0, 4)} - ${period_end.slice(0, 4)}`
}

function getRegisterYearsLabel(period_end) {
  const start_year = parseInt(period_end.slice(0, 4)) + 1
  const end_year = start_year + 1
  return `Register - ${start_year} / ${end_year}`
}

async function registerNewBiennium(contract_info) {
  const l1 = {
    period_start: (parseInt(contract_info.period_end.slice(0, 4)) + 1) + '-01-01',
    period_end: (parseInt(contract_info.period_end.slice(0, 4)) + 2) + '-12-31',
    client_id: contract_info.lobbyist_client_id,
    contractor_id: contract_info.contractor_id ?? null,
    current_submission_id: contract_info.current_submission_id,
  }
  const result = await lobbyistApi.post(`firm/${contract_info.lobbyist_firm_id}/l1/draft`, l1)
  if (result.success) {
    await router.push({name: 'edit-l1', params: {draft_id: result.draft_id}})
  }
}

// disable the creation of another draft if there is already a draft from the specific client
function hasClientDraft(client_id) {
  const existingDrafts = [...firmReports.pendingL1Contracts, ...firmReports.pendingLegacyContracts]
  return !existingDrafts.some(x => x.lobbyist_client_id === client_id)
}

const hasSubcontractors = computed(() => {
  return firm.firmReports.subcontracted_lobbyists?.length > 0
})

const hasTemporaryAddress = computed(() => {
  return firm.temp_address_1 ||
    firm.temp_city ||
    firm.temp_state;
});

/** Tabs Setup **/
const activeTab = ref("monthly")
const tabs = computed(() => {
  const _tabs = [
    { name: "monthly", label: "Monthly", notifications: overdueReportsCount.value },
    { name: "clients", label: "Clients / Employers" },
    { name: "agents", label: "Agents" },
    { name: "subcontractors", label: "Subcontractors", limitTo: () => hasSubcontractors.value },
    { name: "profile", label: "Profile" },
    { name: "other", label: "Other Reports" }
  ];

  // Show tab if:
  // - limitTo is undefined (property doesn't exist on tab)
  // - limitTo is a function that returns true
  return _tabs.filter(tab => tab.limitTo === undefined || (typeof tab.limitTo === "function" && tab.limitTo()));
});

// Calculate the number of overdue reports
const overdueReportsCount = computed(() => {
  if (!firm.firmReports.l2Periods || !firm.firmReports.l2Periods.length) {
    return 0;
  }

  return firm.firmReports.l2Periods.filter(report => {
    // Check if due date has passed and no report_id (not submitted)
    const dueDate = new Date(report.due_date);
    return dueDate <= current_date && !report.report_id;
  }).length;
});

// Computed properties for the mobile dropdown
const activeTabLabel = computed(() => {
  const tab = tabs.value.find(t => t.name === activeTab.value)
  return tab ? tab.label : ''
})

const activeTabNotifications = computed(() => {
  const tab = tabs.value.find(t => t.name === activeTab.value)
  return tab && tab.notifications ? tab.notifications : 0
})



</script>
<template>
  <!-- Toolbar -->
  <q-toolbar class="q-px-none q-mb-md"  style="min-height: 30px;">
    <template v-for="(link, index) in lobbyist_menu_links" :key="index">
      <template v-if="showMenuLink(link)">
        <a v-if="link.url" :href="link.url">{{ link.title }}</a>
        <router-link v-else :to="link.to">{{ link.title }}</router-link>
        <q-separator v-if="index < lobbyist_menu_links.length - 1"
                     class="q-mx-md"
                     inset
                     vertical/>
      </template>
    </template>
  </q-toolbar>

  <!-- Desktop Tabs (hidden on xs and sm screens) -->
  <div class="gt-xs">
    <q-tabs
      v-model="activeTab"
      class="tabs text-primary"
      indicator-color="black"
      active-color="primary"
      no-caps
      align="left"
    >
      <q-tab v-for="(tab, i) in tabs"
             :key="i"
             :name="tab.name"
             :label="tab.label"
             :ripple="{color: 'primary' }"
             content-class="nav-tab"
             :class="[tab.notifications && tab.notifications > 0 ? 'has-notification' : '']"
      >
        <q-badge v-if="tab.notifications && tab.notifications > 0"
                 color="red"
                 text-color="white"
                 :label="tab.notifications"
                 floating />
      </q-tab>
    </q-tabs>
  </div>

  <!-- Mobile Dropdown (visible only on xs and sm screens) -->
  <div class="lt-sm q-mb-md">
    <q-select
      v-model="activeTab"
      :options="tabs"
      option-value="name"
      option-label="label"
      filled
      class="mobile-tab-select"
      dropdown-icon="menu"
      behavior="menu"
      @update:model-value="val => activeTab = val.name || val"
    >
      <template v-slot:selected>
        <div class="row items-center justify-between full-width">
          <div>{{ activeTabLabel }}</div>
          <q-badge v-if="activeTabNotifications > 0"
                   color="red"
                   text-color="white"
                   :label="activeTabNotifications"
                   class="q-ml-sm" />
        </div>
      </template>

      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps">
          <q-item-section>
            <q-item-label>{{ scope.opt.label }}</q-item-label>
          </q-item-section>
          <q-item-section v-if="scope.opt.notifications && scope.opt.notifications > 0" avatar>
            <q-badge color="red" :label="scope.opt.notifications" />
          </q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>

  <q-tab-panels v-model="activeTab" class="bg-transparent">
    <!-- Monthly Tab -->
    <q-tab-panel name="monthly">
      <div class="q-mb-xl">

        <h2>Monthly reports (L2)</h2>
        <q-table
          flat
          :columns="[
            {name: 'period-start', label:'Month', field: 'period_start', align: 'left', sortable: true, format: getMonthYear},
            {name: 'due-date', label: 'Due', field: 'due_date', align: 'left', format: formatDate},
            {name: 'report-id', label: 'Report Id', field: 'report_id', align: 'left'},
            {name: 'action', label: 'Action',  align: 'left'},
            {name: 'status', label: 'Status', align: 'left', field: 'status'},
            {name: 'submitted_at', label:'Date filed/amended', field: 'submitted_at', align: 'left', format: formatDate}
          ]"
          :rows="firm.firmReports.l2Periods"
        >
          <template v-slot:body-cell-report-id="props">
            <q-td :props="props">
              <router-link v-if="props.row.report_id" :to="{name: `firm-l2`, params: {submission_id: props.row.submission_id}}">
                {{ props.row.report_id}}
              </router-link>
            </q-td>
          </template>
          <template v-slot:body-cell-action="props">
            <q-td :props="props">
              <div v-if="allowL2">
                <div v-if="props.row.draft_id">
                  <q-btn class="action-button" :to="{name: 'edit-l2', params: {period_start: props.row.period_start}}" small color="primary">Edit</q-btn>
                </div>
                <q-btn v-else-if="!props.row.report_id" @click="onFileL2Draft(props.row)" class="action-button" small color="primary">Start</q-btn>
              </div>
              <div v-else>
                <div v-if="props.row.legacy_draft" class="row items-center justify-between">
                  <div class="col-auto">
                    <q-btn class="action-button" :href="draftAccesshubReport(props.row.drupal_nid)" small color="primary">Edit</q-btn>
                  </div>
                  <div class="col-auto">
                    <a class="content-between" :href="deleteAccesshubReport(props.row.drupal_nid)">Delete</a>
                  </div>
                  <div class="col-auto"></div>
                </div>
                <q-btn v-else-if="!props.row.report_id" class="action-button" :href="newAccesshubReport(props.row.period_start)" small color="primary">Start</q-btn>
              </div>
            </q-td>
          </template>
        </q-table>
      </div>
    </q-tab-panel>

    <!-- Clients Tab -->
    <q-tab-panel name="clients">
      <div class="q-mb-xl">
        <h2>Client/Employers</h2>
        <div v-if="firm.firmReports.clients.length">
          <div class="row">
            <q-select
              label="Year range"
              label-property="label"
              v-model="selectedL1FirmPeriod"
              :options="filteredFirmPeriods"
            />
          </div>
          <q-table
            flat
            row-key="lobbyist_client_id"
            :rows="filteredClients"
            :columns="[
              {name: 'name', label: 'Client', field: 'name', align: 'left'},
              {name: 'years', label: 'Years', field: 'years', align: 'left'},
              {name: 'action', label: 'Action',  align: 'left'},
            ]"
            :pagination="{
              sortBy: 'name',
              descending: false,
            }"
          >
            <template v-slot:body-cell-name="props">
              <q-td :props="props">
                <a href="#" @click.prevent="onShowEmployerHistoryClick(props.row.lobbyist_firm_id, props.row.lobbyist_client_id, props.row.name)">
                  {{ props.row.name }}</a>
              </q-td>
            </template>
            <template v-slot:body-cell-years="props">
              <q-td :props="props">
                {{ getYearRange(props.row.period_start, props.row.period_end) }}
              </q-td>
            </template>
            <template v-slot:body-cell-action="props">
              <q-td :props="props">
                <q-btn
                  v-if="hasClientDraft(props.row.lobbyist_client_id)"
                  color="primary"
                  @click="registerNewBiennium(props.row)"
                >
                  {{ getRegisterYearsLabel(props.row.period_end) }}
                </q-btn>
              </q-td>
            </template>
          </q-table>
        </div>
        <p v-else><em>No clients or employers to display.</em></p>
        <div v-if="firm.firmReports.pendingL1Contracts?.length">
          <h2>Pending contracts</h2>
          <q-list>
            <q-item v-for="pend in firm.firmReports.pendingL1Contracts" :key="`${pend.draft_id}`">
              <q-item-section>
                <q-item-label v-if="pend.status === 'Draft'">
                  <router-link :to="{name: 'edit-l1', params: {draft_id: pend.draft_id}}">{{ pend.client }}</router-link>
                </q-item-label>
                <q-item-label v-else>
                  <router-link :to="{name: 'firm-l1-preview', params: {draft_id: pend.draft_id}}">{{ pend.client }}</router-link>
                </q-item-label>
                <q-item-label caption>
                  {{pend.status}}: {{formatDateTime(pend.updated_at)}}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div v-if="firm.firmReports.subContractsToApprove?.length">
          <h2>Contracts to approve</h2>
          <q-list>
            <q-item v-for="ca in firm.firmReports.subContractsToApprove" :key="`${ca.drupal_nid}`">
              <q-item-section>
                <q-item-label>
                  <router-link :to="{name: 'l1-contractor-preview', params: {draft_id: ca.draft_id}}">{{ca.firm}}</router-link>
                </q-item-label>
                <q-item-label caption>
                  <template v-if="!ca.approval_target_id">
                    {{ca.status}}: {{formatDateTime(ca.updated_at)}}
                  </template>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div v-if="firm.firmReports.employment_contracts?.length" >
          <h3>Employment via subcontract</h3>
          <q-table
            flat
            row-key="lobbyist_client_id"
            :columns="[
              {name: 'name', label:'Client', field: 'name', align: 'left'},
              {name: 'subcontractor_name', label: 'Contracted through', field: 'subcontractor_name', align: 'left'},
              {name: 'employment_status', label:'Employment status', field: 'period_end', align: 'left'}
            ]"
            :rows="firm.firmReports.employment_contracts"
          >
            <template v-slot:body-cell-name="props">
              <q-td :props="props">
                <router-link v-if="props.row.current_submission_id" :to="{ name: 'firm-l1-contract', params: {submission_id: props.row.current_submission_id} }">
                  {{ props.row.name }}
                </router-link>
              </q-td>
            </template>
            <template v-slot:body-cell-employment_status="props">
              <q-td :props="props">
                Valid through: {{ formatDate(props.row.period_end) }}
              </q-td>
            </template>
          </q-table>
        </div>
        <q-btn icon="add" color="primary" @click="onNewRegistrationClick()">Employment/contract registration</q-btn>
      </div>
    </q-tab-panel>

    <!-- Agents Tab -->
    <q-tab-panel name="agents">
      <div class="q-mb-lg">
        <h2>Lobbyists on file</h2>
        <template v-if="agents">
          <q-table
            :columns="columns"
            :rows="agents"
            flat
            row-key="lobbyist_firm_id"
          >
            <template v-slot:body-cell-agent_picture="{ row }">
              <q-td style="width:16px">
                <q-avatar>
                  <img :src="getImageUrl(row.agent_picture)" alt="Agent Picture" style="width: 50px; height: auto;">
                </q-avatar>
              </q-td>
            </template>
            <template v-slot:body-cell-picture_updated="{ row }">
              <q-td>
                {{ formatDate(row.picture_updated) }}
              </q-td>
            </template>
            <template v-slot:body-cell-training_certified="{ row }">
              <q-td>
                {{ formatDate(row.training_certified) }}
              </q-td>
            </template>
          </q-table>
        </template>
        <p v-else><em>No lobbyists to display.</em></p>
      </div>
    </q-tab-panel>

    <!-- Subcontractors Tab -->
    <q-tab-panel name="subcontractors">
      <div v-if="hasSubcontractors">
        <h2>Subcontracted lobbyists</h2>
        <q-table
          flat
          row-key="lobbyist_client_id"
          :columns="[
            {name: 'subcontracted_lobbyist_name', label: 'Lobbyist', field: 'subcontracted_lobbyist_name', align: 'left'},
            {name: 'name', label:'Client', field: 'name', align: 'left'},
            {name: 'employment_status', label:'Employment status', field: 'period_end', align: 'left'}
          ]"
          :rows="firm.firmReports.subcontracted_lobbyists"
        >
          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              {{ props.row.name }}
            </q-td>WASDXAA
          </template>
          <template v-slot:body-cell-subcontracted_lobbyist_name="props">
            <q-td :props="props">
              <router-link v-if="props.row.current_submission_id" :to="{ name: 'firm-l1-contract', params: {submission_id: props.row.current_submission_id} }">
                {{ props.row.subcontracted_lobbyist_name }}
              </router-link>
            </q-td>
          </template>
          <template v-slot:body-cell-employment_status="props">
            <q-td :props="props">
              Valid through: {{ formatDate(props.row.period_end) }}
            </q-td>
          </template>
        </q-table>
      </div>
    </q-tab-panel>

    <!-- Profile Tab -->
    <q-tab-panel name="profile">
      <q-toolbar >
        <q-select v-model="currentProfile" :options="firmReports.profiles" option-label="biennium" map-options />
        <profile-history :profile-id="currentProfile.profile_id" :submission-id="currentProfile.submission_id"/>
      </q-toolbar>
      <div class="q-pa-md">
            <view-firm-profile-report :profile="currentProfile"/>
      </div>
    </q-tab-panel>

    <!-- Other Reports Tab -->
    <q-tab-panel name="other">
      <div class="q-mb-xl">
        <l7-data-table
          :loadedReports="firm.firmReports.l7Reports"
          class="q-mb-xl"
          target_type="lobbyist_firm"/>
      </div>
    </q-tab-panel>
  </q-tab-panels>

  <!-- Dialogs remain at root level -->
  <L2CarryForwardDialog v-model="createNewDraft" :l2draft="l2draft" :prior-reports="priorReports" />

  <q-dialog v-model="showL1Dialog" persistent>
    <q-card>
      <q-form @submit="createL1Draft">
        <q-card-section>
          <div class="q-mb-md text-h6 ">New employment contract registration</div>
          <q-field :rules="[rules.required]" dense hide-bottom-space v-model="hireType" borderless>
            <q-option-group
              type="radio"
              :options="[
                { label: 'Hired directly by the client (employer)', value: 'direct' },
                { label: 'Subcontracting (hired by another lobbyist/firm)', value: 'subcontractor' }
              ]"
              v-model="hireType"
              @update:model-value="onHireTypeChange"
            />
          </q-field>
          <div v-if="hireType === 'direct'">
            <p-select-search
              @update:model-value="onClientChange"
              label="Client/employer"
              value-property="lobbyist_client_id"
              label-property="name"
              v-model="selectedL1ClientId"
              :options="clients"
              :rules="[rules.required]"
            />
            <q-select
              label="Covering"
              label-property="label"
              v-model="selectedL1Period"
              :options="filteredPeriods"
            />
          </div>
          <div v-else-if="hireType === 'subcontractor'">
            <p-select-search
              @update:model-value="onFirmChange"
              v-model="selectedL1FirmId"
              label="Lobbyist that hired you"
              value-property="lobbyist_firm_id"
              label-property="name"
              :options="firms"
              :rules="[rules.required]"
            />
            <q-select
              @update:model-value="filteredPeriods"
              v-model="selectedL1ClientId"
              label="Client/Employer"
              :options="filteredEmploymentClients"
              option-value="lobbyist_client_id"
              option-label="name"
              emit-value
              map-options
              :rules="[rules.required]"
            />
            <q-select
              label="Covering"
              label-property="label"
              v-model="selectedL1Period"
              :options="filteredPeriods"
              :rules="[rules.required]"
            />
          </div>
          <!-- Message when no clients are found on selected firm id-->
          <div v-if="selectedL1FirmId && filteredEmploymentClientContracts.length === 0" class="text-negative">
            The selected Contractor/Firm does not have any approved employers. Please contact the lobbyist who hired you.
          </div>
          <!-- Message when no bienniums are found -->
          <div v-if="selectedL1ClientId && filteredPeriods.length === 0" class="text-negative">
            No available bienniums for this client and contractor.
          </div>
        </q-card-section>
        <q-card-actions>
          <q-btn type="submit" color="primary">Create</q-btn>
          <q-btn @click="showL1Dialog = false" >Cancel</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="showEmployerHistoryDialog" persistent>
    <q-card>
      <q-card-section>
        <div class="q-mb-md text-h6">
          Employment contract submissions for {{client_name}}
        </div>
        <template v-if="submissions">
          <q-table
            :rows="submissions"
            :columns="contracts_columns"
            flat
            row-key="submission_id">
            <template v-slot:body-cell-period="{ row }">
              <q-td style="width:16px">
                    <span v-if="row.draft_id && row.status === 'Draft'">
                      <router-link :to="{name: 'edit-l1', params: {draft_id: row.draft_id}}">
                        {{ getYearRange(row.period_start, row.period_end) }}
                      </router-link>
                    </span>
                <span v-else-if="row.draft_id">
                      <router-link :to="{name: 'firm-l1-preview', params: {draft_id: row.draft_id}}">
                        {{ getYearRange(row.period_start, row.period_end) }}
                      </router-link>
                    </span>
                <span v-else>
                      <router-link :to="{name: 'firm-l1-contract', params: {submission_id: row.current_submission_id}}">
                        {{ getYearRange(row.period_start, row.period_end) }}
                      </router-link>
                    </span>
              </q-td>
            </template>
            <template v-slot:body-cell-submitted_at="{ row }">
              <q-td style="width:16px">
                {{ formatDate(row.submitted_at) }}
              </q-td>
            </template>
            <template v-slot:body-cell-status="{ row }">
              <q-td style="width:16px">
                <span v-if="row.draft_id">Draft</span>
                <span v-if="isEmpty(row.approval) && row.draft_id === null">Submitted</span>
                <span v-if="row.approval">Approved</span>
              </q-td>
            </template>
          </q-table>
        </template>
      </q-card-section>
      <q-card-actions>
        <q-btn @click="showEmployerHistoryDialog = false">Close</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped>
.action-button {
  width: 5em;
}

.tabs {
  background: #e3f4e6;
}

::v-deep(.nav-tab .q-tab__label) {
  font-size: 1.1em;
  padding: .5em;
  color: black !important;
}

.has-notification {
  padding-right: 2.3em;
}

/* Mobile styling */
.mobile-tab-select {
  background-color: #e3f4e6;
  border-radius: 4px;
}

/* Make tap targets larger on mobile */
.lt-md .q-field--filled .q-field__control {
  min-height: 56px;
  padding: 0 16px;
}
</style>
