<script setup>
/**
 * Imports.
 */
import {reactive, ref, watch} from "vue"
import { useAccessHub } from "src/AccessHub"
import { useRoute, useRouter } from "vue-router"
import { useFirm } from "src/firm"
import L7DataTable from "components/L7DataTable.vue"
import {formatDate, formatDateTime} from "@wapdc/pdc-ui/util"
import { getMonthYear } from "../utils"
import { useApplication } from "@wapdc/pdc-ui/application"
import L2CarryForwardDialog from "components/StartL2Dialog.vue"
import { useLobbyist } from "src/lobbyist"

/**
 * Vue Router instance.
 * @type {Object}
 */
const route = useRoute()
const router = useRouter()

let lobbyistApi
lobbyistApi = (await useLobbyist()).lobbyistApi
/**
 * Composition function to get the AccessHub URL.
 * @type {Function}
 */
const { accessHubUrl, accesshub_url } = await useAccessHub()

/**
 * Firm instance with methods and properties for firm data.
 * @type {Object}
 */
const firm = await useFirm()
const {userHasPermission} = await useApplication()

/**
 * Firm ID obtained from the route parameters.
 * @type {string}
 */
const firm_id = route.params.firm_id?.toString()

/**
 * Declare agents and clients as empty arrays.
 * @type {Ref<UnwrapRef<*[]>, UnwrapRef<*[]> | *[]>}
 */
const agents = ref([])

await firm.getReports()
agents.value = firm.firmReports.agents

const allowL2 = ref(userHasPermission( 'lobbyist file l2'))

function showMenuLink(link) {
  if (link.limitTo) {
    return link.limitTo()
  }
  return true
}

/**
 * Watches for changes in the route firm_id and updates firm reports.
 */
watch(() => route.params.firm_id, async (newId, oldId) => {
  if (newId !== oldId) {
    await firm.getReports()
    agents.value = firm.firmReports.agents
  }
})

/**
 * Defines the columns for the agents table.
 * @type {Array<Object>}
 */
const columns = ref([
  { name: 'agent_picture', label: '', field: 'agent_picture', sortable: false },
  { name: 'name', required: true, label: 'Name', align: 'left', field: 'name', sortable: true },
  { name: 'picture_updated', label: 'Last Updated', align: 'left', field: 'picture_updated', sortable: true },
  {
    name: 'training_certified',
    label: 'Training Certified',
    align: 'left',
    field: 'training_certified',
    sortable: true
  },
  { name: 'bio', label: 'Bio', align: 'left', field: 'bio', sortable: true }
])

/**
 * Array of links for the lobbyist menu.
 * @type {Array<Object>}
 */
const lobbyist_menu_links = [
  {
    title: 'Current registration',
    to: { name: `firm-registration`, params: { submission_id: firm.firm.current_submission_id } }
  },
  { title: 'File last minute contribution', url: `/lmc/lobbyist/firm/${ firm_id }` }
]

/**
 * Generates a URL for an image path.
 * @param {string} path - The path to the image.
 * @returns {string} The complete URL to the image.
 * Note: This is a temp function until all files are moved from accesshub
 */
function getImageUrl(path) {
  return path ? path.replace('public://', `${ accesshub_url }/sites/default/files/styles/thumbnail/public/`): null
}

// create a filter function that will only return l2 reports that have been filed
const priorReports = firm.firmReports.l2Periods.filter(report => report.status === 'Filed')

const period_start = ref('')
const l2draft = reactive({
  period_start,
  reporting_dates: priorReports,
  user_data: {},
})

/**
 * Formats a list of years into a comma-separated string.
 * @param {Array<number>} years - An array of year numbers.
 * @returns {string} A formatted string of years.
 */
function displayYears(years) {
  return years ? years.slice().sort((a, b) => b - a).join(', ') : ''
}

const createNewDraft = ref(false)
function onFileL2Draft(row) {
  period_start.value = row.period_start
  if (row.draft_id) {
    router.push({name: 'edit-l2', params: {period_start: row.period_start}})
  } else {
    createNewDraft.value = true
  }
}
function newAccesshubReport(period) {
  return accessHubUrl(`/filing/lobbyist-filing/` + firm_id + `?reporting_period=` + period.slice(0,7))
}

function deleteAccesshubReport(drupal_nid) {
  return accessHubUrl(`/node/` + drupal_nid + `/delete?destination=node/` + firm_id);
}

function draftAccesshubReport(drupal_nid) {
  return accessHubUrl(`/node/` + drupal_nid + `/edit`)
}

</script>
<template>
  <q-toolbar class="q-px-none q-mb-md" style="min-height: 30px;">
    <template v-for="(link, index) in lobbyist_menu_links" :key="index">
      <template v-if="showMenuLink(link)">
        <a v-if="link.url" :href="link.url">{{ link.title }}</a>
        <router-link v-else :to="link.to">{{ link.title }}</router-link>
        <q-separator v-if="index < lobbyist_menu_links.length - 1"
                     class="q-mx-md"
                     inset
                     vertical/>
      </template>
    </template>
  </q-toolbar>
  <div class="q-mb-xl">
    <div v-if="firm.firmReports.pendingLegacyContracts?.length">
      <h2>Pending contracts</h2>
      <q-list>
        <q-item v-for="pend in firm.firmReports.pendingLegacyContracts" :key="`${pend.drupal_nid}`">
          <q-item-section>
            <q-item-label>
              {{pend.client_name}}
            </q-item-label>
            <q-item-label caption>
              updated: {{formatDateTime(pend.updated_at)}}
            </q-item-label>
            <q-item-label caption class="row">
              <a :href="accessHubUrl(`/node/` + pend.drupal_nid + `/edit`)">Amend</a>
              <q-separator class="q-mx-sm"
                           vertical/>
              <a v-if="pend.draft_id" :href="accessHubUrl(`/node/` + pend.drupal_nid + `/delete`)">Delete</a>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
    <div v-if="firm.firmReports.legacySubContractsToApprove?.length">
      <h2>Contracts to approve</h2>
      <q-list>
        <q-item v-for="ca in firm.firmReports.legacySubContractsToApprove" :key="`${ca.drupal_nid}`">
          <q-item-section>
            <q-item-label>
              <a :href="accessHubUrl(`/approve/${ca.drupal_nid}?destination=node/${firm.firm.lobbyist_firm_id}`)">{{ca.title}}</a>
            </q-item-label>
            <q-item-label caption>
              updated: {{formatDate(ca.updated_at)}}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
    <h2>Monthly reports (L2)</h2>
    <q-table :columns="[
                 {name: 'period-start', label:'Month', field: 'period_start', align: 'left', sortable: true, format: getMonthYear},
                 {name: 'due-date', label: 'Due', field: 'due_date', align: 'left', format: formatDate},
                 {name: 'report-id', label: 'Report Id', field: 'report_id', align: 'left'},
                 {name: 'action', label: 'Action',  align: 'left'},
                 {name: 'status', label: 'Status', align: 'left', field: 'status'},
                 {name: 'submitted_at', label:'Date filed/amended', field: 'submitted_at', align: 'left', format: formatDate}]"
             :rows="firm.firmReports.l2Periods"
             flat
    >
      <template v-slot:body-cell-report-id="props">
        <q-td :props="props">
          <router-link v-if="props.row.report_id" :to="{name: `firm-l2`, params: {submission_id: props.row.submission_id}}">
            {{ props.row.report_id}}
          </router-link>
        </q-td>
      </template>
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <div v-if="allowL2">
            <div v-if="props.row.draft_id">
              <q-btn class="action-button" :to="{name: 'edit-l2', params: {period_start: props.row.period_start}}" small color="primary">Edit</q-btn>
            </div>
            <q-btn v-else-if="!props.row.report_id" @click="onFileL2Draft(props.row)" class="action-button" small color="primary">Start</q-btn>
          </div>
          <div v-else>
            <div v-if="props.row.legacy_draft" class="row items-center justify-between">
              <div class="col-auto">
                <q-btn class="action-button" :href="draftAccesshubReport(props.row.drupal_nid)" small color="primary">Edit</q-btn>
              </div>
              <div class="col-auto">
                <a class="content-between" :href="deleteAccesshubReport(props.row.drupal_nid)">Delete</a>
              </div>
              <div class="col-auto"></div>
            </div>
            <q-btn v-else-if="!props.row.report_id" class="action-button" :href="newAccesshubReport(props.row.period_start)" small color="primary">Start</q-btn>
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
  <div class="q-mb-xl">
    <h2>Client/employment contracts</h2>
    <div v-if="firm.firmReports.clients?.length">
      <q-table :columns="[
               {name: 'name', label:'Client', field: 'name', align: 'left'},
               {name: 'years-filed', label:'Years filed', field: 'years_filed', align: 'left'},
               {name: 'period_start', label:'Period start', field: 'period_start', align: 'left', format: formatDate},
               {name: 'period_end', label:'Period end', field: 'period_end', align: 'left', format: formatDate}
               ]"
               :rows="firm.firmReports.clients"
               flat
               row-key="lobbyist_client_id"
      >
        <template v-slot:body-cell-name="props">
          <q-td :props="props">
            <router-link :to="{ name: 'firm-l1-contract', params: {submission_id: props.row.current_submission_id} }">
              {{ props.row.name }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-employment-registration="props">
          <q-td :props="props">
            <q-separator class="q-mx-sm" inset vertical/>
            <a class="content-center" :href="accessHubUrl(`node/${props.row.lobbyist_contract_id}/edit`)">Amend</a>
          </q-td>
        </template>
        <template v-slot:body-cell-years-filed="props">
          <q-td :props="props">
            {{ displayYears(props.row.years_filed) }}
          </q-td>
        </template>
      </q-table>
    </div>
    <p v-else><em>No clients or employers to display.</em></p>
    <div v-if="firm.firmReports.employment_contracts?.length" >
      <h3>Employment via subcontract</h3>
      <q-table :columns="[
               {name: 'name', label:'Client', field: 'name', align: 'left'},
               {name: 'subcontractor_name', label: 'Contracted through', field: 'subcontractor_name', align: 'left'},
               {name: 'employment_status', label:'Employment status', field: 'period_end', align: 'left'}]"
               :rows="firm.firmReports.employment_contracts"
               flat
               row-key="lobbyist_client_id"
      >
        <template v-slot:body-cell-name="props">
          <q-td :props="props">
            <router-link v-if="props.row.current_submission_id" :to="{ name: 'firm-l1-contract', params: {submission_id: props.row.current_submission_id} }">
              {{ props.row.name }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-employment_status="props">
          <q-td :props="props">
            Valid through: {{ formatDate(props.row.period_end) }}
          </q-td>
        </template>
      </q-table>
    </div>
    <q-btn icon="add" color="primary" :href="accessHubUrl(`reports/fer_select_contractor?firm_nid=${ firm_id }`)">Employment/contract registration</q-btn>
  </div>
  <div v-if="firm.firmReports.subcontracted_lobbyists?.length" >
    <h2>Subcontracted lobbyists</h2>
    <q-table :columns="[
               {name: 'subcontracted_lobbyist_name', label: 'Lobbyist', field: 'subcontracted_lobbyist_name', align: 'left'},
               {name: 'name', label:'Client', field: 'name', align: 'left'},
               {name: 'employment_status', label:'Employment status', field: 'period_end', align: 'left'}]"
             :rows="firm.firmReports.subcontracted_lobbyists"
             flat
             row-key="lobbyist_client_id"
    >
      <template v-slot:body-cell-name="props">
        <q-td :props="props">
          {{ props.row.name }}
        </q-td>
      </template>
      <template v-slot:body-cell-subcontracted_lobbyist_name="props">
        <q-td :props="props">
          <router-link v-if="props.row.current_submission_id" :to="{ name: 'firm-l1-contract', params: {submission_id: props.row.current_submission_id} }">
            {{ props.row.subcontracted_lobbyist_name }}
          </router-link>
        </q-td>
      </template>
      <template v-slot:body-cell-employment_status="props">
        <q-td :props="props">
          Valid through: {{ formatDate(props.row.period_end) }}
        </q-td>
      </template>
    </q-table>
  </div>
  <div class="q-mb-xl">
    <l7-data-table
      :loadedReports="firm.firmReports.l7Reports"
      class="q-mb-xl"
      target_type="lobbyist_firm"/>
  </div>

  <div class="q-mb-lg">
    <h2>Lobbyists on file</h2>
    <template v-if="agents">
      <q-table
        :columns="columns"
        :rows="agents"
        flat
        row-key="lobbyist_firm_id"
      >
        <template v-slot:body-cell-agent_picture="{ row }">
          <q-td style="width:16px">
            <q-avatar>
              <img :src="getImageUrl(row.agent_picture)" alt="Agent Picture" style="width: 50px; height: auto;">
            </q-avatar>
          </q-td>
        </template>
        <template v-slot:body-cell-picture_updated="{ row }">
          <q-td>
            {{ formatDate(row.picture_updated) }}
          </q-td>
        </template>
        <template v-slot:body-cell-training_certified="{ row }">
          <q-td>
            {{ formatDate(row.training_certified) }}
          </q-td>
        </template>
      </q-table>
    </template>
    <p v-else><em>No lobbyists to display.</em></p>
  </div>
  <!-- Note: Clicking on the start button in the table that list the periods to file - the start button should be smart enough to know if they have something to carry forward otherwise it should just start a new report //-->
  <L2CarryForwardDialog v-model="createNewDraft" :l2draft="l2draft" :prior-reports="priorReports" />
</template>
<style scoped>
.action-button {
  width: 5em;
}
</style>

