<script setup>
import {ref} from 'vue'
import {useLobbyist} from "src/lobbyist";
import {useAccessHub} from "src/AccessHub";
const {accessHubUrl} = await useAccessHub();
const {lobbyistApi} = await useLobbyist()

const firms = ref([]);
const clients = ref([]);

function  getFirmsAndClients() {
  // Call aws to get the firms and clients.
  lobbyistApi.get('my-firms-and-clients').then((result) => {
    if (result) {
      firms.value = result.firms;
      clients.value = result.clients;
    }
  });

}
getFirmsAndClients();

function reportsDue(dueAmount) {
  return dueAmount !== 0 ? dueAmount : false;
}
</script>

<template>
  <h1>Lobbyist Electronic Filing</h1>
  <q-toolbar  class="q-px-none q-mb-md">
    <a :href="accessHubUrl('emp/lookup')">Link account to existing registration</a>
  </q-toolbar>
  <q-card class="q-mb-sm">
    <q-card-section>
      <div class="text-h2 q-mb-sm">Lobbyists I file for</div>
      <p>Lobbyists that you file monthly (L2) reports for.  Select the lobbyist name for more options.</p>
      <q-table :rows="firms" flat
               :columns="[
                 {name: 'name', label:'Name', field: 'name', align: 'left'},
                 {name: 'due', label:'Reports Due', field:'', align: 'left'}]"
      >
        <template v-slot:body-cell-name="props">
          <q-td :props="props">
            <router-link :to="`/firm/${props.row.lobbyist_firm_id}`">{{props.row.name}}</router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-due="props">
          <q-td :props="props">
            {{ reportsDue(props.row.report_due_count) ? `${props.row.report_due_count} Reports Due` : '' }}
          </q-td>
        </template>
      </q-table>
    </q-card-section>
    <q-card-actions>
      <q-btn icon="add" color="primary" :href="accessHubUrl('create-a-new-lobbyist-firm')">Register</q-btn>
    </q-card-actions>
  </q-card>
  <q-card>
    <q-card-section>
      <div class="text-h2 q-mb-sm">Clients/Employers I file for</div>
      <p>Clients/employers that you file annual (L3) reports for.  Select the client's name for more options.</p>

      <q-table :rows="clients"
               flat
               :columns="[
               {name: 'name', label:'Name', field: 'name', align: 'left'},
               {name: 'due', label:'Reports Due', field:'', align: 'left'}
               ]"
      >

        <template v-slot:body-cell-name="props">
          <q-td :props="props">
            <router-link :to="`/client/${props.row.lobbyist_client_id}`">{{props.row.name}}</router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-due="props">
          <q-td :props="props">
            {{ reportsDue(props.row.report_due_count) ? `${props.row.report_due_count} Reports Due` : '' }}
          </q-td>
        </template>
      </q-table>
    </q-card-section>
    <q-card-actions>

      <q-btn icon="add" :href="accessHubUrl('create-a-new-employer')" color="primary">
        register
      </q-btn>
    </q-card-actions>
  </q-card>

</template>

<style scoped>

</style>
