<script setup>
import {computed, reactive, ref} from 'vue'
import {formatName, formatPhone} from "../utils";
import {useRoute} from "vue-router";
import FirmRegistrationHistory from "components/FirmRegistrationHistory.vue";
import { useLobbyist } from "src/lobbyist";
import {useAccessHub} from "src/AccessHub";

const {lobbyistApi} = await useLobbyist()
const { accessHubUrl, accesshub_url } = await useAccessHub()
const route = useRoute();
const submission_id = route.params.submission_id;
const firm_id = route.params.firm_id;

const registration = reactive({
  lobbyist_firm_id: null,
  user_data: {
    address: {},
    temporary_thurston_addr: {},
    lob_firm_agents: []
  },
  version: null
});

const user_data = computed(() => registration.user_data)
const address = computed(() => registration.user_data.address);
const temp_address = computed(() => registration.user_data.temporary_thurston_addr)
const agents = computed(() => registration.user_data.lob_firm_agents);
const showDialog = ref(false);

function toggleDialog() {
  showDialog.value = !showDialog.value;
}

function formatMonthYear(dateTime) {
  const date = dateTime.split(' ')[0];
  const parts = date.split("-")
  return `${parts[1]}/${parts[2]}/${parts[0]}`
}

function doPrint(){
  window.print();
}
function getImageUrl(path) {
  return path ? path.replace('public://', `${ accesshub_url }/sites/default/files/styles/thumbnail/public/`): null
}
const getRegistration = async () => {
  const result = await lobbyistApi.get(`/firm/${firm_id}/firm-registration/${submission_id}`)
    if (result) {
      Object.assign(registration, result);
    }
}

await getRegistration();
</script>

<template v-if="user_data">
  <firm-registration-history
    v-model:showDialog="showDialog"
    :firm-id="Number(firm_id)"
    :current-submission="Number(submission_id)"/>
  <q-toolbar class="shadow-1 q-mb-sm print-hide">
    <q-btn color="primary" class="q-mr-sm" :href="accessHubUrl(`node/${ firm_id }/edit`)">Amend</q-btn>
    <q-btn
      @click="doPrint()"
      class="q-mr-sm"
      label="Print"
      icon="print"/>
    <q-btn
      @click="toggleDialog"
      label="Registration history"
      icon="history"/>
  </q-toolbar>
  <q-card class="q-mb-sm">
    <div class="row">
      <q-card-section class="col-6">
        <h3>Address</h3>
        <div>{{address.thoroughfare}} </div>
        <div v-if="address.premise">{{address.premise}}</div>
        <div>{{address.locality}}, {{address.administrative_area}} {{address.postal_code}}</div>
        <div>{{address.country}}</div>
        <div v-if="user_data.firm_phone_number">{{formatPhone(user_data.firm_phone_number)}}</div>
        <div v-if="user_data.email">{{user_data.email.email}}</div>
      </q-card-section>
      <q-card-section clas="col-6">
        <h3>Temporary address</h3>
        <div v-if="temp_address.thoroughfare">{{temp_address.thoroughfare}} </div>
        <div v-if="temp_address.premise">{{temp_address.premise}}</div>
        <div v-if="temp_address.locality">{{temp_address.locality}}, {{temp_address.administrative_area}} {{temp_address.postal_code}}</div>
        <div v-if="temp_address.country">{{temp_address.country}}</div>
      </q-card-section>
    </div>

  </q-card>

  <h2>Lobbyists</h2>
  <div class="row">
  <q-card class="q-mr-sm q-mb-sm" v-for="agent in agents" :key="agent.id">
    <q-card-section >
      <div class="text-h3">{{formatName(agent.firm_agent_name)}}</div>
      <p v-if="agent.year_first_employed">Lobbying since: {{agent.year_first_employed.value.slice(0, 4)}}</p>
      <p>{{agent.agent_bio.value}}</p>
      <img :src="getImageUrl(agent.agent_picture.uri)" :alt="`Photo of ${formatName(agent.firm_agent_name)}`"/>
    </q-card-section>
    <q-card-section>
      <p>This lobbyist certified completion of required code of conduct training on {{formatMonthYear(agent.lob_cert_date.value)}}</p>
    </q-card-section>
  </q-card>
  </div>
</template>

<style scoped>

</style>
