<script setup>
import {computed, reactive, ref} from 'vue'
import {useQuasar} from 'quasar'
import {useRouter, useRoute} from "vue-router"
import {usePublicAgency} from "src/PublicAgency"
import {useVerification} from "src/Verification"

const quasar = useQuasar()
const router = useRouter()
const route = useRoute()

const {getPublicAgencies} = await usePublicAgency()
const {agencies} = await getPublicAgencies()

const requestId = route.params.request_id
const {access_request} = await (await useVerification()).getAccessRequest(requestId)
const targetId = ref(null)
let providedAgencyId = null
let email = null
const possibleAgency = ref(null)
const accessRequestData = access_request.payload

if(access_request){
    if (access_request.possible_target_id) {
      targetId.value = access_request.possible_target_id
      //store the original value for display purposes
      providedAgencyId = access_request.possible_target_id
      possibleAgency.value = agencies.find(agency => agency.id === access_request.possible_target_id)
    }
    email = access_request.email
}

const agencyAccess = reactive({
  update: false,
  create: false,
})

async function submitNoMatch() {
  const payload = accessRequestData
  const agency_id = null
  const {success} = await (await useVerification()).verifyAccessRequest(requestId, email, agency_id, payload)
  if (success) {
    quasar.notify({
      position: "top",
      type: "positive",
      message: "New agency has been created"
    })
    await router.push('/admin/access-requests')
  }
}


const update = ref(true)
const options = [{label: 'Grant access and update public agency information', value: true}, {label: 'Grant access only', value: false}]
async function submitMatch() {
  if (possibleAgency.value) {
    const payload = update.value ? accessRequestData : possibleAgency.value
    const agency_id = possibleAgency.value.id
    const {success} = await (await useVerification()).verifyAccessRequest(requestId, email, agency_id, payload)
    if (success) {
      quasar.notify({
        position: "top",
        type: "positive",
        message: "Access has been granted and the record has been merged"
      })
      await router.push('/admin/access-requests')
    }
  }
}

function updatedPotentialAgency() {
  possibleAgency.value = agencies.find(agency => agency.id === targetId.value)
}

const deleteDialog = ref(false)

function toggleDeleteDialog() {
  deleteDialog.value = !deleteDialog.value
}
async function deleteRequest(){
  const success = await (await useVerification()).deleteAccessRequest(requestId)
  if(success){
    quasar.notify({
      position: "top",
      type: "positive",
      message: "Successfully denied access request"
    })
    await router.push('/admin/access-requests')
  }
}

const disableSubmit = computed(() => {
  return (update.value === false && possibleAgency.value.head === null)
})

</script>

<template>
  <h1>
    Public agency lobbying verification
  </h1>
  <div class="row q-col-gutter-md">
    <div class="col-12 col-sm-6">
      <div v-if="accessRequestData">
        <h2 class="q-ma-none">Submitted by {{ email }}:</h2>
        <div class="q-ml-sm q-ml-md-lg">
          <h3 class="q-mb-xs">{{ accessRequestData.name }}</h3>
          <div>{{ accessRequestData.address }}, {{ accessRequestData.city }}, {{ accessRequestData.state }}
            {{ accessRequestData.zip }}
          </div>
          <div v-if="accessRequestData.county">County: {{ accessRequestData.county }}</div>
          <div v-if="accessRequestData.contact">{{ accessRequestData.contact }}</div>
          <div v-if="accessRequestData.phone">{{ accessRequestData.phone }}</div>
          <div v-if="accessRequestData.email">{{ accessRequestData.email }}</div>
        </div>
      </div>
      <div v-if="possibleAgency" class="q-mt-md">
        <h2 class="q-ma-none">Possible match<span v-if="possibleAgency.id === providedAgencyId"> (filer provided)</span>:
        </h2>
        <div class="q-ml-sm q-ml-md-lg">
          <h3 class="q-mb-xs">{{ possibleAgency.name }}</h3>
          <div>{{ possibleAgency.address }} {{ possibleAgency.city }}, {{ possibleAgency.state }}
            {{ possibleAgency.zip }}
          </div>
          <div v-if="possibleAgency.county">County: {{ possibleAgency.county }}</div>
          <div v-if="possibleAgency.contact">{{ possibleAgency.contact }}</div>
          <div v-if="possibleAgency.phone">{{ possibleAgency.phone }}</div>
          <div v-if="possibleAgency.email">{{ possibleAgency.email }}</div>
        </div>
      </div>
      <div v-else class="q-mt-md">
        <h2 class="q-ma-none">No filer suggested match</h2>
        <p>Search for possible matches.</p>
      </div>
      <div class="row q-col-gutter-sm q-mt-md">
        <div class="full-width">
          <q-btn class="full-width" :disable="!possibleAgency" label="Merge selected agency" color="primary"
                 @click="agencyAccess.update = true"></q-btn>
        </div>
        <div class="full-width">
          <q-btn class="full-width" label="Create new agency" @click="agencyAccess.create = true"></q-btn>
        </div>
        <div class="full-width" >
          <q-btn class="full-width" label="Deny" @click="toggleDeleteDialog" color="negative"></q-btn>
        </div>
        <div class="full-width">
          <q-btn class="full-width" label="Cancel" @click="router.back()"></q-btn>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6" :class="{'order-first': $q.screen.lt.sm}">
      <div>
        <p-select-search :use-buttons="false" :set-focus="!possibleAgency" v-model="targetId"
                       @update:modelValue="updatedPotentialAgency"
                       :options="agencies" name="Public Agency" value-property="id"
                       label-property="name"></p-select-search>
      </div>
    </div>
  </div>
  <q-dialog v-model="agencyAccess.update" persistent>
    <q-card>
      <q-card-section>
        <div class="q-mb-md">
          <h3>{{ accessRequestData.name }}</h3>
          <h4>New agency information</h4>
          <div>{{ accessRequestData.address }}, {{ accessRequestData.city }}, {{ accessRequestData.state }}
            {{ accessRequestData.zip }}
          </div>
          <div v-if="accessRequestData.county">County: {{ accessRequestData.county }}</div>
          <div v-if="accessRequestData.contact">{{ accessRequestData.contact }}</div>
          <div v-if="accessRequestData.phone">{{ accessRequestData.phone }}</div>
          <div v-if="accessRequestData.email">{{ accessRequestData.email }}</div>
        </div>
        <div class="q-mb-md">
          Select one of the options below for the filer access request:
        </div>
        <div>
          <q-option-group :options="options" type="radio" v-model="update"></q-option-group>
          <div class="q-ml-sm text-red-12" v-if="disableSubmit">The head of agency is missing, please update.</div>
        </div>
      </q-card-section>
      <q-card-actions>
        <q-btn label="Submit" :disable="disableSubmit" @click="submitMatch()" color="primary"></q-btn>
        <q-btn label="Cancel" @click="agencyAccess.update = false"></q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog v-model="agencyAccess.create" persistent>
    <q-card>
      <q-card-section>
        <h3>{{ accessRequestData.name }}</h3>
        <div class="q-mb-md">The agency, {{ accessRequestData.name }}, will be created and the filer will be granted access.
        </div>
        <div class="q-mb-md">
          <div>{{ accessRequestData.address }}, {{ accessRequestData.city }}, {{ accessRequestData.state }}
            {{ accessRequestData.zip }}
          </div>
          <div v-if="accessRequestData.county">County: {{ accessRequestData.county }}</div>
          <div v-if="accessRequestData.contact">{{ accessRequestData.contact }}</div>
          <div v-if="accessRequestData.phone">{{ accessRequestData.phone }}</div>
          <div v-if="accessRequestData.email">{{ accessRequestData.email }}</div>
        </div>
      </q-card-section>
      <q-card-actions>
        <q-btn label="Create new agency" @click="submitNoMatch()" color="primary"></q-btn>
        <q-btn label="Cancel" @click="agencyAccess.create = false"></q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
    <q-dialog v-model="deleteDialog" persistent>
      <q-card>
        <q-card-section>
          No email will be sent; you will need to notify the filer about this request.
        </q-card-section>
        <q-card-section>
          Are you sure you want to deny the request?
        </q-card-section>
        <q-card-actions>
          <q-btn color="negative" @click="deleteRequest">Deny</q-btn>
          <q-btn @click="toggleDeleteDialog">Cancel</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>
