<script setup>
import {useRouter} from "vue-router";
import {useQuasar} from "quasar";
import {nextTick, reactive, ref} from "vue";
import rules from "src/rules";
import {usePublicAgency} from "src/PublicAgency";

const quasar = useQuasar();
const router = useRouter();

const _agencies = ref([]);
const targetId = ref(null);

const {getPublicAgencies, submitPublicAgencyRequest} = await usePublicAgency()

const publicAgency = reactive({
  name: '',
  address: '',
  city: '',
  state: 'WA',
  zip: '',
  county: '',
  contact: '',
  phone: '',
  email: '',
  head: '',
})

async function getAgencies(){
  const {success, agencies} = await getPublicAgencies()
  if(success){
     _agencies.value = agencies;
  }
}

await getAgencies();

async function onSubmit(){
  const payload = publicAgency;
  const target_id = targetId.value;
  const success = await submitPublicAgencyRequest(target_id, payload)
  if(success) {
    quasar.notify({
      position: "top",
      type: "positive",
      message: "Request sent for verification by PDC"
    })
    await router.push('/public-agency')
  }
}

const searched = ref(false);

//focus inputs
const name = ref(null);
const address = ref(null);

function updateSearched(){
  searched.value = true
  nextTick(() => {
    if(!targetId.value){
      name.value.focus();
    }else{
      address.value.focus();
    }
  })
}

const certificationStatement = ref(null)

</script>
<template>
  <h1>
    Public agency registration
  </h1>
  <div v-if="!searched">
    <h2>
      Agency search
    </h2>
    <p>Begin typing your agency name to search a list of existing public agencies registered for lobbying.
      It may help to try abbreviations or keywords  such as "financial" or "court." If you cannot find your agency, select "Not found."
    </p>
    <p-radio-search
      v-model="targetId" set-focus v-model:name="publicAgency.name" @searched="updateSearched" :options="_agencies"
      value-property="id" label-property="name" />
  </div>
  <div v-if="searched">
    <p>
      Please provide information about your agency below so that we can validate your request.
      <strong>The information you provide will become the information of record for the agency</strong>.
      Do not provide your individual information unless you are the official point of contact for the agency.
    </p>
    <q-form @submit.prevent="onSubmit">
      <div class="col-12 col-sm">
        <q-input ref="name" label="Agency name" :rules="[rules.required]" type="text" v-model="publicAgency.name"></q-input>
        <q-input ref="address" label="Agency address" :rules="[rules.required]" type="text" v-model="publicAgency.address"></q-input>
        <div class="row">
          <div class="col-5">
            <q-input label="City" :rules="[rules.required]" type="text" v-model="publicAgency.city"></q-input>
          </div>
          <div class="col-2">
            <q-input label="State" :rules="[rules.required]" type="text" v-model="publicAgency.state" disable></q-input>
          </div>
          <div class="col-5">
            <q-input label="Zip" :rules="[rules.required]" type="text" v-model="publicAgency.zip"></q-input>
          </div>
        </div>
        <q-input label="County"  :rules="[rules.required]" type="text" v-model="publicAgency.county"></q-input>
        <q-input label="Primary agency contact name" :rules="[rules.required]" type="text" v-model="publicAgency.contact"></q-input>
        <q-input label="Primary agency phone" :rules="[rules.required]" type="text" v-model="publicAgency.phone"></q-input>
        <q-input label="Primary agency email" :rules="[rules.required, rules.validEmail]" type="email" v-model="publicAgency.email"></q-input>
        <q-input label="Head of agency" :rules="[rules.required]" type="text" v-model="publicAgency.head"></q-input>
        <p>
          By typing <strong>I certify</strong> on the line below, I certify that I have the authority to sign this
          submission for the named public agency and that the information contained in this submission is true. I
          understand that Washington state law places penalties on false reports, up to and including perjury.
        </p>
        <p>
          I also acknowledge having read the commission's requirements for electronic filing as set forth in
          <a href="https://app.leg.wa.gov/wac/default.aspx?cite=390-19-010" target="_blank">WAC-390-19-010 through 050.</a>
        </p>
        <q-input
          lazy-rules
          label="Type here"
          v-model="certificationStatement"
          :rules="[rules.required, rules.validCertificationStatement]"
        />
      </div>
      <div class="q-mt-lg row justify-start q-gutter-sm">
        <q-btn color="primary" type="submit">Submit</q-btn>
        <q-btn @click="router.back()" label="Cancel"></q-btn>
      </div>
    </q-form>
  </div>
</template>
<style scoped>

</style>
