<script setup>
import { useQuasar } from 'quasar'
import {useRouter} from "vue-router";
import {useUserPublicAgencies, usePublicAgency} from '../PublicAgency'
import {useApplication} from '@wapdc/pdc-ui/application'
import {ref} from "vue";
const {user, getSetting} = await useApplication()

/**  REQUEST FORM */
const quasar = useQuasar();
const router = useRouter();

const afterLegacyActivationPeriod = Date.now() > new Date("02/10/2024");

const {userPublicAgencies, userPendingPublicAgencies} = await useUserPublicAgencies()
const publicAgency = await usePublicAgency()

// Before the end of the legacy transition period, we want to redirect to activate when the user has no agencies.
if (!(userPendingPublicAgencies.value.length || userPublicAgencies.value.length) && !afterLegacyActivationPeriod) {
  router.push({name: 'public-agency-activate'})
}

function formattedAddress(agencyInfo) {
    return [[agencyInfo.address, agencyInfo.city, agencyInfo.state].filter(n => n).join(', '), agencyInfo.zip]
      .filter(n => n).join(' ')
}

function onL5Sso(agency_id) {
  return getSetting('apollo_url') + `/lobbyist/public-agency/sso-redirect/` + agency_id
}

/** DELETE request **/

const deleteRequestDialog = ref(false);
const pendingRequestId = ref(null)
function toggleDeleteRequestDialog(request_id = null) {
  deleteRequestDialog.value = !deleteRequestDialog.value
  pendingRequestId.value = deleteRequestDialog.value === false ? null : request_id
}

async function onDeleteRequest(){
  const {success} = await publicAgency.deletePendingPublicAgency(pendingRequestId.value)

  if(success){
    quasar.notify({
      position: "top",
      type: "positive",
      message: "Agency request successfully deleted"
    })
    toggleDeleteRequestDialog()
  }
}

</script>
<template>
  <h1>
    Public agency lobbying
  </h1>
  <div v-if="userPublicAgencies.length || userPendingPublicAgencies.length">
    <p v-if="!userPublicAgencies.length || !userPendingPublicAgencies.length">
      Your Secure Access Washington (SAW) account is not associated with L5 filing for any agencies.
    </p>
    <p>To request access to file for a registered agency or register a new agency, use the "New registration" button.</p>
  </div>
  <div class="row q-col-gutter-sm q-my-sm">
    <div class="col-xs-12 col-sm-6 col-md-6" v-for="(pending_agency, index) in userPendingPublicAgencies" :key="index">
      <q-card bordered class="q-pa-sm">
        <div class="row justify-between full-height">
          <div class="col-10">
            <h3 class="q-mb-none text-grey">{{ pending_agency.payload.name }}</h3>
            <p>(Pending PDC verification)</p>
            <div class="text-grey">
              <p>
                <span v-if="formattedAddress(pending_agency.payload)">{{ formattedAddress(pending_agency.payload) }}<br/></span>
                <span v-if="pending_agency.payload.contact">{{ pending_agency.payload.contact }}<br></span>
                <span v-if="pending_agency.payload.phone">{{ pending_agency.payload.phone }}<br></span>
                <span v-if="pending_agency.payload.email">{{ pending_agency.payload.email }}<br></span>
              </p>
            </div>
          </div>
          <div class="column col-auto justify-between">
            <p-accessible-button button-tooltip="delete request" icon="delete" flat round @click="toggleDeleteRequestDialog(pending_agency.id)">
            </p-accessible-button>
          </div>
        </div>
      </q-card>
    </div>
  </div>

  <q-dialog v-model="deleteRequestDialog" persistent>
    <q-card>
      <q-card-section>
        Are you sure you want to delete your pending public agency request?
      </q-card-section>
      <q-card-actions>
        <q-btn color="negative" @click="onDeleteRequest">Delete Request</q-btn>
        <q-btn @click="toggleDeleteRequestDialog">Cancel</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>

  <div class="row q-col-gutter-sm">
    <div class="col-xs-12 col-sm-6 col-md-6" v-for="(agency, index) in userPublicAgencies" :key="index">
      <q-card bordered class="fit q-pa-sm">
        <div class="row justify-between full-height">
          <div class="col-9">
            <h3>{{ agency.name }}</h3>
            <p>
              {{agency.head}}<br>
              <span v-if="formattedAddress(agency)">{{ formattedAddress(agency) }}<br/></span>
              <span v-if="agency.contact">{{ agency.contact }}<br></span>
              <span v-if="agency.phone">{{ agency.phone }}<br></span>
              <span v-if="agency.email">{{ agency.email }}<br/></span>
            </p>
          </div>
          <div class="column col-auto justify-between" style="text-align:right; align-items: end">
            <div class="q-md-xs">
              <p-accessible-button icon="edit" round flat button-tooltip="Edit agency information"
                                   :to="{name: 'profile-edit', params: {id: agency.id}}"/>
              <p-accessible-button icon="people" round flat button-tooltip="Manage authorized users"
                                   :to="{name: 'public-agency-users', params: {id: agency.id}}"/>
            </div>
            <q-btn label="File" :href="onL5Sso(agency.id)" size="md" color="primary"/>
          </div>
        </div>
      </q-card>
    </div>
  </div>
  <div class="q-mt-md q-gutter-sm">
    <q-btn v-if="!afterLegacyActivationPeriod"
           label="Link existing account" color="primary" :to="{name: 'public-agency-activate'}"></q-btn>
    <q-btn :to="{name: 'public-agency-request'}" label="New user or agency" color="primary"></q-btn>
  </div>
</template>
