<script setup>
import {useQuasar} from "quasar";
import {useRoute, useRouter} from "vue-router";
import {reactive} from "vue";
import rules from '../rules'
import {usePublicAgency} from "src/PublicAgency";
import {useApplication} from "@wapdc/pdc-ui/application";

const route = useRoute();
const router = useRouter();
const quasar = useQuasar();
const agency_id = route.params.id;
const {getPublicAgency, updatePublicAgencyProfile } = await usePublicAgency()

const publicAgency = reactive({
  id: null,
  name: '',
  address: '',
  city: '',
  state: '',
  zip: '',
  county: '',
  contact: '',
  phone: '',
  email: '',
  head: ''
})

  if(agency_id){
    await getPublicAgency(agency_id).then(data => {
      publicAgency.id = data.id;
      publicAgency.name = data.name;
      publicAgency.address = data.address;
      publicAgency.city = data.city;
      publicAgency.state = data.state;
      publicAgency.zip = data.zip;
      publicAgency.county = data.county;
      publicAgency.contact = data.contact;
      publicAgency.phone = data.phone;
      publicAgency.email = data.email;
      publicAgency.head = data.head;
    })
  }

async function onSubmit() {
  await updatePublicAgencyProfile(agency_id, publicAgency)

  //only reroute to L5 if referred from there, then grab a new JWT and update the legacy database
  const referrer = document.referrer

  if (referrer && referrer.includes('web.pdc.wa.gov')) {
    const {getSetting} = await useApplication()
    const apollo_url = getSetting('apollo_url')
    window.location.href = apollo_url + `/lobbyist/public-agency/sso-redirect/` + agency_id
  } else {
    await router.push('/public-agency')
  }
}

</script>

<template>
  <h2>Update profile for {{publicAgency.name}}</h2>
  <q-card style="max-width: 600px">
    <q-card-section>
      <q-form @submit="onSubmit">
        <div class="col-12 col-sm">
          <q-input label="Agency name" :rules="[rules.required]" type="text" v-model="publicAgency.name"></q-input>
          <q-input label="Agency address" :rules="[rules.required, rules.validAddressLength]" type="text" v-model="publicAgency.address"></q-input>
          <div class="row">
            <div class="col-5">
              <q-input label="City"    :rules="[rules.required]" type="text" v-model="publicAgency.city"></q-input>
            </div>
            <div class="col-2">
              <q-input label="State"   :rules="[rules.required]" type="text" v-model="publicAgency.state" disable></q-input>
            </div>
            <div class="col-5">
              <q-input label="Zip"     :rules="[rules.required]" type="text" v-model="publicAgency.zip"></q-input>
            </div>
          </div>
          <q-input label="County"  :rules="[rules.required]" type="text" v-model="publicAgency.county"></q-input>
          <q-input label="Primary agency contact name" :rules="[rules.required]" type="text" v-model="publicAgency.contact"></q-input>
          <q-input label="Primary agency phone"   :rules="[rules.required]" type="text" v-model="publicAgency.phone"></q-input>
          <q-input label="Primary agency email"   :rules="[rules.required, rules.validEmail]" type="email" v-model="publicAgency.email"></q-input>
          <q-input label="Head of agency"    :rules="[rules.required]" type="text" v-model="publicAgency.head"></q-input>
        </div>
      </q-form>
    </q-card-section>
    <q-card-actions>
      <q-btn label="Save" color="primary" @click="onSubmit"></q-btn>
      <q-btn label="Cancel" @click="router.back()"></q-btn>
    </q-card-actions>
  </q-card>
</template>

<style scoped>

</style>
