<script setup>
import {ref} from 'vue'
import {useQuasar} from 'quasar'
import {useRoute, useRouter} from "vue-router"
import {useApplication} from "@wapdc/pdc-ui/application"
import {usePublicAgency} from "src/PublicAgency"

const route = useRoute()
const quasar = useQuasar()
const router = useRouter()
const {user} = await useApplication()

const agency_id = route.params.id


const tableProperties = {
  pagination: {
    rowsPerPage: 25,
    sortBy: 'granted_date',
    descending: false
  },
  columns: [
    {name: 'email', label: 'Email', field: row => row.email, align: 'left', sortable: true},
    {name: 'granted_date', label: 'Granted Date', field: row => row.granted_date, align: 'left', sortable: true},
    {name: 'actions', label: 'Actions', align: 'center' }
  ]
}

const authorizedUsers = ref([])
const {getAuthorizedUsers} = await usePublicAgency()

async function getAgencyAuthorizedUsers() {
  const {authorized_users} = await getAuthorizedUsers(agency_id)

  if(authorized_users) {
    authorizedUsers.value = authorized_users
  }
}

getAgencyAuthorizedUsers()

const revokeAccessDialog = ref(false)
const selectedUser = ref(null)

function toggleRevokeAccessDialog() {
  revokeAccessDialog.value = false
  selectedUser.value = false
}

function tryRevokeAccess(authorized_user) {
  revokeAccessDialog.value = true
  selectedUser.value = authorized_user
}

const {revokeAuthorizedUser} = await usePublicAgency()

async function doRevokeAccess(selected_user) {
  await revokeAuthorizedUser(selected_user, agency_id)

  //remove the person from the list
  const revokedUserIndex = authorizedUsers.value.indexOf(selected_user)
  authorizedUsers.value.splice(revokedUserIndex, 1)

  if(selected_user.uid === user.uid && selected_user.realm === user.realm) {
    return router.replace({name: 'public-agency-dashboard'})
  }

  revokeAccessDialog.value = false

  quasar.notify({
    position: "top",
    type: "positive",
    message: "Successfully revoked user access"
  })
}

</script>

<template>
  <h1>Manage authorized users</h1>
  <div class="col-xs-12 col-sm-8">
    <q-table
      flat
      :rows="authorizedUsers"
      :columns="tableProperties.columns"
      :grid="$q.screen.lt.sm"
      :bordered="$q.screen.lt.sm"
      separator="horizontal"
      :pagination="tableProperties.pagination"
    >
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn size="small" color="negative" label="revoke" button-tooltip="Amend" @click="tryRevokeAccess(props.row)"/>
        </q-td>
      </template>
      <template v-slot:item="{row}">
        <div class="col-12 q-pa-xs">
          <q-card flat bordered>
            <q-card-section class="q-table__grid-item-row">
              <div class="q-table__grid-item-title">Email</div>
              <div class="q-table__grid-item-value">{{ row.email }}</div>
              <div class="q-table__grid-item-title">Granted date</div>
              <div class="q-table__grid-item-value">{{ row.granted_date }}</div>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn color="negative" label="revoke" @click="tryRevokeAccess(row)"></q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </template>
    </q-table>
    <q-btn label="Done" color="primary" @click="router.back()"></q-btn>
    <q-dialog persistent v-model="revokeAccessDialog">
      <q-card>
        <q-card-section>
          {{selectedUser.email}} will no longer have access or be able to file L5 reports
        </q-card-section>
        <q-card-section>
          Are you sure you want to revoke access?
        </q-card-section>
        <q-card-actions>
          <q-btn color="negative" @click="doRevokeAccess(selectedUser)">Revoke access</q-btn>
          <q-btn @click="toggleRevokeAccessDialog">Cancel</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
