<script setup>
import {reactive} from 'vue'
import { useQuasar } from 'quasar'
import rules from "src/rules"
import { useRouter } from 'vue-router'
import {useSSO, useUserPublicAgencies} from '../PublicAgency'

/**  REQUEST FORM */
const quasar = useQuasar();
const router = useRouter();

const {loginSsoActivation, requestSsoActivation, verifyActivationCode } = useSSO()
const {userPublicAgencies} = await useUserPublicAgencies()

const login = reactive({
  username: '',
  password: '',
});


function loginActivation() {
  loginSsoActivation(login.username, login.password).then(data => {
    if (data.success) {
      router.push('/public-agency')
    } else {
      //429 too many attempts
      login.username = '';
      login.password = '';

      quasar.notify({
        message: data.message,
        color: 'negative',
        position: 'top',
        actions: [
          {
            label: 'Dismiss', color: 'white', handler: () => {
            }
          }
        ]
      })
    }
  })
}
// ---- Sending email with verification code
const request = reactive({
  email: null,
  isSubmitted: false,
  pub_ids: []
});

const requestActivation = () => {
  request.isSubmitted = true;
  requestSsoActivation(request.email, false).then(data => {
    if(data.success){
      request.isSubmitted = data.success;
      request.pub_ids = data.pub_ids;
    }else{
      quasar.notify({
        message: data.message,
        color: 'negative',
        position: 'top',
        actions: [
          {label: 'Dismiss', color:'white', handler: () => {}}
        ]
      })
    }
  });
};

/** VERIFICATION DIALOG **/
const verification = reactive({
  verificationCode: null,
  invalidToken: false,
});

const verifyCode = () => {
  verifyActivationCode(verification.verificationCode, request.email, request.pub_ids).then(data => {
    if (data.success) {
      request.isSubmitted = false;
      //on successful linking, go to list of my public agencies I file for
      router.push('/public-agency')
    }
    else {
      verification.invalidToken =  true;
      quasar.notify({
        message: data.message,
        color: 'negative',
        position: 'top',
        actions: [
          {label: 'Dismiss', color: 'white', handler: () => {}}
        ]
      })
    }
  });
};

const clearVerificationCode = () => {
  verification.verificationCode = null
}
</script>

<template>
  <h1>
    Single sign-on activation
  </h1>
  <p>
    If you have an existing account in the PDC Public Agency lobbying System (L5), you can link your account to your
    Secure Access Washington (SAW) account by using your L5 username and password or requesting a one-time
    verification code using the email address associated with your L5 account. Use the "New registration" option if you
    are a new user for your agency or you are registering for a new agency.
  </p>

  <div class="row q-col-gutter-sm q-my-sm">
    <q-form @submit="loginActivation" class="col-xs-12 col-sm-6 col-md-6 q-pa-sm">
      <q-card bordered class="column q-pa-sm q-pa-md-lg full-height">
        <q-card-section class="col q-pa-none">
          <h2>Username</h2>
          <p>Enter your L5 username and password to link your SAW account.</p>
          <q-input type="text" v-model="login.username" :rules="[rules.requireString]" label="Username"></q-input>
          <q-input type="password" v-model="login.password" :rules="[rules.requireString]" label="Password"></q-input>
        </q-card-section>
        <q-card-actions align="right" class="col-auto q-pa-none">
          <q-btn color="primary" type="submit">Verify</q-btn>
        </q-card-actions>
      </q-card>
    </q-form>
    <q-form @submit="requestActivation" class="col-xs-12 col-sm-6 col-md-6 q-pa-sm">
      <q-card bordered class="column q-pa-sm q-pa-md-lg full-height">
        <q-card-section class="col q-pa-none">
          <h2>Email</h2>
          <p>Enter your L5 email address to receive a verification code via email.</p>
          <q-input type="email" v-model="request.email" :rules="[rules.valid_email, rules.requireString]"
                   label="Email"/>
        </q-card-section>
        <q-card-actions align="right" class="col-auto q-pa-none">
          <q-btn color="primary" type="submit">Get code</q-btn>
        </q-card-actions>
      </q-card>
    </q-form>
    <div class="col-xs-12 col-sm-6 col-md-6 q-pa-sm">
      <q-card bordered class="column q-pa-sm q-pa-md-lg full-height">
        <q-card-section class="col q-pa-none">
          <h2>New user or agency</h2>
          <p>If you do not have access to the email or password for your old L5 account or you are a new agency or user,
          you can register your account by providing information about your agency.</p>
        </q-card-section>
        <q-card-actions align="right" class="col-auto q-pa-none">
          <q-btn @click="router.push('/public-agency/request')" label="New user or agency" color="primary"></q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </div>

  <div class="q-pt-md">
    <q-btn v-if="userPublicAgencies.length > 0" label="Cancel" @click="router.push('/public-agency')"></q-btn>
  </div>


  <q-dialog v-model="request.isSubmitted" persistent >
    <q-card>
      <q-form @submit="verifyCode">
        <q-card-section>
          <h2>Verify code <q-btn icon="close" flat round dense v-close-popup @click="clearVerificationCode"/></h2>
        </q-card-section>
        <q-card-section>
          <p>If {{ request.email }} is associated with L5 account, an email will be sent with a verification code. If you do not see it, check your spam folder.</p>
          <q-input label="Verification code" v-model="verification.verificationCode"
                   :rules="[rules.required]"/>
        </q-card-section>
        <q-card-section v-if="verification.invalidToken">
          <div><q-icon name="warning"/>Invalid token</div>
        </q-card-section>
        <q-card-actions>
          <q-btn type="submit" color="primary">Verify</q-btn>
          <q-btn @click="requestActivation">Resend</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
