<script setup>
import {reactive} from 'vue'
import { useQuasar } from 'quasar'
import rules from "src/rules"
import {useApplication} from "@wapdc/pdc-ui/application";
import {useAccessHub} from "src/AccessHub";


/**  REQUEST FORM */
const quasar = useQuasar();
const { getSetting } = await useApplication()
const accessHub =  await useAccessHub()
const apollo_url = getSetting('apollo_url')

  // ---- Accesshub login
const login = reactive({
  username: '',
  password: '',
  })

const loginActivation = () => {
  accessHub.loginSsoActivation(login.username, login.password).then(data => {
    if(data.success) {
      window.location = apollo_url + '/accesshub/login';
    } else {
      //429 too many attempts
      login.username = '';
      login.password = '';

      quasar.notify({
        message: data.message,
        color: 'negative',
        position: 'top',
        actions: [
          {label: 'Dismiss', color: 'white', handler: () => {}}
        ]
      })
    }
  });
};

const createAccesshubUser = () => {
  accessHub.createAccesshubUser().then(success => {
    if(success){
      window.location = apollo_url + '/accesshub/login';
    }else{
      $q.notify({
        message: 'Something went wrong with creating your account',
        color: 'negative',
        position: 'top',
        actions: [
          {label: 'Dismiss', color: 'white', handler: () => {}}
        ]
      })
    }
  })
}
  // ---- Sending email with verification code
const request = reactive({
    email: null,
    isSubmitted: false,
  });

const requestActivation = () => {
  accessHub.requestSsoActivation(request.email).then(data => {
    if(data.success){
      request.isSubmitted = data.success;
    }else {
      quasar.notify({
        message: data.message,
        color: 'negative',
        position: 'top',
        actions: [
          {label: 'Dismiss', color:'white', handler: () => {}}
        ]
      })
    }
  });
};

/** VERIFICATION DIALOG **/
const verification = reactive({
  verificationCode: null,
  invalidToken: false,
});

const verifyCode = () => {
  accessHub.verifyActivationCode(verification.verificationCode, request.email).then(data => {
    if (data.success) {
      request.isSubmitted = false;
      window.location = apollo_url + '/accesshub/login';
    }
    else {
      verification.invalidToken = true;
      quasar.notify({
        message: data.message,
        color: 'negative',
        position: 'top',
        actions: [
          {label: 'Dismiss', color: 'white', handler: () => {}}
        ]
      })
    }
  });
};

const clearVerificationCode = () => {
  verification.verificationCode = null
}
</script>

<template>
  <div class="row justify-center">
  <div class="q-pa-sm" style="max-width: 1200px">
    <div class="q-pa-sm">
      <h1>
        Single sign-on activation
      </h1>
      <p>
        If you have an existing account in the PDC lobbying system, you can link your account by logging in
        with your lobbying username and password.
        If not, request a one-time authentication code using the email address associated with your lobbying system
        account.
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 q-pa-sm">
        <q-form @submit="loginActivation">
          <q-card bordered>
            <q-card-section>
              <h2>Username</h2>
              <p>Enter your AccessHub (lobbyist) username and password to link your SAW account.</p>
              <q-input type="text" v-model="login.username" :rules="[rules.requireString]" label="Username"></q-input>
              <q-input type="password" v-model="login.password" :rules="[rules.requireString]" label="Password"></q-input>
            </q-card-section>
            <q-card-actions>
              <q-btn color="primary" type="submit">Verify</q-btn>
            </q-card-actions>
          </q-card>
        </q-form>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 q-pa-sm">
        <q-form @submit="requestActivation" >
          <q-card bordered>
            <q-card-section>
              <h2>Email</h2>
              <p>Enter your AccessHub address to receive a verification code via email.</p>
              <q-input type="email" v-model="request.email" :rules="[rules.valid_email, rules.requireString]" label="Email"/>
            </q-card-section>
            <q-card-actions>
              <q-btn color="primary" type="submit">Get code</q-btn>
            </q-card-actions>
          </q-card>
        </q-form>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 q-pa-sm">
        <q-card bordered>
          <q-card-section>
            <h2>New Account</h2>
            <p>For new filers only. Create a new account profile for filing lobbyist and lobbyist employer L2 and L3 reports.</p>
          </q-card-section>
          <q-card-actions >
            <q-btn color="primary" @click="createAccesshubUser">New Profile</q-btn>
          </q-card-actions>
        </q-card>
      </div>
      </div>
  </div>
  </div>
  <q-dialog v-model="request.isSubmitted" persistent >
    <q-card>
      <q-form @submit="verifyCode">
        <q-card-section>
          <h2>Verify code <q-btn icon="close" flat round dense v-close-popup @click="clearVerificationCode"/></h2>
        </q-card-section>
        <q-card-section>
          <p>If {{ request.email }} is associated with a lobbyist account, an email will be sent with a verification code. If you do not see it, check your spam folder.</p>
          <q-input label="Verification code" v-model="verification.verificationCode"
                   :rules="[rules.required]"/>
        </q-card-section>
        <q-card-section v-if="verification.invalidToken">
          <div><q-icon name="warning"/>Invalid token</div>
        </q-card-section>
        <q-card-actions>
          <q-btn flat type="submit" color="primary">Verify</q-btn>
          <q-btn flat @click="requestActivation">Resend</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

</template>
