<script setup>
  import { useClient } from '../client'
  import { useApplication } from '@wapdc/pdc-ui/application'
  const { user } = await useApplication()
  const { loadClient, client } = await useClient()
  import { useRoute } from "vue-router"
  const route = useRoute();
  const client_id = route.params.client_id?.toString()
  await loadClient(client_id)
  document.title = client.name

</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header title="Lobbyist reporting" />
    <q-page-container v-if="user.uid && client.lobbyist_client_id" style="max-width: 1200px" class="q-pa-sm q-pa-md-lg">
      <q-page padding>
        <q-breadcrumbs class="print-hide">
          <q-breadcrumbs-el href="/" icon="home" />
          <q-breadcrumbs-el to="/" label="Lobbyist" />
          <q-breadcrumbs-el :to="{name: 'client-dashboard', params: {client_id: client.lobbyist_client_id}}"  :label="client.name"/>
        </q-breadcrumbs>
        <h1 class="print-hide">{{ client.name }}</h1>
        <router-view v-slot="{ Component }">
          <suspense>
            <template #default>
              <component :is="Component"/>
            </template>
            <template #fallback>
              <q-spinner color="primary" size="32px"/>
            </template>
          </suspense>
        </router-view>
      </q-page>
    </q-page-container>
  </q-layout>
</template>
