<script setup>
  import { useFirm } from 'src/firm'
  import { useApplication } from '@wapdc/pdc-ui/application'
  const { user } = await useApplication()
  const { getFirm, firm } = await useFirm();
  import { useRoute } from "vue-router";
  const route = useRoute();
  const firm_id = route.params.firm_id?.toString();
  await getFirm(firm_id)
  document.title = firm.name
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header title="Lobbyist reporting" />
    <q-page-container v-if="user.uid && firm.lobbyist_firm_id"  class="q-pa-sm q-pa-md-lg">
      <q-page padding>
        <q-breadcrumbs class="print-hide">
          <q-breadcrumbs-el href="/" icon="home" />
          <q-breadcrumbs-el to="/" label="Lobbyist" />
          <q-breadcrumbs-el :to="{name: 'firm-dashboard', params: {firm_id: firm.lobbyist_firm_id}}"  :label="firm.name"/>
        </q-breadcrumbs>
        <h1 class="print-hide">{{ firm.name }}</h1>
        <router-view v-if="user.uid"/>
      </q-page>
    </q-page-container>
  </q-layout>
</template>
