<script setup>
  import {useApplication} from "@wapdc/pdc-ui/application"

  const { user } = await useApplication()
  document.title="Lobbyist Reporting"
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header title="Lobbyist reporting"/>
    <q-page-container v-if="user.uid" style="max-width: 1200px" class="q-pa-sm q-pa-md-lg">
      <q-page padding>
        <q-breadcrumbs class="print-hide">
          <q-breadcrumbs-el href="/" icon="home" />
          <q-breadcrumbs-el to="/" label="Lobbyist" />
        </q-breadcrumbs>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

