<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container style="max-width: 1200px" class="q-pa-sm q-pa-md-lg">
      <q-page>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>
