<script setup>
import {ref} from "vue";
import {useL2} from "src/l2";

const directExpense_ref = ref(null)

defineExpose({validate: () => !directExpense_ref.value || directExpense_ref.value.validate()})
const {l2} = await useL2()

const confirmDeleteDialog = ref(false)

function resetDirectExpenses() {
  l2.has_printing = false
  l2.printing.splice(0, l2.printing.length)
  l2.has_public_relations = false
  l2.public_relations.splice(0, l2.public_relations.length)
  l2.has_consulting = false
  l2.consulting.splice(0, l2.consulting.length)
  l2.has_expenses_other = false
  l2.expenses_other.splice(0, l2.expenses_other.length)
  confirmDeleteDialog.value = false
}

function cancelResetDirectExpenses() {
  confirmDeleteDialog.value = false
}

function directExpenseReset() {
  if(l2.has_printing || l2.has_public_relations || l2.has_consulting || l2.has_expenses_other) {
    confirmDeleteDialog.value = true
  } else {
    resetDirectExpenses()
  }
}

</script>

<template>
  <p><strong>Direct</strong> lobbying expenses are those expenses that are related to lobbying the legislature or state agencies directly (as opposed to <strong>indirect</strong>
    or grass roots lobbying which is directed at a campaign to the public).
  </p>
  <div class="q-mb">
    <q-form ref="directExpense_ref" greedy>
      <p-have-any autofocus prompt="Did you have any printing and literature expenses to report?" v-model="l2.has_printing" :rows="l2.printing" required/>

      <p-have-any prompt="Do you have any public relations and polling expenses to report?" v-model="l2.has_public_relations" :rows="l2.public_relations" required/>

      <p-have-any prompt="Did you have any consulting and expert witnesses expenses to report?" v-model="l2.has_consulting" :rows="l2.consulting" required/>

      <p-have-any prompt="Do you have any other expenses to report?" v-model="l2.has_expenses_other" :rows="l2.expenses_other" required/>

      <div class="row items-center">
        <div class="col-9"/>
        <div class="col-3">
          <q-btn no-caps ternary rounded flat underline
                 style="text-decoration: underline"
                 label="None of these apply"
                 @click="directExpenseReset"/>
        </div>
      </div>
    </q-form>
  </div>
  <q-dialog v-model="confirmDeleteDialog" persistent>
    <q-card>
      <q-card-section>
        <p>
          You have answered yes to having the following direct expenses:
        </p>
        <p v-if="l2.has_printing" class="q-mb-none">
          printing and literature
        </p>
        <p v-if="l2.has_public_relations" class="q-mb-none">
          public relations and polling,
        </p>
        <p v-if="l2.has_consulting" class="q-mb-none">
          consulting and expert witnesses
        </p>
        <p v-if="l2.has_expenses_other" class="q-mb-none">
          other expenses
        </p>
        <p class="q-mt-md">
          Selecting none of these apply will <strong>clear any data</strong> related to these expenses.
        </p>
        <p>
          Do you wish to proceed?
        </p>
      </q-card-section>
      <q-card-actions>
        <q-btn no-caps label="YES - clear the data" color="primary" @click="resetDirectExpenses"/>
        <q-btn no-caps label="NO - keep the data"  @click="cancelResetDirectExpenses"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
