<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import {computed, inject, ref} from "vue";
import rules from "@wapdc/pdc-ui/rules";

const navigation = inject('navigation')
const publicRelation_ref = ref(null)
defineExpose({validate: () => !publicRelation_ref.value || publicRelation_ref.value.validate()})

const {l2, clientName, saveDraft} = await useL2()
const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.public_relations)

const publicRelationsValidations = computed(() => {
  return l2.public_relations.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0 || !row.description?.trim() || !row.vendor?.trim()
    || !row.date || row.date > l2.period_end || row.date < l2.period_start)
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="publicRelation_ref"
    :rows="l2.public_relations"
    prompt="Do you have any public relations and polling expenses to report?"
    v-model="l2.has_public_relations"
    :row-default="{source: null, amount: null}"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot:actions>
      <p v-if="publicRelationsValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <p-date-picker autofocus ref="set_focus" v-model="row.date" label="Date" required :minDate='l2.period_start' :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model.number="row.source" required/>
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
      <q-input label="Vendor or service provider" v-model="row.vendor" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
