<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import rules from "@wapdc/pdc-ui/rules";
import {computed, inject, ref} from "vue";

const navigation = inject('navigation')
const otherExpenses_ref = ref(null)
defineExpose({validate: async() => !otherExpenses_ref.value || (await otherExpenses_ref.value.validate())})

const {l2, clientName, saveDraft} = await useL2()
const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.expenses_other)

const expensesOtherValidations = computed(() => {
  return l2.expenses_other.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0 || !row.vendor?.trim() || !row.description?.trim()
    || !row.date || row.date > l2.period_end || row.date < l2.period_start)
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="otherExpenses_ref"
    :rows="l2.expenses_other"
    prompt="Do you have any other expenses to report?"
    v-model="l2.has_expenses_other"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot:actions>
      <p v-if="expensesOtherValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <p-date-picker ref="set_focus" autofocus v-model="row.date" label="Date" required :minDate='l2.period_start' :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model.number="row.source" required/>
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.requireString,rules.positiveAmount]"></q-input>
      <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
      <q-input label="Vendor or recipient" v-model="row.vendor" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
