<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import {computed, inject, ref} from "vue";
import rules from "@wapdc/pdc-ui/rules";

const navigation = inject('navigation')
const printing_ref = ref(null)
defineExpose({
  validate: async () => {
    if (printing_ref.value) {
      return await printing_ref.value.validate();
    } else {
      return true
    }
  }
})

const {l2, clientName, saveDraft} = await useL2()

const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.printing)

const printingValidations = computed(() => {
  return l2.printing.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0 || !row.description?.trim())
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    :rules="rules"
    ref="printing_ref"
    :rows="l2.printing"
    prompt="Do you have any printing and literature expenses to report?"
    v-model="l2.has_printing"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    :row-default="{source: null, amount: null, description: null}"
    @rows-changed="saveDraft"
  >
    <template v-slot:actions>
      <p v-if="printingValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <select-client autofocus ref="set_focus" v-model.number="row.source" required/>
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
