<script setup>

import {useL2} from "src/l2";
import {formatMoney} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import {inject, ref} from "vue";
const navigation = inject('navigation')
const payments_ref = ref(null)

defineExpose({validate: () => !payments_ref.value || payments_ref.value.validate()})
const {l2, subcontractName, saveDraft} = await useL2()

const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}
</script>

<template>
  <p>Enter payments to other lobbyists hired by you or paid by you from a portion of the funds received from the
    employer. (If the employer pays other lobbyists directly, that person needs to register separately and you do not
    report the payments.)</p>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="payments_ref"
    :rows="l2.sub_lobbyist_payments"
    prompt="Do you have any payments to other lobbyists to report?"
    v-model="l2.has_sub_lobbyist_payments"
    :columns="[
      {name: 'subcontractor', label: 'Subcontractor', field: 'source', align: 'left', format: subcontractName  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot="{row}">
      <q-select
        ref="set_focus"
        autofocus
        label="Subcontractor"
        :options="l2.subcontractors"
        option-value="lobbyist_contract_id"
        option-label="name"
        emit-value
        map-options
        :rules="[rules.required]"
        v-model.number="row.source"/>
      <q-input :rules="[rules.required, rules.positiveAmount]" label="Amount" type="number" v-model="row.amount"></q-input>
    </template>
  </p-edit-table>
</template>
