<script setup>

import {useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import {computed, inject, ref} from "vue";
import rules from "@wapdc/pdc-ui/rules"

const compensation_ref = ref(null)
defineExpose({validate: async() => !compensation_ref.value || (await compensation_ref.value.validate())})
const {l2, clientName, saveDraft, nullInvalidSource} = await useL2()
const navigation = inject('navigation')

const set_focus = ref(null)
function focusFirst() {
  if (set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.compensation)

const compensationValidations = computed(() => {
  return l2.compensation.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0)
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p>Enter all compensation such as salary, wages and retainers earned from each client (employer) for lobbying this period.</p>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :rules="rules.compensation"
    :rows="l2.compensation"
    prompt="Do you have any compensation to report?"
    :selected-index="navigation.currentSection.index"
    ref="compensation_ref"
    v-model="l2.has_compensation"
    :row-default="{source: null, amount: null}"
    @rows-changed="saveDraft"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
  >
    <template v-slot:actions>
      <p v-if="compensationValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <select-client v-model.number="row.source" ref="set_focus" autofocus no-self/>
      <q-input :rules="[rules.required, rules.positiveAmount]"  label="Amount" type="number" v-model="row.amount"></q-input>
    </template>
  </p-edit-table>
</template>
