<script setup>
import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import rules from "@wapdc/pdc-ui/rules"
import {computed, inject, ref} from "vue";
import SelectContributionRecipient from "components/SelectContributionRecipient.vue";
import ImportContributions from "components/ImportContributions.vue";

const navigation = inject('navigation')
const itemized_contributions_ref = ref(null)
defineExpose( {validate: async() => !itemized_contributions_ref.value || (await itemized_contributions_ref.value.validate())})
const {l2, clientName, saveDraft} = await useL2()
const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);
const showImport = ref(null)
function tryImport() {
  showImport.value = true
}
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.contributions)

const contributionsValidations = computed(() => {
  return l2.contributions.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return ((!row.source && !row.source_name) || !row.amount || row.amount <= 0 || !row.recipient_type || !row.recipient?.trim()
    || !row.date || row.date > l2.period_end || row.date < l2.period_start)
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p>Enter all monetary contributions exceeding $100 that were given by the lobbyist or the lobbyist
    client (employer) and transmitted by the lobbyist.
  </p>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="itemized_contributions_ref"
    :rows="l2.contributions"
    prompt="Do you have any monetary contributions in excess of $100 report?"
    v-model="l2.has_contributions"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'name', label: 'name', field: 'recipient', align: 'left'  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    :row-default="{source: null, amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null}"
    @rows-changed="saveDraft"
  >
    <template v-slot="{row}">
      <p-date-picker ref="set_focus" autofocus v-model="row.date" label="Date" required :minDate='l2.period_start' :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model:name="row.source_name" v-model="row.source" v-model:committee-id="row.committee_id" allow-other allow-pac required />
      <q-input label="Amount" type="number" v-model.number="row.amount" :rules="[rules.required]"></q-input>
      <select-contribution-recipient  v-model:name="row.recipient" v-model:recipient-type="row.recipient_type" v-model:recipient-id="row.recipient_id" :rules="[rules.required]">
        <template v-slot:hint>
          <p v-if="row.import_recipient">
            <strong>Imported name:</strong> {{row.import_recipient}}
          </p>
        </template>
      </select-contribution-recipient>
    </template>
    <template v-slot:actions>
      <p v-if="contributionsValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
      <q-btn @click="tryImport">Import</q-btn>
    </template>
  </p-edit-table>
  <import-contributions v-model="showImport"/>
</template>
