<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import SelectClient from "pages/l2/SelectClient.vue";
import rules from "@wapdc/pdc-ui/rules"
import {ref} from "vue";

const entertainment_small_ref = ref(null)
defineExpose({validate: async() => !entertainment_small_ref.value || (await entertainment_small_ref.value.validate())})

const {l2} = await useL2()
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.entertainment_small)

</script>
<template>
  <p>
    Enter the per client (employer) or lobbyist sum for all non-itemized entertainment expenses of $100 or less that are not accounted for as itemized entertainment expenses.
  </p>
  <q-form ref="entertainment_small_ref" greedy>
    <p-edit-rows
      autofocus
      haveAnyNoGap
      @row-selected="focusFirst"
      prompt="Do you have any non-itemized entertainment expenses to report?"
      v-model="l2.has_entertainment_small"
      :rows="l2.entertainment_small"
      :row-default="{source: null, amount: null}"
    >
      <template v-slot="{row}">
        <select-client v-model.number="row.source" ref="set_focus" autofocus/>
        <q-input :rules="[rules.required, rules.positiveAmount]" label="Amount" type="number" v-model.number="row.amount"></q-input>
      </template>
    </p-edit-rows>
  </q-form>
</template>

