<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import {ref} from "vue";
import rules from "@wapdc/pdc-ui/rules"

const personal_ref = ref(null)
defineExpose({validate: () => !personal_ref.value || personal_ref.value.validate()})
const {l2, clientName} = await useL2()

const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.personal_expenses)

</script>
<template>
  <p>Enter all personal expenses for travel, food, and refreshments. If the expense was not reimbursed by a client
    (employer), select yourself as the source.</p>
  <q-form ref="personal_ref" greedy>
    <p-edit-rows
      autofocus
      haveAnyNoGap
      @row-selected="focusFirst"
      :rows="l2.personal_expenses"
      prompt="Do you have any personal expenses to report?"
      v-model="l2.has_personal_expenses"
      :columns="[
        {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName, sortable: true},
        {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
      ]"
      :row-default="{source: null, amount: null}"
    >
      <template v-slot="{row}">
        <select-client ref="set_focus" autofocus required v-model.number="row.source" />
        <q-input :rules="[rules.required, rules.positiveAmount]" label="Amount" type="number"
                 v-model="row.amount"></q-input>
      </template>
    </p-edit-rows>
  </q-form>
</template>
