<script setup>

import {formatMoney, validationStyle} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import SelectClient from "pages/l2/SelectClient.vue";
import {nullInvalidSource, useL2} from "src/l2";
import {computed, inject, ref} from "vue";

const navigation = inject('navigation')
const consultant_ref = ref(null)
defineExpose({validate: async() => !consultant_ref.value || (await consultant_ref.value.validate())})

const {l2, clientName, saveDraft} = await useL2()
const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.consulting)

const consultingValidations = computed(() => {
  return l2.consulting.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0 || !row.name?.trim() || !row.address?.trim()
    || !row.city?.trim() || (!row.state?.trim() || !(rules.validState(row.state?.trim()) === true)) || !row.postcode?.trim()
    || !row.date || row.date > l2.period_end || row.date < l2.period_start)
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="consultant_ref"
    :rows="l2.consulting"
    prompt="Do you have any consultant and expert witness expenses to report?"
    v-model="l2.has_consulting"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot:actions>
      <p v-if="consultingValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <p-date-picker ref="set_focus" autofocus v-model="row.date" label="Date" required :minDate='l2.period_start' :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model.number="row.source" required/>
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <q-input label="Name" v-model="row.name" :rules="[rules.requireString]"/>
      <q-input label="Address" v-model="row.address" :rules="[rules.requireString]"/>
      <q-input label="City" v-model="row.city" :rules="[rules.requireString]"/>
      <q-input label="State" v-model="row.state" :rules="[rules.requireString, rules.validState]"/>
      <q-input label="Postcode" v-model="row.postcode" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
