<script setup>

import {entertainmentDescription, nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import {computed, inject, ref} from "vue";
import rules from "@wapdc/pdc-ui/rules"
import PInfoDialog from "components/global/PInfoDialog.vue";

const navigation = inject('navigation')
const rowDefault= {
  source: null,
  occasion_description: null,
  cost: null,
  place: null,
  participant_listing: null,
}
const typesOfOccasion = [
  'Enrollment and course fees',
  'Entertainment',
  'Reception',
  'Travel, lodging and subsistence',
]

const itemizedEntertainment_ref = ref(null)
defineExpose({validate: async() => !itemizedEntertainment_ref.value || (await itemizedEntertainment_ref.value.validate())})
const {l2, clientName, saveDraft} = await useL2()
const set_focus = ref(null)
function focusFirst(){
  if(set_focus.value){
    set_focus.value?.focus()
  }
}
const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.entertainment)

const entertainmentValidations = computed(() => {
  return l2.entertainment.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.cost || row.cost <= 0 || !row.occasion_description?.trim() || !row.place?.trim()
    || !row.occasion_date || row.occasion_date > l2.period_end || row.occasion_date < l2.period_start)
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p>
    Enter the total amount spent for each occasion including any staging costs, tax, and gratuity.
    Show the actual amount spent entertaining each individual in the "participant listing".
    <p-info-dialog v-if="entertainmentDescription" title="Entertainment/education/travel/gifts - Itemized">
        <template v-slot:default>
          <p>
            {{ entertainmentDescription.itemizeDisclaimer.prompt }}
          </p>
          <ul>
            <li v-for="item in entertainmentDescription.itemizeDisclaimer.list" :key="item">
            {{ item }}
            </li>
          </ul>
          <p>
            {{ entertainmentDescription.electedOfficialDisclaimer.prompt }}
          </p>
          <ol>
            <li v-for="item in entertainmentDescription.electedOfficialDisclaimer.list" :key="item">
              {{ item }}
            </li>
          </ol>
        </template>
      </p-info-dialog>
  </p>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="itemizedEntertainment_ref"
    :rows="l2.entertainment"
    v-model="l2.has_entertainment"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName},
      {name: 'description', label: 'Description', field: 'occasion_description'},
      {name: 'amount', label: 'Amount', field: 'cost', format: v => formatMoney(v)}
    ]"
    prompt="Do you have any itemized entertainment expenses to report?"
    :row-default="rowDefault"
    @rows-changed="saveDraft"
  >
    <template v-slot:actions>
      <p v-if="entertainmentValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <p-date-picker autofocus ref="set_focus" v-model="row.occasion_date" required label="Date" :minDate='l2.period_start' :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model.number="row.source"/>
      <q-input label="Amount" :rules="[rules.required, rules.positiveAmount]" type="number" v-model="row.cost"></q-input>
      <q-select v-model="row.type_of_occasion" :rules="[rules.required]" :options="typesOfOccasion" label="Type of occasion"/>
      <q-input label="Description" :rules="[rules.requireString]" v-model="row.occasion_description"/>
      <q-input label="Participant listing" :rules="[rules.requireString]" type="textarea" v-model="row.participant_listing"/>
      <q-input label="Place" :rules="[rules.requireString]" v-model="row.place"/>
    </template>
  </p-edit-table>
</template>

