<script setup>
import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import rules from "@wapdc/pdc-ui/rules";
import {computed, inject, ref} from "vue";

const navigation = inject('navigation')
const independent_expenditures_ballot_ref = ref(null)
defineExpose({validate: async() => !independent_expenditures_ballot_ref.value || (await independent_expenditures_ballot_ref.value.validate())})
const { l2, clientName, saveDraft } = await useL2()
const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);

const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.independent_expenditures_ballot)

const ballotIEValidations = computed(() => {
  return l2.independent_expenditures_ballot.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0 || !row.description?.trim() || !row.stance || !row.recipient?.trim()
    || !row.date || row.date > l2.period_end || row.date < l2.period_start || !row.ballot_number?.trim())
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p>
    Enter all independent expenditures of political advertising in support or opposition to any ballot measure exceeding $1,000.
  </p>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="independent_expenditures_ballot_ref"
    prompt="Do you have any independent expenditures of political advertising in support or opposition to any ballot measure that costs $1,000 or more?"
    v-model="l2.has_independent_expenditures_ballot"
    @rows-changed="saveDraft"
    :rows="l2.independent_expenditures_ballot"
    :columns="[
       {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      { name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName },
      { name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v) }
    ]"
  >
    <template v-slot:actions>
      <p v-if="ballotIEValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <p-date-picker ref="set_focus" autofocus v-model="row.date" label="Date" required :minDate="l2.period_start" :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model.number="row.source" label="Source" />
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]" />
      <q-input label="Ballot number or description" v-model="row.ballot_number" :rules="[rules.requireString]" hint="Enter a description if the ballot number is unavailable." />
      <q-field :rules="[rules.required]" dense hide-bottom-space v-model="row.stance" borderless>
        <q-option-group type="radio" :options="[{label: 'Oppose', value: 'Against'}, {label: 'Support', value: 'For'}]" v-model="row.stance" />
      </q-field>
      <q-input label="Vendor" v-model="row.recipient" :rules="[rules.requireString]" />
      <q-input label="Description" v-model="row.description" :rules="[rules.requireString]" />
    </template>
  </p-edit-table>
</template>
