<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import {formatMoney, validationStyle} from "src/utils";
import SelectClient from "pages/l2/SelectClient.vue";
import rules from "@wapdc/pdc-ui/rules";
import {computed, inject, ref} from "vue";
import SelectContributionRecipient from "components/SelectContributionRecipient.vue";

const navigation = inject('navigation')
const in_kind_contributions_ref = ref(null);
defineExpose( {validate: async() => !in_kind_contributions_ref.value || (await in_kind_contributions_ref.value.validate())})

const {l2, clientName, saveDraft} = await useL2()
const yesNo = ref([
  {label: 'Yes', value: true},
  {label: 'No', value: false}
]);

const yearMonth = ref(null)
yearMonth.value = l2.period_start.substring(0,7);

const rule = {
  requireBoolean: (t) => t === true || t === false || 'Required'
}
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.contributions_in_kind)

const contributionsInkindValidations = computed(() => {
  return l2.contributions_in_kind.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return ((!row.source && !row.source_name?.trim() && !row.committee_id) || !row.amount || row.amount <= 0 || !row.recipient_type || !row.recipient?.trim()
    || !row.date || row.date > l2.period_end || row.date < l2.period_start || (row.is_advertisment && !row.vendor))
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <p>
    Enter all in-kind contributions in excess of $100.
  </p>
  <p-edit-table
    autofocus
    @row-selected="focusFirst"
    :selected-index="navigation.currentSection.index"
    ref="in_kind_contributions_ref"
    :rows="l2.contributions_in_kind"
    prompt="Have you contributed any goods or services to a political campaign worth more than $100? This includes political advertising that was made in cooperation, consultation or coordination with the campaign."
    v-model="l2.has_contributions_in_kind"
    :columns="[
      {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
      {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
      {name: 'name', label: 'name', field: 'recipient', align: 'left'  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v=>formatMoney(v)}
    ]"
    :row-default = "{source: null, amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null, vendor: null}"
    @rows-changed="saveDraft"
  >
    <template v-slot:actions>
      <p v-if="contributionsInkindValidations">
        <span :style=validationStyle>⚠</span> Indicates missing information.
      </p>
    </template>
    <template v-slot="{row}">
      <p-date-picker ref="set_focus" autofocus v-model="row.date" label="Date" required :minDate='l2.period_start' :maxDate="l2.period_end" :defaultYearMonth="yearMonth"/>
      <select-client v-model:name="row.source_name" v-model.number="row.source" v-model:committee-id="row.committee_id" allow-other allow-pac required />
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <select-contribution-recipient v-model:name="row.recipient" v-model:recipient-type="row.recipient_type" v-model:recipient-id="row.recipient_id"/>
      <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
      <p>Was this expense payment for the running of an advertisement?</p>
      <q-field :rules="[rule.requireBoolean]" dense hide-bottom-space v-model="row.is_advertisment" borderless ref="advertisementField">
        <q-option-group v-model="row.is_advertisment" :options="yesNo" />
      </q-field>
      <q-input label="Vendor" v-if="row.is_advertisment" v-model="row.vendor" :rules="[rules.requireString]"/>
      </template>
  </p-edit-table>
</template>

<style scoped>

</style>

