<script setup>

import {nullInvalidSource, useL2} from "src/l2";
import SelectClient from "pages/l2/SelectClient.vue";
import {ref} from "vue";
import rules from "@wapdc/pdc-ui/rules"

const small_contribution_ref = ref(null)
defineExpose({validate: async() => !small_contribution_ref.value || (await small_contribution_ref.value.validate())})

const {l2} = await useL2()
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.contributions_small)

</script>
<template>
  <p>
    Enter the aggregate total of all monetary or in-kind contributions of $100 or less for each funding source.
  </p>
  <q-form ref="small_contribution_ref" greedy>
    <p-edit-rows
      autofocus
      @row-selected="focusFirst"
      haveAnyNoGap
      prompt="Do you have any monetary or in-kind contributions of $100 or less to report?"
      v-model="l2.has_contributions_small"
      :rows="l2.contributions_small"
    >
      <template v-slot="{row}">
        <select-client ref="set_focus" v-model.number="row.source" autofocus/>
        <q-input :rules="[rules.required, rules.positiveAmount]" label="Amount" type="number" v-model.number="row.amount"></q-input>
      </template>
    </p-edit-rows>
  </q-form>
</template>
