<script setup>
import {nullInvalidSource, useL2} from "src/l2";
import SelectClient from "pages/l2/SelectClient.vue";
import rules from "@wapdc/pdc-ui/rules"
import {ref} from "vue"

const contributingPac_ref = ref(null)
const emit = defineEmits(["update:name"])

defineExpose({validate: async () => !contributingPac_ref.value || (await contributingPac_ref.value.validate())})
const {l2, committees} = await useL2()
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

const showPACDialog = ref(false)
const pac_name = ref(null)
const currentRow = ref(null)

function showPACNotListedDialog(row) {
  pac_name.value = null
  currentRow.value = row
  showPACDialog.value = true
}

async function doSave() {
  showPACDialog.value = false
  if (pac_name.value) {
      currentRow.value.pac_name = pac_name.value
      currentRow.value.committee_id = null
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.contributing_pacs)

</script>
<template>
  <p>If the client's PAC made any contributions that were not transmitted by the lobbyist, enter the
    client (employer) and the name of the client's PAC.</p>
  <q-form ref="contributingPac_ref" greedy>
    <p-edit-rows
      autofocus
      haveAnyNoGap
      @row-selected="focusFirst"
      :rows="l2.contributing_pacs"
      prompt="Do you have any client (employer) contributing PACs to report?"
      v-model="l2.has_contributing_pacs"
      :row-default="{source: null, pac_name: null, committee_id: null}"
    >
      <template v-slot="{row}">
        <select-client autofocus ref="set_focus" no-self v-model.number="row.source" required/>
        <div style="display: flex; align-items: center; gap: 10px;">
          <q-input v-if="row.pac_name && !row.committee_id" v-model="row.pac_name" style="flex: 1;" :rules="[rules.requireString]" clearable/>
          <template v-else>
            <p-select-search
              v-model.number="row.committee_id"
              label-property="name"
              value-property="committee_id"
              v-model:name="row.pac_name"
              :options="committees"
              :rules="[rules.required]"
              style="flex: 1;"
            />
            <a href="#" @click.prevent="showPACNotListedDialog(row)" style="white-space: nowrap;">Committee not found</a>
          </template>
        </div>
      </template>
    </p-edit-rows>
  </q-form>

    <q-dialog v-model="showPACDialog" persistent>
      <q-card>
        <q-form greedy @submit="doSave">
          <q-card-section>
            <p class="text-h2 q-mb-sm">
              Committee not found
            </p>
            <p>
              Important: Before manually adding a committee, please ensure that you have done the following:
            </p>
            <ol>
              <li>
                Double-check the spelling of the committee name.
              </li>
              <li>Try to search using acronyms or variations of the committee name.</li>
              <li>Try searching with less specific terms to broaden results.</li>
            </ol>
            <p>
              If after thorough searching you still can't find the committee, you may enter the details below.
            </p>
            <q-input v-model="pac_name" label="PAC name" :rules="[rules.requireString]"/>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn label="Ok" color="primary" type="Submit"/>
            <q-btn label="Cancel" color="secondary" @click="showPACDialog = false"/>
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
</template>
