<script setup>

import {useL2} from "src/l2";
import {ref} from "vue";
const form_ref = ref(null)

// Exposing a validate method will cause the wizard to ensure that the form gets validated before going onto another step.
defineExpose({validate: async () => {
  return await form_ref.value.validate()
  }})
const {l2} = await useL2()

const confirmDeleteDialog = ref(false)

function resetElectionExpenses() {
  l2.has_contributions_small = false
  l2.contributions_small.splice(0, l2.contributions_small.length)
  l2.has_contributions = false
  l2.contributions.splice(0, l2.contributions.length)
  l2.has_contributions_in_kind = false
  l2.contributions_in_kind.splice(0, l2.contributions_in_kind.length)
  l2.has_independent_expenditures_candidate = false
  l2.independent_expenditures_candidate.splice(0, l2.independent_expenditures_candidate.length)
  l2.has_independent_expenditures_ballot = false
  l2.independent_expenditures_ballot.splice(0, l2.independent_expenditures_ballot.length)
  l2.has_contributing_pacs = false
  l2.contributing_pacs.splice(0, l2.contributing_pacs.length)
  confirmDeleteDialog.value = false
}

function cancelResetElectionExpenses() {
  confirmDeleteDialog.value = false
}

function electionExpenseReset() {
  if(l2.has_contributions_small || l2.has_contributions || l2.has_contributions_in_kind || l2.has_independent_expenditures_candidate || l2.has_independent_expenditures_ballot || l2.has_contributing_pacs) {
    confirmDeleteDialog.value = true
  } else {
    resetElectionExpenses()
  }
}
const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}
</script>

<template>
  <p>The questions in this section apply to: </p>
  <ul>
    <li>contributions to a Washington State candidate or committee that were given or transmitted by the lobbyist</li>
    <li>independent expenditures made by the lobbyist or lobbyist's client (employer) in support of or opposition to any Washington State candidate or ballot measure</li>
  </ul>
  <div class="q-mb">
    <q-form ref="form_ref" greedy>
      <p-have-any
        autofocus
        ref="set_focus"
        :rows="l2.contributions"
        :row-default="{source: null, amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null}"
        v-model="l2.has_contributions"
        required
        prompt="Do you have any monetary contributions in excess of $100 to report?"
      />
      <p-have-any
        :row-default = "{source: null, amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null, vendor: null}"
        :rows="l2.contributions_in_kind"
        v-model="l2.has_contributions_in_kind"
        required
        prompt="Do you have any contributions of goods or services worth more than $100 that were made directly to a political campaign? This includes political advertising that was coordinated with the campaign."
      />
      <p-have-any
        v-model="l2.has_contributions_small"
        :rows="l2.contributions_small"
        required
        prompt="Do you have any monetary or in-kind contributions of $100 or less to report?"
      />
      <p-have-any
        v-model="l2.has_independent_expenditures_candidate"
        :rows="l2.independent_expenditures_candidate"
        required
        prompt="Do you have any independent expenditures of political advertising in support or opposition to any candidate that costs $1,000 or more?"
      />
      <p-have-any
        v-model="l2.has_independent_expenditures_ballot"
        :rows="l2.independent_expenditures_ballot"
        required
        prompt="Do you have any independent expenditures of political advertising in support or opposition to any ballot measure that costs $1,000 or more?"
      />
      <p-have-any
        v-model="l2.has_contributing_pacs"
        :rows="l2.contributing_pacs"
        required
        prompt="Do any of your client(s) have a PAC that gives directly to campaigns?"
      />
      <div class="row items-center">
        <div class="col-9"/>
        <div class="col-3">
          <q-btn no-caps ternary rounded flat underline
            style="text-decoration: underline"
            label="None of these apply"
            @click="electionExpenseReset"
          />
        </div>
      </div>
    </q-form>
  </div>
  <q-dialog v-model="confirmDeleteDialog" persistent>
    <q-card>
      <q-card-section>
        <p>
          You have answered yes to having the following election expenses:
        </p>
        <p v-if="l2.has_contributions" class="q-mb-none">
          monetary contributions in excess of $100
        </p>
        <p v-if="l2.has_contributions_in_kind" class="q-mb-none">
          contributions of goods or services to a political campaign worth more than $100
        </p>
        <p  v-if="l2.has_contributions_small" class="q-mb-none">
          monetary or in in-kind contributions of $100 or less
        </p>
        <p v-if="l2.has_independent_expenditures_candidate" class="q-mb-none">
          expenditures in excess of $100 for candidates
        </p>
        <p v-if="l2.has_independent_expenditures_ballot" class="q-mb-none">
          expenditures in excess of $100 for ballot measures
        </p>
        <p v-if="l2.has_contributing_pacs" class="q-mb-none">
          your client(s) have a PAC that gives directly to campaigns
        </p>
        <p class="q-mt-md">
          Selecting none of these apply will <strong>clear any data</strong> related to these expenses.
        </p>
        <p>
          Do you wish to proceed?
        </p>
      </q-card-section>
      <q-card-actions>
        <q-btn no-caps label="YES - clear the data" color="primary" @click="resetElectionExpenses"/>
        <q-btn no-caps label="NO - keep the data"  @click="cancelResetElectionExpenses"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
