<script setup>
import {ref} from "vue";
import {useL2} from "src/l2";

const entertainment_ref = ref(null)

defineExpose({validate: () => !entertainment_ref.value || entertainment_ref.value.validate()})
const {l2} = await useL2()
const set_focus = ref( null)
</script>

<template>
  <h3>Itemized expenditures</h3>
  <p>Itemize all of the following expenditures that were incurred by lobbyist or lobbyist client/employer(s) for legislators,
    state officials, state employees and members of their immediate families. </p>
  <ul>
    <li>Entertainment expenditures exceeding $100 per occasion (including lobbyist’s expense) for meals, beverages,
      tickets, passes, or for other forms of entertainment.
    </li>
    <li>Receptions. See WAC 390-20-020A, L-2 Reporting Guide, to determine if per person cost is required.</li>
    <li>Travel, lodging and subsistence expenses in connection with a speech, presentation, appearance, trade mission,
      seminar or educational program.
    </li>
    <li>Enrollment and course fees in connection with a seminar or educational program.</li>
  </ul>
  <p>Lobbyists must provide an elected official with a copy of the L-2 or Memo Report if the lobbyist reports: 1)
    spending on one occasion over $100 for food or beverages for the official and/or his or her family member(s); or 2)
    providing travel, lodging, subsistence expenses or enrollment or course fees for the official and, if permitted, the
    official’s family.</p>
  <p>
    More details available on the
    <a href="https://www.pdc.wa.gov/registration-reporting/lobbying/lobbyists/lobbying-activities-report/entertainment" target="_blank">
      website
    </a>.
  </p>
  <p-have-any autofocus prompt="Do you have any itemized entertainment expenses to report?" v-model="l2.has_entertainment" :rows="l2.entertainment" required/>
  <q-separator />
  <h3>Non-itemized expenditures</h3>
  <p>Enter the per client (employer) or lobbyist sum for all non-itemized entertainment expenses of $100 or less that are not
    accounted for as itemized entertainment expenses.</p>
  <p-have-any prompt="Do you have any non-itemized entertainment expenses to report?" v-model="l2.has_entertainment_small" :rows="l2.entertainment_small" required/>
</template>

<style scoped>

</style>
