<script setup>

import {formatMoney, validationStyle} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import SelectClient from "pages/l2/SelectClient.vue";
import {nullInvalidSource, useL2} from "src/l2";
import {computed, inject, nextTick, ref} from "vue";

const navigation = inject('navigation')
const need_l6_ref = ref(null)
const have_any_ref = ref(null)
defineExpose({
  validate: async () => {
    let valid= true
    if (need_l6_ref.value) {
      valid = await need_l6_ref.value.validate()
    }
    if (have_any_ref.value) {
      valid = await have_any_ref.value.validate()
    }

    if (expensesIndirect_ref.value) {
      valid = valid && await expensesIndirect_ref.value.validate();
    }
    return valid
  }
})
const {l2, clientName, saveDraft} = await useL2()
const expensesIndirect_ref = ref(null)
const haveAnyIndirect = ref(l2.has_any_indirect)
const confirmClear = ref(false)

function updateAnswer(newValue)  {
  if (newValue === false) {
    if (l2.has_expenses_indirect !== null || l2.needL6 !== null) {
      confirmClear.value = true
      nextTick(() => {
        haveAnyIndirect.value = true
      })

      return
    }
  }
  haveAnyIndirect.value = newValue
  l2.has_any_indirect = newValue
}

function cancelClear() {
  confirmClear.value =false
  l2.has_any_indirect = true
}

function doClear() {
  l2.has_expenses_indirect = null
  l2.expenses_indirect.length = 0
  l2.needL6 = null
  l2.has_any_indirect = false
  haveAnyIndirect.value = false
  confirmClear.value = false
}

const set_focus = ref( null)
function focusFirst(){
  if(set_focus.value) {
    set_focus.value?.focus()
  }
}

//checks if there are any sources referenced in section and sets a null value
nullInvalidSource(l2.sources, l2.expenses_indirect)

const indirectExpenseValidations = computed(() => {
  return l2.expenses_indirect.some(x => hasValidationError(x))})

function hasValidationError(row) {
  return (!row.source || !row.amount || row.amount <= 0 || !row.name_of_campaign?.trim() || !row.recipient?.trim() || !row.description?.trim() || !row.type
    || !row.address?.trim() || !row.city?.trim() || (!row.state?.trim() || !(rules.validState(row.state?.trim()) === true)) || !row.postcode?.trim())
}

function validationCheck(col, row) {
  return hasValidationError(row) ? '⚠' : ''
}

</script>

<template>
  <div>
    <p> <strong>Indirect lobbying</strong> (or grass roots lobbying) presents a campaign to encourage the public to lobby its legislators.
    </p>
    <p>
      <q-form ref="have_any_ref">
      Do you have any grass roots lobbying to report?
        <q-field  :rules="[rules.requireBoolean]"  dense hide-bottom-space v-model="haveAnyIndirect" borderless>
          <q-option-group autofocus @update:modelValue="updateAnswer" type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" v-model="haveAnyIndirect" />
        </q-field>
      </q-form>
    </p>
    <div v-if="haveAnyIndirect" class="shadow-1 q-pa-md">
      <p>
        Did any client (employer) solicit or receive contributions for any indirect lobbying campaign that were used in whole or in part with existing general treasury dollars?
        <q-form ref="need_l6_ref">
          <q-field :rules="[rules.requireBoolean]"  dense hide-bottom-space v-model="l2.needL6" borderless>
           <q-option-group autofocus type="radio" :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" v-model="l2.needL6" />
          </q-field>
        </q-form>
      </p>
        <div class="shadow-1 q-pa-md" v-if="l2.needL6">
          Expenses and contributions for such campaigns <strong>must be reported</strong> on an L-6 grass roots lobbying report, available in the
          <a href="https://www.pdc.wa.gov/registration-reporting/forms-reports-directory#L-6" target="_blank">forms and reports directory</a>.
        </div>
      <q-separator class="q-mb-md q-mt-md"/>
        <p-edit-table
          autofocus
          @row-selected="focusFirst"
          :selected-index="navigation.currentSection.index"
        ref="expensesIndirect_ref"
        :rows="l2.expenses_indirect"
        prompt="Do you have any grass roots lobbying expenses to report for campaigns solely funded by client (employer) general treasury funds?"
        v-model="l2.has_expenses_indirect"
        :columns="[
          {label: '', field: '', align: 'left', format: validationCheck, style: validationStyle},
          {name: 'client', label: 'Client/employer', field: 'source', align: 'left', format: clientName  },
          {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
        ]"
        @rows-changed="saveDraft"
      >
        <template v-slot:actions>
          <p v-if="indirectExpenseValidations">
            <span :style=validationStyle>⚠</span> Indicates missing information.
          </p>
        </template>
        <template v-slot="{row}">
          <q-input autofocus ref="set_focus" label="Name of campaign" v-model="row.name_of_campaign" :rules="[rules.requireString]"/>
          <select-client v-model.number="row.source" no-self required/>
          <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
          <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
          <q-input label="Vendor or recipient" v-model="row.recipient" :rules="[rules.requireString]"/>
          <q-select label="Type" :options="['Advertising', 'Consultants, public relations', 'Contributions', 'Entertainment', 'Office expense, travel, salaries', 'Other']" v-model="row.type" :rules="[rules.requireString]"/>
          <q-input label="Address" v-model="row.address" :rules="[rules.requireString]"/>
          <q-input label="City" v-model="row.city" :rules="[rules.requireString]"/>
          <q-input label="State" v-model="row.state"  :rules="[rules.requireString, rules.validState]"/>
          <q-input label="Postcode" v-model="row.postcode" :rules="[rules.requireString]"/>
        </template>
      </p-edit-table>
      </div>
    <q-dialog v-model="confirmClear">
      <q-card>
        <q-card-section>
          <slot name="confirmDelete">
            <p>You have already entered data regarding indirect lobbying.  Changing your answer to no will remove
              all data previously entered.</p>
            <p>Do you wish to proceed?</p>
          </slot>
        </q-card-section>
        <q-card-actions>
          <q-btn no-caps label="YES - clear the data" color="primary" @click="doClear"/>
          <q-btn no-caps label="NO - keep the data"  @click="cancelClear"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>

</template>

<style scoped>

</style>
