<script setup>
import { ref } from "vue";
import {useRoute, useRouter} from "vue-router";
const route = useRoute()
const router = useRouter()

import rules from "@wapdc/pdc-ui/rules";
import {useL2} from "src/l2";
import L2ReportView from "pages/l2/L2ReportView.vue";
import {useApplication} from "@wapdc/pdc-ui/application";
import {useLobbyist} from "src/lobbyist";
const lobbyistApi = (await useLobbyist()).lobbyistApi

const {user} = await useApplication()
const {l2, getDraft } = await useL2()

const periodStart = ref(route.params.period_start?.toString())
if (periodStart.value) {
  await getDraft(periodStart.value)
}
async function handleBack(){
  await router.push(`/firm/${l2.firm.lobbyist_firm_id}/l2-draft/${periodStart.value}/`)
}

function print() {
  window.print()
}
const certify_dialog_is_open = ref(false)
const certify_signature = ref('')
const certification_text = "I certify under penalty of perjury under the laws of the State of Washington that I am authorized to sign on behalf of the lobbyist/firm named in this registration and that the information provided on this form is true, complete and correct to the best of my knowledge."

async function submitL2() {
  l2.certification.signature = certify_signature.value
  l2.certification.text = certification_text
  const res = await lobbyistApi.post(`/firm/${l2.firm.lobbyist_firm_id}/l2/${periodStart.value}/submit`, {
    firm_id: l2.firm.lobbyist_firm_id,
    period_start: periodStart.value,
    period_end: l2.period_end,
    user_data: l2
  })

  if (res.submission_response.report_id && res.submission_response.submission_id) {
    certify_dialog_is_open.value = false;
    await router.push(`/firm/${l2.firm.lobbyist_firm_id}`)
  }
}
</script>
<template>
  <div class="row q-my-md print-hide">
      <q-btn label="Submit" color="primary" @click="certify_dialog_is_open = true" icon="check" class="q-mr-md" />
      <q-btn label="Edit" color="secondary" @click="handleBack" icon="edit" class="q-mr-md" />
      <q-btn label="Print" icon="print" class="q-mr-md" color="primary" outline @click="print"/>
  </div>
<L2ReportView :l2="l2" :draft="true"/>

  <q-dialog persistent v-model="certify_dialog_is_open">
    <q-card>
      <q-form @submit="submitL2">
        <q-card-section>
          <div class="text-h6 q-mb-md">Certify</div>
          <p>By typing <strong>I certify</strong> on the line below, {{certification_text}}</p>
          <q-input
            lazy-rules
            label="Type here"
            v-model="certify_signature"
            :rules="[rules.required, rules.validCertificationStatement]"
          />
          <div v-if="user.name" class="q-mb-md">By {{ user.name }}</div>
          <div v-else class="q-mb-md">Please update your profile to certify.</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Submit" type="submit" color="primary" :disabled="!user.name"/>
          <q-btn flat label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<style>
@media print {
  .firm-heading {
    display: none;
  }
}
</style>
