<script setup>
  import {inject} from "vue";
  import {useL2} from "src/l2";
  import {useRoute, useRouter} from "vue-router";


  const {l2, validations} = await useL2()
  const router = useRouter()
  const route = useRoute()

  const navigation =inject('navigation')

function getWarnings() {
    const areas = [
      {section: 'compensation', item: null, label: 'Compensation', search: 'l2.compensation', addIndex: true},
      {section: 'subcontractor', item: null, label: 'Sub-contractor payments', search: 'l2.sub_lobbyist_payments', addIndex: true},
      {section: 'personal', item: null, label: 'Personal expenses', search: 'l2.personal_expenses'},
      {section: 'entertainment', item: null, label: 'Entertainment expenses', search: 'l2.entertainment_all'},
      {section: 'entertainment', item: 'small', label: 'Non-itemized entertainment', search: 'l2.entertainment_small'},
      {section: 'entertainment', item: 'itemized', label: 'Itemized entertainment', search: 'l2.entertainment_itemized', addIndex: true},
      {section: 'contributions', item: null, label: 'Election expenses', search: 'l2.contributions_all'},
      {section: 'contributions', item: 'small', label: 'Election expenses - small contributions', search: 'l2.contributions_small'},
      {section: 'contributions', item: 'ads', label: 'Election expenses - monetary contributions', search: 'l2.contributions_monetary', addIndex: true},
      {section: 'contributions', item: 'other_pac', label: 'Election expenses - contributing pacs', search: 'l2.contributing_pacs'},
      {section: 'contributions', item: 'in-kind', label: 'Election expenses - in-kind contributions', search: 'l2.contributions_in_kind', addIndex: true},
      {section: 'contributions', item: 'independent_expenditures_candidate', label: 'Election expenses - candidate', search: 'l2.independent_expenditures_candidate', addIndex: true},
      {section: 'contributions', item: 'independent_expenditures_ballot', label: 'Election expenses - ballot measure', search: 'l2.independent_expenditures_ballot', addIndex: true},
      {section: 'direct-expenses', item: null, label: "Direct lobbying", search:'l2.direct'},
      {section: 'direct-expenses', item: 'print', label: "Printing and literature", search:'l2.printing', addIndex: true},
      {section: 'direct-expenses', item: 'public_relations', label: "Public relations and polling", search:'l2.public_relations', addIndex: true},
      {section: 'direct-expenses', item: 'other', label: "Other direct lobbying expenses", search:'l2.expenses_other', addIndex: true},
      {section: 'direct-expenses', item: 'consulting', label: "Consultants and expert witnesses", search:'l2.consulting', addIndex: true},
      {section: 'indirect-expenses', item: null, label: "Indirect lobbying", search:'l2.expenses_indirect', addIndex: true},
      {section: 'lobbying', item: null, label: "Lobbying", search: 'lobbying', addIndex: true}
    ]

    validations.value.forEach((v) => {
      const key = Object.keys(v)[0]
      const a = areas.find(a => key.includes(a.search))
      if (a) {
        if (a.addIndex && !a.index) {
          a.index = parseInt(key.split('.')[2])
        }
        a.show = true;
      }
    })
    return areas.filter(w => !!w.show)
}

function selectSection(area) {
    if (area.addIndex) {
      navigation.currentSection = {section: area.section, item: area.item, validate: true, index: area.index}
    }
    else {
      navigation.currentSection = {section: area.section, item: area.item, validate: true}
    }
}

function l2PreviewDraft(){
  const periodStart = route.params.period_start?.toString()
  router.push({name: 'client-create-l2', params: {period_start: periodStart}})
}


</script>

<template>
  <div v-if="validations.length > 0">
    <q-banner rounded class="bg-warning"  v-if="l2.conversion_incomplete">
      <q-icon name="warning"/>
      This amendment was created from a report from a prior version of the lobbyist system.  Because the way we ask for
      the information has changed significantly, you will need to re-enter information from the prior report manually.
      Data can be found by  <router-link target="_blank" :to="{name: 'firm-l2', params: {submission_id: l2.amends}}">viewing the prior report</router-link>.
    </q-banner>
    <p>The following areas of your report still need work.</p>
    <div v-for="warning in getWarnings()" :key="`${warning.section}-${warning.item}`" >
      <q-item clickable v-ripple @click="selectSection(warning)">
        <q-item-section><q-item-label>{{warning.label}} section is incomplete </q-item-label></q-item-section>
        <span class="text-caption q-ml-lg" style="cursor: pointer;">
          <q-btn color="primary" rounded>Fix it</q-btn>
        </span>
      </q-item>
    </div>
  </div>
  <div v-else>
    <p class="print-hide">We have found no problems with your report</p>
    <q-btn label="Preview and Submit" color="primary" @click="l2PreviewDraft()" icon="check" class="q-mr-md" />
  </div>
</template>
