<script setup>
import {reactive, ref} from 'vue'
const l2 = reactive({})

import {useLobbyist} from "src/lobbyist"
const {lobbyistApi} = await useLobbyist()

import {useFirm} from "src/firm"
const firm = await useFirm()

import {useRoute, useRouter} from "vue-router"
const router = useRouter()
const route = useRoute()
const submission_id = route.params.submission_id

import LegacyL2 from '../l2/LegacyL2.vue'
import L2ReportView from "pages/l2/L2ReportView.vue";
import {useAccessHub} from "src/AccessHub";
import {useApplication} from "@wapdc/pdc-ui/application";

const {accessHubUrl} = await useAccessHub()

function amendAccesshubReport(report_id) {
  return accessHubUrl(`/node/` + report_id + `/edit`)
}

const {userHasPermission} = await useApplication()
const allowL2 = ref(userHasPermission('lobbyist file l2'))

const showAmendDialog = ref(false)

async function confirmAmend() {
  const response = await lobbyistApi.post(`/firm/${firm.firm.lobbyist_firm_id}/l2/${l2.period_start}/amendment`)
  if (response) {
    showAmendDialog.value = false
    await router.push({name: 'edit-l2', params: {period_start: l2.period_start}})
  }
}

async function getL2() {
  lobbyistApi.get(`firm/${firm.firm.lobbyist_firm_id}/l2/${submission_id}`).then((result) => {
    if (result) {
      Object.assign(l2, result)
    }
  })
}

getL2();
function doPrint() {
  window.print()
}
</script>

<template>
  <div class="shadow-1 q-mb-md print-hide">
    <q-btn v-if="allowL2" class="q-mr-sm" @click="showAmendDialog = true" small color="primary">Amend</q-btn>
    <q-btn v-else class="q-mr-sm" :href="amendAccesshubReport(l2.report_id)" small color="primary">Amend</q-btn>
    <q-btn @click="doPrint()" class="q-mr-sm" label="Print" icon="print"/>
    <q-btn icon="history" label="Report history" :to="{name: 'firm-history-l2', params: {report_id: l2.report_id}}"/>
  </div>
  <div v-if="l2.version">
    <legacy-l2 v-if="parseFloat(l2.version) < 2.0" :l2="l2"></legacy-l2>
    <l2-report-view v-else :l2="l2.user_data" :draft="false"></l2-report-view>
  </div>
  <q-dialog v-model="showAmendDialog">
    <q-card>
      <q-card-section>
        <div class="text-h6 q-mb-md">Confirm Amendment</div>
        <div>Are you sure you want to amend this report?</div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn v-close-popup> No</q-btn>
        <q-btn color="primary" @click="confirmAmend()"> Yes</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

