<script setup>
import {ref} from 'vue'
import {formatPhone} from "src/utils";
import moment from "moment";
import {formatMoney, formatDate} from "@wapdc/pdc-ui/util";

const user_data = ref(null);
const address = ref(null);
const reporting_period = ref(null);
const contracts = ref([]);
const subcontracts = ref([]);
const sources = ref([]);
const occasionArray = ref([
  {"index": 1, name: "Entertainment"},
  {"index": 2, name: "Reception"},
  {"index": 3, name: "Travel, Lodging and Subsistence"},
  {"index": 4, name: "Enrollment & Course Fees"}]);

const props = defineProps(
  {
    l2: {type:Object}
  }
)

function getL2Values() {
  if (props.l2) {
    user_data.value = props.l2.user_data;
    address.value = user_data.value.address;
    reporting_period.value = moment(props.l2.period_start).format('MMMM YYYY');
    contracts.value = user_data.value.contract_lookup;
    sources.value = user_data.value.sources;
    subcontracts.value = user_data.value.subcontracts;
  }
}

getL2Values();

function getTargetName(target_id) {

  if(sources.value) {
    let foundSource = sources.value.find(({id}) => parseInt(id) === parseInt(target_id));
    if (foundSource) {
      return foundSource.name;
    }
  }

  if(contracts.value) {
    let foundContract = contracts.value.find(({id}) => parseInt(id) === parseInt(target_id));
    if (foundContract) {
      return foundContract.name;
    }
  }
  if(subcontracts.value) {
    let foundSubcontract = subcontracts.value.find(({id}) => parseInt(id) === parseInt(target_id));
    if (foundSubcontract) {
      return foundSubcontract.name;
    }
  }

  return target_id;
}

function getOccasion(id) {
  let found = occasionArray.value.find(({index}) => parseInt(index) === parseInt(id));
  if (found) {
    return found.name;
  }
  return id;
}

function emptyArrayToZero(x) {
  return x.length === 0 ? 0 : x
}

</script>

<template>
  <div v-if="user_data">
    <h3>{{ reporting_period }}</h3>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h3">{{user_data.firm_name}}</div>
        <div>{{ address.thoroughfare }}</div>
        <div>{{ address.locality }}, {{ address.administrative_area }} {{ address.postal_code }}</div>
        <div>{{ address.country }}</div>
        <div v-if="user_data.business_phone">{{ formatPhone(user_data.business_phone) }}</div>
      </q-card-section>
      <q-card-section>
        <div>Filed: {{ formatDate(l2.submitted_at) }}</div>
        <div v-if="l2.amended_at">Amended: {{ formatDate(l2.amended_at) }}</div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Personal Expenses</div>
        <q-table v-if="user_data.personal_expenses && (user_data.personal_expenses.length > 0)"
                 title="Personal expenses reimbursed by employer"
                 hide-pagination
                 :rows="user_data.personal_expenses" flat
                 :rows-per-page-options=[0]
                 :wrap-cells="true"
                 :columns="[
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'}]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No reimbursed personal expenses reported for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm">
          <div v-if="user_data.non_reimbursed_amount_ && (user_data.non_reimbursed_amount_.length > 0)">
            Sum of all personal expenses not reimbursed by employer: ${{ user_data.non_reimbursed_amount_ }}
          </div>
          <div v-else>
            No non-reimbursed personal expenses reported for {{ reporting_period }}
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Compensation</div>
        <q-table v-if="user_data.compensation && (user_data.compensation.length > 0)"
                 title="Detailed compensation by employer"
                 :rows="user_data.compensation" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'}]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No detailed compensation by employer reported for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <q-table v-if="user_data.sub_lobbyist_comp && (user_data.sub_lobbyist_comp.length > 0)"
                 title="Payments to sub-contracted lobbyists"
                 :rows="user_data.sub_lobbyist_comp" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'subcontract', label:'Sub contract', field: 'sub_lobbyist', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'}]"
        >
          <template v-slot:body-cell-subcontract="props">
            <q-td :props="props">
              {{ getTargetName(props.row.sub_lobbyist ? props.row.sub_lobbyist : null) }}
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No payments to sub-contracted lobbyist reported for {{ reporting_period }}
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Entertainment</div>
        <q-table v-if="user_data.entertainment && (user_data.entertainment.length > 0)"
                 title="Itemized entertainment expenses"
                 :rows="user_data.entertainment" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'date', label:'Date', field: 'occasion_date', format: formatDate, align: 'left'},
                 {name: 'description', label:'Description', field: 'occasion_description', align: 'left'},
                 {name: 'place', label:'Place', field: 'place', align: 'left'},
                 {name: 'cost', label:'Cost', field: 'cost', align: 'left', format: formatMoney},
                 {name: 'occasion', label:'Type of occasion', field: 'type_of_occasion', align: 'left'},
                 {name: 'participants', label:'Participant listing', field: 'participant_listing', align: 'left'},
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'}]"
        >
          <template v-slot:body-cell-occasion="props">
            <q-td :props="props">
              {{ getOccasion(props.row.type_of_occasion) }}
            </q-td>
          </template>
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.occasion_description"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-participants="props">
            <q-td :props="props">
              <span v-html="props.row.participant_listing"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-place="props">
            <q-td :props="props">
              <span v-html="props.row.place"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No itemized entertainment expenses for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <q-table v-if="user_data.non_item_ent && (user_data.non_item_ent.length > 0)"
                 title="Non-itemized entertainment expenses"
                 :rows="user_data.non_item_ent" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'}]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No non-itemized entertainment expenses for {{ reporting_period }}
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Contributions</div>
        <p>
          Reporting of all monetary and in-kind contributions made by the lobbyist or transmitted by the lobbyist on
          behalf of the lobbyist's client, PACs or other contributors.
        </p>
        <q-table v-if="user_data.contributions && (user_data.contributions.length > 0)"
                 title="Itemized contributions by employer"
                 :rows="user_data.contributions" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'date', label:'Date', field: 'created_at', format: formatDate, align: 'left'},
                 {name: 'whom', label:'To whom', field: 'person_s_entertained', align: 'left'},
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'}]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-whom="props">
            <q-td :props="props">
              <span v-html="props.row.person_s_entertained"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No itemized contributions by employers for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <q-table v-if="user_data.cont_emp_pac && (user_data.cont_emp_pac.length > 0)"
                 title="Itemized contributions by employer's PAC"
                 :rows="user_data.cont_emp_pac" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'whom', label:'To whom', field: 'person_s_entertained', align: 'left'},
                 {name: 'source', label:'Source', field: 'employer', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
                 {name: 'pac', label:'PAC name', field: 'pac_name', align: 'left'},
                 {name: 'date', label:'Date', field: 'occasion_date', format: formatDate, align: 'left'}]"

        >
          <template v-slot:body-cell-source="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-whom="props">
            <q-td :props="props">
              <span v-html="props.row.person_s_entertained"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-pac="props">
            <q-td :props="props">
              <span v-html="props.row.pac_name"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No itemized contributions by employer's PAC for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <q-table v-if="user_data.cont_no_pac && (user_data.cont_no_pac.length > 0)"
                 title="Other itemized contributions"
                 :rows="user_data.cont_no_pac" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'whom', label:'To whom', field: 'person_s_entertained', align: 'left'},
                 {name: 'contributor', label:'Name of contributor', field: 'name_of_contributor', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
                 {name: 'date', label:'Date', field: 'occasion_date', format: formatDate, align: 'left'}
                 ]"
        >
          <template v-slot:body-cell-whom="props">
            <q-td :props="props">
              <span v-html="props.row.person_s_entertained"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-contributor="props">
            <q-td :props="props">
              <span v-html="props.row.name_of_contributor"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No other itemized contributions for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <q-table v-if="user_data.employer_transmit && (user_data.employer_transmit.length > 0)"
                 title="Non-itemized contributions by employer"
                 :rows="user_data.employer_transmit" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'},
                 {name: 'sum', label:'Sum', field: 'amount', align: 'left'}]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-sum="props">
            <q-td :props="props">
              ${{ props.row.amount }}
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No non-itemized contributions for {{ reporting_period }}
        </div>
      </q-card-section>
      <q-card-section>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm">
          <div v-if="user_data.aggregate_total_of_all_non && parseFloat(user_data.aggregate_total_of_all_non)">
            Total of all other non-Itemized contributions: ${{ user_data.aggregate_total_of_all_non }}
          </div>
          <div v-else>
            Total of all other non-Itemized contributions: $0
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">PAC contribution activity</div>
        <p>Reporting of PAC contribution activity for contributions not made by or transmitted by the lobbyist.
          This section only indicates that the lobbyist was aware of the contribution activity but did not take part and
          is not reporting any dollar amounts.</p>
        <q-table v-if="user_data.employers_pac && (user_data.employers_pac.length > 0)"
                 title="Pac contributions not transmitted by lobbyist"
                 :rows="user_data.employers_pac" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'name', label:'Pac name', field: 'pac_name', align: 'left'},
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'}]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              <span v-html="props.row.pac_name"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No PAC contribution activity reported for {{ reporting_period }}
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Advertising</div>
        <p>Itemized reporting of expenses for advertising, printing, informational literature.</p>
        <q-table v-if="user_data.advertising && (user_data.advertising.length > 0)"
                 :rows="user_data.advertising" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'amount', label:'Expense sum for this source', format: formatMoney, field: 'amount', align: 'left'},
                 {name: 'source', label:'Source', field: 'employer', align: 'left'}]"
        >
          <template v-slot:body-cell-source="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No advertising expenses reported for {{ reporting_period }}
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Political ads</div>
        <p>Itemized reporting of expenses for political ads, public relations, polling, telemarketing, etc.</p>
        <q-table v-if="user_data.political_ads && (user_data.political_ads.length > 0)"
                 :rows="user_data.political_ads" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'date', label:'Date', field: 'created_at', format: formatDate, align: 'left'},
                 {name: 'name', label:'Name of vendor or individual', field: 'person_s_entertained', align: 'left'},
                 {name: 'description', label:'Description', field: 'short_description', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
                 {name: 'source', label:'Source', field: 'employer', align: 'left'}]"
        >
          <template v-slot:body-cell-source="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-description="props">
            <q-td :props="props">
              <span v-html="props.row.short_description"></span>
            </q-td>
          </template>
          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              <span v-html="props.row.person_s_entertained"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No political advertising expenses reported for {{ reporting_period }}
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Other lobbying expenses</div>
        <p>Payments by the Lobbyist for other lobbying expenses and services, including payments to subcontract
          lobbyists, expert witnesses and
          others retained to provide lobbying services or assistance in lobbying and payments for grass-roots lobbying
          campaigns.
        </p>
        <q-table v-if="user_data.other && (user_data.other.length > 0)"
                 title="Detailed expenses"
                 :rows="user_data.other" flat
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'date', label:'Date', field: 'created_at', format: formatDate, align: 'left'},
                 {name: 'name', label:'Recipient name', field: 'person_s_entertained', align: 'left'},
                 {name: 'amount', label:'Amount', field: 'amount', format: formatMoney, align: 'left'},
                 {name: 'address', label:'Address', field: 'short_description', align: 'left'},
                 {name: 'source', label:'Source', field: 'employer', align: 'left'}]"
        >
          <template v-slot:body-cell-address="props">
            <q-td :props="props">
              <div>{{
                  props.row.recipient_address.thoroughfare ? `${props.row.recipient_address.thoroughfare} ` : ''
                }}
              </div>
              <div>{{ props.row.recipient_address.premise ? `${props.row.recipient_address.premise}` : '' }}</div>
              <div>
                {{ props.row.recipient_address.locality ? `${props.row.recipient_address.locality}, ` : '' }}
                {{
                  props.row.recipient_address.administrative_area ? `${props.row.recipient_address.administrative_area}, ` : ''
                }}
                {{ props.row.recipient_address.postal_code ? `${props.row.recipient_address.postal_code}` : '' }}
              </div>
              <div>{{ props.row.recipient_address.country ? `${props.row.recipient_address.country}` : '' }}</div>
            </q-td>
          </template>
          <template v-slot:body-cell-source="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              <span v-html="props.row.person_s_entertained"></span>
            </q-td>
          </template>
        </q-table>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm" v-else>
          No other lobbying expenses reported for {{ reporting_period }}
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h2 q-mb-sm">Lobbying activities</div>
        <p>All subject areas lobbied for each employer and time spent lobbying</p>
        <q-table v-if="user_data.sub_mat && (user_data.sub_mat.length > 0)"
                 :rows="user_data.sub_mat" flat
                 title="Subject area(s) lobbied"
                 :rows-per-page-options=[0]
                 hide-pagination
                 :wrap-cells="true"
                 :columns="[
                 {name: 'employer', label:'Employer', field: 'employer', align: 'left'},
                 {name: 'subject', label:'Subject matter of proposed legislation', field: 'amount', align: 'left'},
                 {name: 'number', label:'Issue or bill number', field: 'issue_or_bill_number', align: 'left'},
                 {name: 'considering', label:'Persons, legislative committee, or state agency considering the matter', field: 'legislative_agency', align: 'left'}
                 ]"
        >
          <template v-slot:body-cell-employer="props">
            <q-td :props="props">
              {{ getTargetName(props.row.employer) }}
            </q-td>
          </template>
          <template v-slot:body-cell-subject="props">
            <q-td :props="props">
              {{ props.row.mat_of_prop.name }}
            </q-td>
          </template>
          <template v-slot:body-cell-considering="props">
            <q-td :props="props">
              <span v-html="props.row.legislative_agency"></span>
            </q-td>
          </template>
        </q-table>
      </q-card-section>
      <q-card-section>
        <div class="text-h4 text-weight-regular q-mb-sm q-ml-sm">
          <div v-if="user_data.percent_legislature && user_data.percent_legislature">
            Percent of time spent lobbying the legislature: {{ emptyArrayToZero(user_data.percent_legislature) }}%
          </div>
          <div v-if="user_data.percent_state && user_data.percent_state">
            Percent of time spent lobbying the state agencies: {{ emptyArrayToZero(user_data.percent_state) }}%
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-dialog v-model="showAmendDialog">
      <q-card>
        <q-card-section>
          <div class="text-h6 q-mb-md">Confirm Amendment</div>
          <div>Are you sure you want to amend this report?</div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn v-close-popup> No</q-btn>
          <q-btn color="primary" @click="confirmAmend()"> Yes</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
