<script setup>
import L2ReportView from "pages/l2/L2ReportView.vue";
import { notifyErrorWithReason } from "src/utils";
import LegacyL2 from "pages/l2/LegacyL2.vue";
import { getRecords } from "src/socrata";
import { useRoute } from 'vue-router'
import { reactive } from "vue";

const route = useRoute()
const l2 = reactive({})

const arrayFields = [
  'field_compensation',
  'field_personal_expenses',
  'field_sub_lobbyist_comp',
  'field_entertainment',
  'field_non_item_ent',
  'field_contributions',
  'field_cont_emp_pac',
  'field_cont_no_pac',
  'field_employer_transmit',
  'field_employers_pac',
  'field_advertising',
  'field_political_ads',
  'field_other',
  'field_sub_mat',
  'field_select_your_filing_periods',
  'field_lob_firm_agents',
  'field_contributions_to_report',
  'field_political_contributions',
  'field_other_l3_expenditures',
  'field_expend_not_listed',
  'field_ie_support',
  'field_itemized_l3_expenditures',
  'field_l3_emp_comp',
  'field_l3_entertainment',
  'field_l3_pac',
  'field_l3_prof_svcs',
  'field_contributions',
  'field_advertising',
  'field_employers_pac',
  'field_employer_transmit',
  'field_contributions_to_report',
  'field_political_contributions',
  'field_itemized_l3_expenditures',
  'field_other_l3_expenditures',
  'field_ie_support',
  'field_expend_not_listed',
  'field_l3_entertainment',
  'field_l3_prof_svcs',
  'field_l3_pac'
]

// created
await loadReport(route.params.submission_id)

function print() {
  window.print()
}

function l2submissionData() {
  l2.user_data = JSON.parse(l2.report_data);
  l2.period_start = convertDate(l2.report_from);
  l2.submitted_at = l2.receipt_date;

  if (parseFloat(l2.version) < 2.0) {
    l2.user_data = preProccessLegacyRecord(l2.user_data);
  }
}

function preProccessLegacyRecord(originalRecord) {
  let formattedRecord = {};
  let oRecord = JSON.parse(JSON.stringify(originalRecord));
  if (originalRecord.sources) {
    formattedRecord.sources = originalRecord.sources;
  }
  if (typeof oRecord === 'object') {
    for (const [key, value] of Object.entries(oRecord)) {
      let readableKey = getReadableKey(key);
      formattedRecord[readableKey] = getValue(key, value);
      if (Array.isArray(formattedRecord[readableKey])) {
        for (let i = 0; i < formattedRecord[readableKey].length; i++) {
          formattedRecord[readableKey][i] = preProccessLegacyRecord(formattedRecord[readableKey][i]);
        }
      } else if (formattedRecord[readableKey] && typeof (formattedRecord[readableKey]) === 'object') {
        if (formattedRecord[readableKey].hasOwnProperty('value')) {
          formattedRecord[readableKey] = formattedRecord[readableKey].value;
        } else {
          formattedRecord[readableKey] = preProccessLegacyRecord(formattedRecord[readableKey]);
        }
      }
    }
  }
  return formattedRecord;
}

function getReadableKey(key) {
  let readableKey = JSON.parse(JSON.stringify(key)).replace("__", "_");
  readableKey = readableKey.replace("field_", "");
  readableKey.replace("select_", "");
  readableKey.replace("_chbx", "");
  return readableKey;
}

function getValue(currentField, currentValue) {
  if (currentValue && currentValue['und']) {
    if (arrayFields.includes(currentField)) {
      return currentValue['und'];
    } else if (currentValue['und'][0]) {
      const innerVal = currentValue['und'][0];
      if (Object.keys(innerVal).length === 1) {
        if (innerVal['value']) {
          return innerVal['value'];
        } else if (innerVal['target_id']) {
          return innerVal['target_id'];
        }
      }
      return innerVal;
    }
    return null;
  } else {
    return currentValue;
  }
}

function convertDate(date) {
  if (date) {
    return date.substring(0,10)
  }
  return null
}

async function loadReport(submission_id) {
  if (! submission_id) {
    notifyErrorWithReason('Report not found')
    return
  }
  const res = await getRecords('Lobbyist_reporting_history', `select * where id='${submission_id}'`)
  if (res.data.length !== 1) {
    notifyErrorWithReason('Report not found')
    return
  }

  Object.assign(l2, res.data[0])
  l2submissionData()
}

</script>
<template>
  <q-btn class="q-mr-sm q-mb-sm print-hide" label="Print" color="primary" icon="print" @click="print" />
  <legacy-l2 v-if="parseFloat(l2.version) < 2.0" :l2="l2" type="Public" />
  <l2-report-view v-else :l2="l2.user_data" :draft="false" />
</template>
