<script setup>
import {useL2} from "src/l2";
import {computed, ref, watch} from "vue";

const emit = defineEmits(["update:modelValue", "update:name", "update:committeeId"])
const selectedValue = ref()
const props = defineProps({
  committeeId: {
    type: Number
  },
  name: {
    type: String
  },
  modelValue: {
    type: Number
  },
  label: {
    type: String,
    default: 'Source of funds'
  },
  required: {
    type: Boolean,
    default: true
  },
  noSelf: {
    type: Boolean,
    default: false
  },
  allowOther: {
    type: Boolean,
    default: false,
  },
  allowPac: {
    type: Boolean,
    default: false,
  },
  autofocus: {
    type: Boolean,
    default: false
  },
})
const localSourceId = ref(props.modelValue)
const localCommitteeId = ref(props.committeeId)
const localName = ref(props.name)
// Implement a ref for the purpose of focusing.
defineExpose({focus})

const select = ref(null)
const {l2, committees} = await useL2()

function focus() {
  if(select.value) {
    select.value.focus()
  }
}

const addedOptions = computed(() => {
  // Assume the first option in the array is the self option
  const newArray = props.noSelf ? l2.sources.slice(1) : l2.sources.slice()
  if (props.allowPac) {
    newArray.push({id: -2, name: "PAC..."})
  }
  if (props.allowOther) {
    newArray.push({id: -1, name: "Other..."})
  }
  return newArray
})

function setSelectedValue() {
  if (localCommitteeId.value) {
    selectedValue.value = -2
  } else if (!localSourceId.value && localName.value) {
    selectedValue.value = -1
  }
  else {
    if(localSourceId.value || selectedValue.value > 0) {
      selectedValue.value = localSourceId.value
    }
  }
}
setSelectedValue()

watch(() => props.name, newValue => {
  localName.value = newValue
  setSelectedValue()
})
watch(() => props.modelValue, newValue => {
  localSourceId.value = newValue
  setSelectedValue()
})
watch(() => props.committeeId, newValue => {
  localCommitteeId.value = newValue
  setSelectedValue()
})

watch(() => localCommitteeId.value, (newValue) => {
  emit("update:committeeId", newValue)
})
watch(() => localName.value, (newValue) => {
  emit("update:name",newValue)
})

function onSelectValue(newValue) {
  if ((newValue !== localSourceId.value) && (newValue !== -2)  ) {
    localCommitteeId.value = null
    localName.value = null
    emit("update:name", null)
  }
  if (newValue < 0) {
    localSourceId.value = null
    emit("update:modelValue", null)
  }
  else {
    localSourceId.value = selectedValue.value
    emit("update:modelValue", localSourceId.value);
  }
}
</script>
<template>
  <q-select
    emit-value
    map-options
    ref="select"
    option-label="name"
    option-value="id"
    v-model.number="selectedValue"
    @update:model-value="onSelectValue"
    :autofocus="autofocus"
    :label="props.label"
    :options="addedOptions"
    :rules="[(v) => !props.required|| !!v || 'Required']"
  />
  <p-select-search
    label="Committee"
    value-property="committee_id"
    label-property="name"
    v-if="selectedValue === -2"
    v-model.number="localCommitteeId"
    v-model:name="localName"
    :options="committees"
    :rules="[(v) => !props.required|| !!v || 'Required']"
  />
  <q-input
    label="Name"
    v-if="selectedValue === -1"
    v-model="localName"
    :rules="[(v) => !props.required|| !!v || 'Required']"
  />
</template>
