<script setup>
  import { computed } from "vue"
  import { useRoute, useRouter } from "vue-router"
  import { useQuasar } from "quasar"
  import { useL7 } from "../l7"
  import rules from "../rules"

  import {useLobbyist} from "src/lobbyist";
  const {lobbyistApi} = await useLobbyist()

  const {
    l7_report,
    saveL7ToSessionStorage,
    clearL7Certification,
    clearL7,
  } = useL7()

  const quasar = useQuasar()

  const route = useRoute()
  const router = useRouter()
  const target_type = (Object.keys(route.params)[0] === 'client_id') ? 'client' : 'firm'
  const target_id = Object.values(route.params)[0]

  const certification_text =
    "I certify that I have the authority to sign this report for the entity named and that the information contained in this report is true. I understand that Washington state law places penalties on false reports, up to and including perjury. I further certify that the committee has received a certification as required from any partnership, association, corporation, organization, or other combination of persons making the contribution reported here, attesting that the contribution was not financed in any part by a foreign national and that foreign nationals were not involved in making decisions regarding the contribution in any way."

  const props = defineProps({
    modelValue: null,
  })

  const emit = defineEmits(["update:modelValue"])

  const local_value = computed({
    get() {
      return props.modelValue
    },
    set(value) {
      emit("update:modelValue", value)
    },
  })

  async function submitReport() {
    l7_report.certification.text = certification_text;

    const { success } = await lobbyistApi.post(`/${target_type}/${target_id}/l7-report/submit`, {
      l7_report,
      target_type: l7_report.lobbyist.target_type,
      target_id: l7_report.lobbyist.target_id,
    })
    if (success) {
      quasar.notify({
        position: "top",
        type: "positive",
        message: "Form has been submitted successfully!",
      })
      clearL7()
      router.push(`/${target_type}/${target_id}`)
    }
  }

  async function certify() {
    saveL7ToSessionStorage()

    await submitReport()

    local_value.value = false

    clearL7Certification()
    saveL7ToSessionStorage()
  }
</script>

<template>
  <q-dialog persistent v-model="local_value">
    <q-card>
      <q-form @submit="certify">
        <q-card-section>
          <div class="text-h6 q-mb-md">Certify</div>
          <q-input
            lazy-rules
            autofocus
            label="Name"
            v-model="l7_report.certification.name"
            :rules="[rules.required]"
          />
          <p>By typing <strong>I certify</strong> on the line below, {{certification_text}}</p>
          <span>I also acknowledge having read the commission's requirements for electronic filing as set forth in <a href='https://app.leg.wa.gov/wac/default.aspx?cite=390-19-010' target="_blank">WAC-390-19-010</a> through 050.</span>
          <q-input
            lazy-rules
            label="Type here"
            v-model="l7_report.certification.statement"
            :rules="[rules.required, rules.validCertificationStatement]"
          />
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn
            label="Submit"
            type="submit"
            color="primary"
          />
          <q-btn flat label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
