<script setup>
import { computed, ref } from "vue";
import {formatDate} from "@wapdc/pdc-ui/util"
import {useLobbyist} from "src/lobbyist";
const {lobbyistApi} = await useLobbyist()
const submissions = ref([]);
const props = defineProps({
  showDialog: Boolean,
  firm_id: Number,
  client_id: Number,
  current_submission: Number
});

const emit = defineEmits(['update:showDialog']);

const filteredSubmissions = computed(() =>
  submissions.value.filter(
    submission => Number(submission.submission_id) !== props.current_submission
  )
);

const showDialogProp = computed({
  get: () => props.showDialog,
  set: (val) => emit('update:showDialog', val)
});

const getSubmissionHistory = async () => {
  const result =
    props.firm_id ? await lobbyistApi.get(`/firm/${props.firm_id}/l1/${props.current_submission}/submission-history`)
      : props.client_id ? await lobbyistApi.get(`/client/${props.client_id}/l1/${props.current_submission}/submission-history`)
        : null
  if (result) {
    submissions.value = result
  }
};

await getSubmissionHistory();

const submissionRoute = computed(() => {
  return props.firm_id ? `/firm/${props.firm_id}/l1-contract/` : props.client_id ? `/client/${props.client_id}/l1-contract/` : null
})

function closeDialog() {
  emit('update:showDialog', false);
}
</script>
<template v-if="filteredSubmissions">
  <q-dialog v-model="showDialogProp">
    <q-card style="min-width: 350px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Contract registration history</div>
      </q-card-section>

      <q-card-section>
        <q-list bordered
                separator
                style="overflow-y: scroll; max-height: 200px"
                v-if="filteredSubmissions.length > 0"
        >
          <q-item
            v-for="submission in filteredSubmissions"
            :key="submission.submission_id"
          >
            <q-item-section>
              <router-link :to="submissionRoute + submission.submission_id">
                {{ formatDate(submission.submitted_at) }}
              </router-link>
            </q-item-section>
          </q-item>
        </q-list>
        <p v-else class="text-grey-8 q-mb-none">No history to display</p>
      </q-card-section>
      <q-card-actions>
        <q-btn label="Close" color="primary" @click="closeDialog" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<style scoped>
</style>
