<script setup>
import { computed, ref } from "vue";

import {formatDate} from "@wapdc/pdc-ui/util"
import {useLobbyist} from "src/lobbyist";
const {lobbyistApi} = await useLobbyist()
const submissions = ref([]);
const props = defineProps({
  showDialog: Boolean,
  firmId: Number,
  currentSubmission: Number
});
const emit = defineEmits(['update:showDialog']);

const filteredSubmissions = computed(() =>
  submissions.value.filter(
    submission => Number(submission.submission_id) !== props.currentSubmission
  )
);

const showDialogProp = computed({
  get: () => props.showDialog,
  set: (val) => emit('update:showDialog', val)
});

const getSubmissionHistory = async () => {
  const result = await lobbyistApi.get(`/firm/${props.firmId}/firm-registration/submission-history`);
  if (result) {
    submissions.value = result
  }
};

await getSubmissionHistory();

function closeDialog() {
  emit('update:showDialog', false);
}
</script>

<template v-if="filteredSubmissions">
  <q-dialog v-model="showDialogProp">
    <q-card style="min-width: 350px;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Firm registration history</div>
      </q-card-section>

      <q-card-section>
        <q-list bordered
                separator
                style="overflow-y: scroll; max-height: 200px"
                v-if="filteredSubmissions.length > 0"
        >
          <q-item
            v-for="submission in filteredSubmissions"
            :key="submission.submission_id"
          >
            <q-item-section>
              <router-link :to="`/firm/${props.firmId}/registration/${submission.submission_id}`">
                {{ formatDate(submission.submitted_at) }}
              </router-link>
            </q-item-section>
          </q-item>
        </q-list>
        <p v-else class="text-grey-8 q-mb-none">No history to display</p>
      </q-card-section>

      <q-card-actions>
        <q-btn label="Close" color="primary" @click="closeDialog" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped>
</style>
