<script setup>
import {reactive, ref} from "vue";
  import SelectClient from "pages/l2/SelectClient.vue";
  import rules from "@wapdc/pdc-ui/rules"
import {exportContributions, importContributions, useL2} from "src/l2";

  const showImport = defineModel()
  const showImportResults = ref(false)
  const showSuccessfulImport = ref(false)
  const importResults = reactive({contributions: [], errors: [], valid: false})
  const file = ref(null);
  const sourceCommitteeId = ref(null)
  const sourceName = ref(null)
  const sourceId = ref(null)
  const {l2, saveDraft} = await useL2()

  async function onSubmit() {
    // Set up defaults for importing
    const defaults = {
      source_name: sourceName.value
    }
    if (sourceCommitteeId.value) {
      defaults.committee_id = sourceCommitteeId.value
    }
    else {
      defaults.source = sourceId.value
    }
    const result = await importContributions(file.value, defaults)
    Object.assign(importResults, result)
    if (!result.errors.length) {
      l2.contributions.push(...result.contributions)
      file.value = null
      showImport.value = false
      showSuccessfulImport.value = true
      showImportResults.value = false
      saveDraft()
    }
    else {
      showImportResults.value = true
    }
  }
  function onCancel() {
    showImport.value = false
    showImportResults.value = false;
    file.value = null;
  }

  function downloadErrors() {
    let link = document.createElement("a");
    const contents = importResults.errors.map(e => `${e.row}\t${e.message}`)
      .join('\n')
    const blob = new Blob([contents], {type: 'text/text;charset=utf-8;'});
    if (link.download !== undefined) { // feature detection
      // Browsers that support HTML5 download attribute
      const url = URL.createObjectURL(blob);
      link.setAttribute("href", url);
      link.setAttribute("download", 'Errors.txt');
      link.style.visibility = 'hidden';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  }

</script>

<template>
  <q-dialog v-model="showImport">
    <q-card>
      <q-form @submit="onSubmit">
        <q-card-section>
          <p><strong>Note:</strong> the import contributions function is an advanced feature that is intended to used when lobbyists have a large number of
          contributions.  If you have a small number of contributions to report, we would recommend entering the data manually.</p>
          <select-client required v-model="sourceId" v-model:committee-id="sourceCommitteeId" v-model:name="sourceName" allow-pac allow-other/>
          <q-file v-model="file" label="File upload" accept=".csv" :rules="[rules.required]" clearable>
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-file>
        </q-card-section>
        <q-card-section v-if="showImportResults">
          <q-table :rows="importResults.errors" :columns="[
            {name: 'rowNum', field: 'row', label: 'Row'},
            {name: 'error', field: 'message', label: 'Error', align: 'left'}
          ]"/>
          <q-btn  rounded flat no-caps style="text-decoration: underline" label="Download errors" @click="downloadErrors" />
        </q-card-section>
        <q-card-section v-else>
          <q-btn  rounded flat no-caps style="text-decoration: underline" label="Download sample CSV" @click="exportContributions()" />
        </q-card-section>
        <q-card-actions>
          <q-btn color="primary" type="submit">Import</q-btn>
          <q-btn @click="onCancel">Cancel</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="showSuccessfulImport">
    <q-card>
      <q-card-section>
        <p>
          Contributions have been successfully imported.
        </p>
        <p>In order to ensure that the public can see which lobbyists are donating to campaigns you'll need to match
        each contribution to a candidate or pac in our system.  Inspect each of the imported records and find the candidate
        or committee that matches the candidate or committee in our system using the <strong>Imported name:</strong> as a guide.</p>

      </q-card-section>
      <q-card-actions>
        <q-btn color="primary" @click="showSuccessfulImport = false">OK</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
