<script setup>
import {formatDate} from "@wapdc/pdc-ui/util"
import {computed, ref} from "vue";
import { useRouter } from "vue-router";
import { useL7 } from '../l7'


const router = useRouter()

const { l7_report, prepareL7Amendment, clearL7 } = useL7()

const props = defineProps(
  {
    target_id: {type: String},
    target_type: {type: String},
    loadedReports: ref([])
  }
)

const l7reports_column = [
  {name: 'submission_id', label: 'Report', field: 'submission_id', align: 'left', sortable: true},
  {name: 'employee_name', label: 'Name', field: 'employee_name', align: 'left', sortable: true},
  {name: 'submitted_at', label: 'Submitted', field: 'submitted_at', align: 'left', sortable: true},
  {name: 'actions', align: 'right', label: 'Actions'}
]

const formattedReports = computed(() => {
  let reports = [];
  if (props.loadedReports) {
    reports = props.loadedReports.map((report) => {
      return {
        report_id: report.report_id,
        employee_name: report.user_data.employee_name,
        submitted_at: formatDate(report.submitted_at),
        user_data: report.user_data,
        submission_id: report.submission_id
      }
    })
  }
  return reports;
})

const profileToLoad = ref(props.target_type.replace('lobbyist_',''))
function createNewL7Report() {
  clearL7()
  profileToLoad.value === 'client' ? router.push({ name: 'client-create-l7'}) : router.push({ name: 'firm-create-l7'})
}

function goToHistoryPage(submission) {
  router.push({ name: `${profileToLoad.value}-history-l7`, params: { submission_id: submission.submission_id} })
}

function prepareReport(data) {
  if(data){
    prepareL7Amendment(data)
    profileToLoad.value === 'client' ? router.push({ name: 'client-amend-l7', params: { report_id: data.report_id}}) : router.push({ name: 'firm-amend-l7', params: { report_id: data.report_id}})
  }
}

</script>

<template>
      <div class="text-h2 q-mb-sm"> Employment of legislators and state officials (L7)</div>
      <q-table v-if="formattedReports && formattedReports.length > 0"
        :rows="formattedReports"
        :grid="$q.screen.lt.sm"
        flat
        separator="cell"
        bordered
        :columns="l7reports_column"
      >
        <template v-slot:body-cell-submission_id="props">
          <q-td :props="props">
            <router-link :to="{name: `${profileToLoad}-view-l7`, params: {submission_id: props.row.submission_id}}">
              {{ props.row.submission_id }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <p-accessible-button
              @click="prepareReport(props.row)"
              button-tooltip="Amend"
              color="primary"
              label="Amend"
            />
            <p-accessible-button
              @click="goToHistoryPage(props.row)"
              button-tooltip="History"
              class="q-mx-sm"
              icon="history"
            />
          </q-td>
        </template>

        <template v-slot:item="{row}">
          <q-card class="q-mb-sm full-width">
            <q-card-section>
              <div>
                <div>
                  Report #
                  <router-link :to="{name: `${profileToLoad}-view-l7`, params: {submission_id: row.submission_id}}">
                    {{ row.report_id }}
                  </router-link>
                </div>
                <div>{{ row.employee_name }}</div>
                <div>Submitted: {{ row.submitted_at }}</div>
              </div>
            </q-card-section>
            <q-card-actions>
              <p-accessible-button @click="prepareReport(row)" button-tooltip="Amend" icon="edit"/>
              <p-accessible-button @click="goToHistoryPage(row)" button-tooltip="History" icon="history"/>
            </q-card-actions>
          </q-card>
        </template>
      </q-table>
      <div v-else class="q-mb-xl">
        <p><em>No reports to display.</em></p>
      </div>
      <q-btn icon="add" color="primary" @click="createNewL7Report" >
        New
      </q-btn>
</template>
