<script setup>
  import { useL7 } from '../l7'
  import GreenPDCLogo from 'assets/GreenPDCLogo.vue'
  import {formatDate} from "@wapdc/pdc-ui/util"
  import { useRoute } from 'vue-router'

  const props = defineProps({
    draft: {type: Boolean, default: false}
  })

  const { l7_report } = useL7()
  const route = useRoute()
</script>

<template>
  <div>
    <p-draft-watermark v-if="draft"/>
    <div class="q-mt-sm q-mb-md">
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2" >
          <green-p-d-c-logo />
        </div>
        <div class="col-8 col-sm-3 col-md-3 small-text">
          <div>711 Capitol Way Suite 206</div>
          <div>PO Box 40908</div>
          <div>Olympia, WA 98504-0908</div>
          <div>(360) 753-1111</div>
          <div>Toll Free 1-800-601-2828</div>
        </div>
        <div class="col-12 col-sm-6">
          <h2>Employers of state legislators, officers or employees (L7)</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 q-my-md">
          <div class="text-h3">{{l7_report.lobbyist.name}}</div>
          <div>{{l7_report.lobbyist.address}} </div>
          <div>{{l7_report.lobbyist.city}}, {{l7_report.lobbyist.state}} {{l7_report.lobbyist.postcode}}</div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-5">
          <div class="text-body-data">Employee: </div>
        </div>
        <div class="col-7">
          <div class="text-body-data">{{ l7_report.employee_name }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="text-body-data">Amount and nature of pay or consideration: </div>
        </div>
        <div class="col-7">
          <div class="text-body-data">{{ l7_report.lobbyist_employment.compensation }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="text-body-data">Nature of employment by reporting employer: </div>
        </div>
        <div class="col-7">
          <div class="text-body-data">{{ l7_report.lobbyist_employment.description }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="text-body-data">Nature of state employment or office: </div>
        </div>
        <div class="col-7">
          <div class="text-body-data">{{ l7_report.public_employment.description }}</div>
        </div>
      </div>
      <div class="row" v-if="l7_report?.superseded_id">
        <div class="col-5">
          <div class="text-body-data">Amended by report: </div>
        </div>
        <div class="col-7">
          <router-link :to="{name: route.name, params: {submission_id: l7_report.superseded_id}}">
            {{ l7_report.superseded_id }}
          </router-link>
        </div>
      </div>
      <hr />
      <div v-if="l7_report.certification.statement">
        <p class="text-weight-bold">Certification</p>
        <p>
          {{l7_report.certification.text}}
        </p>
        <p>{{ l7_report.certification.name }}<br/>{{ formatDate(l7_report.submitted_at) }}</p>
      </div>
    </div>
  </div>
</template>

<style scoped>
 .small-text {
   font-size: .8em;
 }
 .text-body-data{
   color: #444444;
   font-size: 1rem;
   line-height: 1.5rem;
   letter-spacing: 0.03125em;
 }
</style>
