<script setup>
import { ref, computed, watch } from "vue"

const emit = defineEmits(["update:relationship", "update:familyMemberName", "update:name"])

const props = defineProps({
  relationship: {
    type: String,
    default: null,
  },
  familyMemberName: {
    type: String,
    default: null,
  },
  name: {
    type: String,
    default: null,
  },
  required: {
    type: Boolean,
    default: true,
  }
})

const localRelationship = ref(props.relationship)
const localName = ref(props.name)
const localFamilyMemberName = ref(props.familyMemberName)

const relationshipOptions = [
  {
    label: "State Official",
    value: "State Official",
  },
  {
    label: "State Official's family member",
    value: "State Officials family member",
  },
  {
    label: "Legislator",
    value: "Legislator",
  },
  {
    label: "Legislator's family member",
    value: "Legislators family member",
  },
  {
    label: "State Employee",
    value: "State Employee",
  },
  {
    label: "State Employee's family member",
    value: "State Employees family member",
  },
]

watch(() => props.relationship, (newValue) => {
  localRelationship.value = newValue
})
watch(() => props.name, (newValue) => {
  localName.value = newValue
})
watch(() => props.familyMemberName, (newValue) => {
  localFamilyMemberName.value = newValue
})

watch(localRelationship, (newValue) => {
  emit("update:relationship", newValue)
  if (!isFamilyMember(newValue)) {
    localFamilyMemberName.value = null
    emit("update:familyMemberName", null)
  }
})
watch(localName, (newValue) => {
  emit("update:name", newValue)
})
watch(localFamilyMemberName, (newValue) => {
  emit("update:familyMemberName", newValue)
})

const isFamilyMember = (relationship) =>
  ["State Officials family member", "Legislators family member", "State Employees family member"].includes(relationship)

const getNameLabel = computed(() => {
  const baseLabel = "Name of "
  if (!localRelationship.value) return "Name"
  if (localRelationship.value.includes("State Official")) return baseLabel + "State Official"
  if (localRelationship.value.includes("Legislator")) return baseLabel + "Legislator"
  if (localRelationship.value.includes("State Employee")) return baseLabel + "State Employee"
  return "Name"
})
</script>

<template>
  <q-select
    emit-value
    map-options
    label="Relationship"
    v-model="localRelationship"
    :options="relationshipOptions"
    :rules="[(v) => !props.required || !!v || 'Relationship is required']"
  />
  <q-input
    :label="getNameLabel"
    v-model="localName"
    :rules="[(v) => !props.required || !!v || 'Name is required']"
  />
  <q-input
    label="Name of family member"
    v-if="isFamilyMember(localRelationship)"
    v-model="localFamilyMemberName"
    :rules="[(v) => !props.required || !!v || 'Family member name is required']"
  />
</template>
