<script setup>
  import {useL2} from "src/l2";
  import rules from "@wapdc/pdc-ui/rules"
  import {watch} from "vue";

  const recipientType = defineModel("recipientType")
  const recipientId = defineModel("recipientId")
  const recipientName = defineModel("name")
  const {committees, candidates} = await useL2()


  /** This watch function serves as a safeguard to ensure that recipientType
   * always has a valid value. If it becomes falsy for any reason, it will
   * automatically be set back to "candidacy *
   */
  watch(recipientType, (newValue) => {
    if (!newValue && !recipientType.value) {
      recipientType.value = 'candidacy'
    }
  })

  /**
   * Reset the recipientId and recipientName when the recipientType changes
   */
  function updateRecipientId() {
    recipientId.value = null
    recipientName.value = null
  }


</script>

<template>
  <div class="q-ml-sm" style="display: inline-block">Made to:</div>
  <q-option-group style="display: inline-block" label="Recipient is" v-model="recipientType"  inline @update:model-value="updateRecipientId" :options="[
    {label: 'Candidate', value: 'candidacy'},
    {label: 'PAC', value: 'committee'}
  ]"
  :rules="[rules.required]"
  />
  <slot name="hint"></slot>

  <p-select-search label="Candidate" v-if="recipientType==='candidacy'"
                   v-model.number="recipientId"
                   label-property="name"
                   value-property="candidacy_id"
                   v-model:name="recipientName"
                   :options="candidates"
                   :rules="[rules.required]"
  />

  <p-select-search label="Committee" v-else
                   v-model.number="recipientId"
                   label-property="name"
                   value-property="committee_id"
                   v-model:name="recipientName"
                   :options="committees"
                   :rules="[rules.required]"/>
</template>
