<script setup>
import {useL3} from "src/l3";
import rules from "@wapdc/pdc-ui/rules"
import {watch} from "vue";

const recipientType = defineModel("recipientType")
const recipientId = defineModel("recipientId")
const recipientName = defineModel("name")
const {committees, candidates} = await useL3()

/** This watch function serves as a safeguard to ensure that recipientType
 * always has a valid value. If it becomes falsy for any reason, it will
 * automatically be set back to "candidacy *
 */
watch(recipientId, (newValue) => {
  if (!newValue && !recipientType.value) {
    recipientType.value = 'candidacy'
  }
})


 /**
 * Reset the recipientId and recipientName when the recipientType changes
 */
function updateRecipientId() {
  recipientId.value = null
  recipientName.value = null
}

</script>

<template>
  <q-field :rules="[rules.required]" v-model="recipientType">
  <q-option-group label="Recipient is" v-model="recipientType"  inline @update:model-value="updateRecipientId" :options="[
    {label: 'Candidate', value: 'candidacy'},
    {label: 'PAC', value: 'committee'}
  ]"
  />
  </q-field>
  <slot name="hint"></slot>

  <p-select-search label="Candidate" v-if="recipientType==='candidacy'"
                   v-model.number="recipientId"
                   label-property="name"
                   value-property="candidacy_id"
                   v-model:name="recipientName"
                   :options="candidates"
                   :rules="[rules.required]"
  />

  <p-select-search label="Committee" v-else
                   v-model.number="recipientId"
                   label-property="name"
                   value-property="committee_id"
                   v-model:name="recipientName"
                   :options="committees"
                   :rules="[rules.required]"/>
</template>
