<script setup>
import {useRouter} from "vue-router"

const router = useRouter()
import {useLobbyist} from "src/lobbyist";

const {lobbyistApi} = await useLobbyist()

import {useFirm} from "src/firm"

const firm = await useFirm();
import {defineProps, ref, defineEmits, reactive, computed} from 'vue'
import {getMonthYear} from '../utils'
import rules from "@wapdc/pdc-ui/rules";

const prior_report_to_import = ref(null);
const props = defineProps({
  l2draft: {
    type: Object,
    required: true,
  },
  priorReports: {
    type: Array,
    required: true,
  }
})

const emit = defineEmits('saveDraft', 'cancel')

function resetCheckboxItems() {
  prior_l2_import_options.compensation = false
  prior_l2_import_options.personal_expenses = false
  prior_l2_import_options.contributing_pacs = false
  prior_l2_import_options.sub_lobbyist_payments = false
  prior_l2_import_options.lobbying = false
}

const showL2Dialog = defineModel({default: false})

const import_prior_report_question = ref(false)

const prior_l2_import_options = reactive({
  compensation: false,
  personal_expenses: false,
  contributing_pacs: false,
  sub_lobbyist_payments: false,
  lobbying: false,
})

const prior_l2reports = computed(() => props.priorReports.map(e => {
  return {label: getMonthYear(e.period_start), value: e.period_start}
}))

function updateAnswer(newValue) {
  if (!newValue) {
    resetCheckboxItems()
  }
}

function resetDialog() {
  showL2Dialog.value = false
  import_prior_report_question.value = false
  prior_report_to_import.value = null
  resetCheckboxItems()
}

async function doSave() {
  const {success} = await lobbyistApi.post(`/firm/${firm.firm.lobbyist_firm_id}/l2/${props.l2draft.period_start}/draft`, {
    copyFrom: prior_report_to_import.value,
    copyOptions: prior_l2_import_options,
  })
  if (success) {
    await router.push(`/firm/${firm.firm.lobbyist_firm_id}/l2-draft/${props.l2draft.period_start}`)
  }
}
</script>
<template>
  <q-dialog v-model="showL2Dialog" persistent>
    <q-card>
      <q-form @submit.prevent="doSave" @reset="resetDialog">
        <q-card-section>
          <p class="text-h2 q-mb-sm">{{ getMonthYear(l2draft?.period_start) }} monthly report</p>
          <div class="q-mb-sm">Do you want to copy selected information from a prior month?</div>
          <q-field
            dense
            borderless
            :rules="[rules.requireBoolean]"
            v-model="import_prior_report_question"
          >
            <q-option-group
              inline
              autofocus
              type="radio"
              @update:modelValue="updateAnswer"
              :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]"
              v-model="import_prior_report_question"
            />
          </q-field>
          <div v-if="import_prior_report_question" class="q-gutter-sm q-ml-sm">
            <q-select v-model="prior_report_to_import" :options="prior_l2reports" emit-value map-options
              option-label="label" option-value="value" label=" Pick a report to import from"
              :rules="[rules.required]"/>
            <q-field item-aligned
              borderless
              label="Information to copy"
              color="black"
              :rules="[() =>
                prior_l2_import_options.compensation ||
                prior_l2_import_options.personal_expenses ||
                prior_l2_import_options.contributing_pacs ||
                prior_l2_import_options.sub_lobbyist_payments ||
                prior_l2_import_options.lobbying ||
                'required'
              ]">
              <div class="q-mt-md">
                <q-checkbox
                  class="full-width"
                  label="Compensation"
                  :disable="!prior_report_to_import"
                  v-model="prior_l2_import_options.compensation"
                />
                <q-checkbox
                  class="full-width"
                  label="Personal expenses"
                  :disable="!prior_report_to_import"
                  v-model="prior_l2_import_options.personal_expenses"
                />
                <q-checkbox
                  class="full-width"
                  label="Employer PAC contribution"
                  :disable="!prior_report_to_import"
                  v-model="prior_l2_import_options.contributing_pacs"
                />
                <q-checkbox
                  class="full-width"
                  label="Sub-Lobbyist compensation"
                  :disable="!prior_report_to_import"
                  v-model="prior_l2_import_options.sub_lobbyist_payments"
                />
                <q-checkbox
                  class="full-width"
                  label="Lobbying activity (without issues & bill numbers)"
                  :disable="!prior_report_to_import"
                  v-model="prior_l2_import_options.lobbying"
                />
              </div>
            </q-field>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Start" type="submit" color="primary"/>
          <q-btn label="Cancel" type="reset" color="secondary"/>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
