<script setup>
import {useL3} from "src/l3";
import {formatMoney} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import {inject, ref} from "vue";
import SelectL3RelationshipFamilyRecipient from "components/SelectL3RelationshipFamilyRecipient.vue";

const navigation = inject('navigation')
const entertainment_expenditures_ref = ref(null);
defineExpose( {validate: async() => !entertainment_expenditures_ref.value || (await entertainment_expenditures_ref.value.validate())})

const {l3, saveDraft} = await useL3()

</script>
<template>
  <p>
    Report expenditures made to entertain and to provide gifts, travel or enrollment or course fees for legislators, state officials, state employees and members of their immediate families that exceed $50. Also include the value of transportation in employer-owned vehicles or aircraft.
  </p>
  <p-edit-table
    ref="entertainment_expenditures_ref"
    :rows="l3.entertainment_expenditures"
    :selected-index="navigation.currentSection.index"
    prompt="Do you have any entertainment, travel or gift expenditures to report?"
    v-model="l3.has_entertainment_expenditures"
    :columns="[
      {name: 'name', label: 'Name', field: 'name', align: 'left'  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v=>formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
        <select-l3-relationship-family-recipient
          :relationship="row.relationship"
          :name="row.name"
          :familyMemberName="row.family_member_name"
          :required="true"
          @update:relationship="(value) => (row.relationship = value)"
          @update:name="(value) => (row.name = value)"
          @update:familyMemberName="(value) => (row.family_member_name = value)"
        />
      <q-input label="Cost or value" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <q-input label="Description" :rules="[rules.requireString]"  v-model="row.description"/>
    </template>
  </p-edit-table>
</template>
