<script setup>
import { useL3 } from 'src/l3'
import rules from "@wapdc/pdc-ui/rules";
import {ref} from "vue";
const contributing_pac_ref = ref(null)
defineExpose({validate: async() => !contributing_pac_ref.value || (await contributing_pac_ref.value.validate())})
const { l3, committees, saveDraft}  = await useL3()

const pacCommittees = committees;

const showPACDialog = ref(false)
const pac_name = ref(null)
const currentRow = ref(null)

function showPACNotListedDialog(row) {
  pac_name.value = null
  currentRow.value = row
  showPACDialog.value = true
}

async function doSave() {
  showPACDialog.value = false
  if (pac_name.value) {
    currentRow.value.pac_name = pac_name.value
    currentRow.value.committee_id = null
  }
}
</script>
<template>
  <h3>List the affiliated PACs that made contributions</h3>
  <p>List the name(s) of affiliated political committees (PACs) that made contributions to a candidate for state office, to political committees supporting or opposing candidates for state office, or to political committees supporting or opposing statewide ballot propositions.
  Affiliated committees include those for which the lobbyist employer provides funds or personnel to establish, direct or administer the committee; assists in the solicitation and collection of contributions from PAC members; employs or controls activities of the PAC officers or directors; or similarly exercises control over the contributions received and expenditures made by the PAC.</p>
  <q-form ref="contributing_pac_ref" greedy>
    <p-edit-rows
      :rows="l3.pac_contributions"
      prompt="Do you have any PACs that contribute directly to campaigns?"
      haveAnyNoGap
      @rows-changed="saveDraft"
      v-model="l3.has_pac_contributions"
      :row-default="{pac_name: null, committee_id: null}"
    >
      <template v-slot="{row}">
        <div style="display: flex; align-items: center; gap: 10px;">
          <q-input v-if="row.pac_name && !row.committee_id" v-model="row.pac_name" style="flex: 1;" :rules="[rules.requireString]" clearable/>
          <template v-else>
            <p-select-search
              :options="pacCommittees"
              label="Select committee"
              label-property="name"
              value-property="committee_id"
              v-model.number="row.committee_id"
              v-model:name ="row.pac_name"
              :rules="[rules.required]"
              style="flex: 1;"
            />
            <a href="#" @click.prevent="showPACNotListedDialog(row)" style="white-space: nowrap;">Committee not found</a>
          </template>
        </div>
      </template>
    </p-edit-rows>
  </q-form>
  <q-dialog v-model="showPACDialog" persistent>
    <q-card>
      <q-form greedy @submit="doSave">
        <q-card-section>
          <p class="text-h2 q-mb-sm">
            Committee not found
          </p>
          <p>
            Important: Before manually adding a committee, please ensure that you have done the following:
          </p>
          <ol>
            <li>
              Double-check the spelling of the committee name.
            </li>
            <li>Try to search using acronyms or variations of the committee name.</li>
            <li>Try searching with less specific terms to broaden results.</li>
          </ol>
          <p>
            If after thorough searching you still can't find the committee, you may enter the details below.
          </p>
          <q-input v-model="pac_name" label="PAC name" :rules="[rules.requireString]"/>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Ok" color="primary" type="Submit"/>
          <q-btn label="Cancel" color="secondary" @click="showPACDialog = false"/>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
