<script setup>
import { useL3 } from 'src/l3'
import rules from "@wapdc/pdc-ui/rules";
import {inject, ref} from "vue";
const navigation = inject('navigation')
const professionalServices_ref = ref(null)
defineExpose({validate: async() => !professionalServices_ref.value || (await professionalServices_ref.value.validate())})
const {l3, saveDraft, other_compensation_amount_ranges} = await useL3()

</script>

<template>
  <p>
    Report the details of compensation, including contracts and fees, paid or due to be paid by the lobbyist employer for professional services provided during the reporting period by any corporation, partnership, joint venture, association or other entity in which a state elected official,
    successful candidate for state office or member of the official's or candidate's immediate family holds office, partnership, directorship or ownership interest of 10% or more.
    Do not include the names of companies or organizations from which the employer purchased goods or tangible products in the normal course of business at fair market value.
  </p>
  <p>
    To see organizational &amp; business interests reported by state officials, see the list on the <a href="https://www.pdc.wa.gov/registration-reporting/lobbying/lobbyist-employers/employers-legislators-state-officers-and-employees"  target="_blank">Employers of Legislators, State Officers and Employees</a> page.
  </p>
  <p-edit-table
    ref="professionalServices_ref"
    :rows="l3.professional_services_compensation"
    @rows-changed="saveDraft"
    :selected-index="navigation.currentSection.index"
    prompt="Do you have any professional services to report?"
    v-model="l3.has_professional_services_compensation"
    :row-default="{ firm_name: null, person_name: null, description: null, amount: null}"
    :columns="[
    { name: 'firm_name', label: 'Firm Name ',field: 'firm_name', type: 'text', align: 'left' },
    { name: 'description', label: 'Description',field: 'description', type: 'text', align: 'left' },
    { name: 'amount', label: 'Amount',field: 'amount', type: 'text', align: 'left' },
    ]"
  >
    <template v-slot="{row}">
      <q-input label="Firm name" v-model="row.firm_name" :rules="[rules.requireString]" />
      <q-input label="Person's name" v-model="row.person_name" :rules="[rules.requireString]" />
      <q-select label="Amount"
                v-model="row.amount"
                :options="other_compensation_amount_ranges"
                option-label="text"
                option-value="text"
                emit-value
                map-options
                :rules="[rules.requireString]"
      />
      <q-input label="Description of consideration or service" type="textarea" v-model="row.description" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
