<script setup>
import { useL3 } from 'src/l3'
import rules from "@wapdc/pdc-ui/rules";
import {inject, ref} from "vue";
import SelectL3RelationshipFamilyRecipient from "components/SelectL3RelationshipFamilyRecipient.vue";

const navigation = inject('navigation')
const employmentCompensation_ref = ref(null)
defineExpose({validate: async() => !employmentCompensation_ref.value || (await employmentCompensation_ref.value.validate())})
const {l3, saveDraft, other_compensation_amount_ranges} = await useL3()

</script>
<template>
  <p>
    Report details concerning state elected officials, legislators, successful candidates for these offices and members of their immediate families to whom the lobbyist employer paid or incurred an obligation to pay during the reporting period for employment or professional services.
  </p>
  <p>
      "State elected official" means the governor, lieutenant governor, secretary of state, attorney general, state auditor, state treasurer, superintendent of public instruction, commissioner of public lands, insurance commissioner, state senator and state representative, or any person appointed to fill a vacancy in one of those offices.
  </p>
  <p>
    To see compensation reported by state officials, see the list on the <a href="https://www.pdc.wa.gov/registration-reporting/lobbying/lobbyist-employers/employers-legislators-state-officers-and-employees"  target="_blank">Employers of Legislators, State Officers and Employees</a> page.
  </p>
  <p-edit-table
    ref="employmentCompensation_ref"
    :rows="l3.employment_compensation"
    @rows-changed="saveDraft"
    :selected-index="navigation.currentSection.index"
    prompt="Do you have any employment compensation to report?"
    v-model="l3.has_employment_compensation"
    :row-default="{ name: null, relationship: null, description: null, amount: null, family_member_name: null }"
    :columns="[
      { name: 'name', label: 'Name ', field: 'name', type: 'text', align: 'left' },
      { name: 'description', label: 'Description', field: 'description', type: 'text', align: 'left' },
      { name: 'amount', label: 'Amount', field: 'amount', type: 'text', align: 'left' },
    ]"
  >
    <template v-slot="{ row }">
      <select-l3-relationship-family-recipient
        :relationship="row.relationship"
        :name="row.name"
        :familyMemberName="row.family_member_name"
        :required="true"
        @update:relationship="(value) => (row.relationship = value)"
        @update:name="(value) => (row.name = value)"
        @update:familyMemberName="(value) => (row.family_member_name = value)"
      />
      <q-select
        label="Amount"
        v-model="row.amount"
        :options="other_compensation_amount_ranges"
        option-label="text"
        option-value="text"
        emit-value
        map-options
        :rules="[rules.requireString]"
      />
      <q-input label="Description of consideration or service" type="textarea" v-model="row.description" :rules="[rules.requireString]" />
    </template>
  </p-edit-table>
</template>
