<script setup>
import {useL3} from "src/l3";
import {formatMoney} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import {ref} from "vue";
import SelectL3ContributionRecipient from "components/SelectL3ContributionRecipient.vue";

const in_kind_contributions_ref = ref(null)
defineExpose( {validate: async() => !in_kind_contributions_ref.value || (await in_kind_contributions_ref.value.validate())})

const {l3, saveDraft} = await useL3()
</script>
<template>
  <p-edit-table
    ref="in_kind_contributions_ref"
    :rows="l3.in_kind_contributions"
    prompt="Do you have any contributions of goods or services worth more than $100 that were made directly to a political campaign? This includes political advertising that was coordinated with the campaign."
    v-model="l3.has_in_kind_contributions"
    :row-default="{source: null, amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null}"
    :columns="[
      {name: 'name', label: 'Name', field: 'recipient', align: 'left'  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v => formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <select-l3-contribution-recipient v-model:name="row.recipient" v-model:recipient-type="row.recipient_type" v-model:recipient-id="row.recipient_id"/>
      <q-input label="Description" :rules="[rules.requireString]"  v-model="row.description"/>
    </template>
  </p-edit-table>
</template>
