<script setup>
import {useL3} from "src/l3";
import {formatMoney} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import {inject, ref} from "vue";

const navigation = inject('navigation')
const other_expenditures_ref = ref(null);
defineExpose( {validate: async() => !other_expenditures_ref.value || (await other_expenditures_ref.value.validate())})

const {l3, saveDraft} = await useL3()
</script>
<template>
  <p>
    Report expenditures made or incurred for other reportable lobbying expenses not included in any other section of this expense report.
    Example: A lobbyist employer (independent of the lobbyist) makes a contribution to a charitable or civic organization at the request or suggestion of a public official.
  </p>
  <p-edit-table
    ref="other_expenditures_ref"
    :rows="l3.other_expenditures"
    prompt="Do you have any other expenditures to report?"
    :selected-index="navigation.currentSection.index"
    :row-default="{date: null, recipient: null, amount: null, description: null}"
    v-model="l3.has_other_expenditures"
    :columns="[
      {name: 'date', label:'Date', field: 'date', align: 'left'},
      {name: 'recipient', label: 'Recipient', field: 'recipient', align: 'left' },
      {name: 'amount', label: 'Amount', field: 'amount', format: (v) => formatMoney(v)}
    ]"
    @rows-changed="saveDraft"
  >
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
      <q-input label="Recipient" type="text" v-model="row.recipient" :rules="[rules.requireString]"/>
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <q-input label="Description" :rules="[rules.requireString]" type="textarea" v-model="row.description"/>
    </template>
  </p-edit-table>
</template>
