<script setup>
import {useL3} from "src/l3";
import rules from "@wapdc/pdc-ui/rules";
import {formatMoney} from "src/utils";
import {inject, ref} from "vue";

import {useRoute} from "vue-router";
const route = useRoute()

const navigation = inject('navigation')
const candidate_independent_expenditures_ref = ref(null);
defineExpose( {validate: async() => !candidate_independent_expenditures_ref.value || (await candidate_independent_expenditures_ref.value.validate())})

const {l3, saveDraft, statewide_candidacies} = await useL3()

const columns = [
  { name: 'name', label: 'Candidate name', field: 'name', align: 'left', type: 'text' },
  { name: 'amount', label: 'Amount', field: 'amount', align: 'right', format: v=>formatMoney(v)}
]
</script>
<template>
  <p>Report "independent expenditures" supporting or opposing one or more candidates for state office that were made independent of a candidate's campaign, political consultant or any agent of the candidate.</p>

  <p-edit-table
    ref="candidate_independent_expenditures_ref"
    :rows="l3.candidate_independent_expenditures"
    :selected-index="navigation.currentSection.index"
    @rows-changed="saveDraft"
    prompt="Do you have any independent expenditures for candidates to report?"
    v-model="l3.has_candidate_independent_expenditures"
    :row-default="{ date: null, name: null, amount: null, stance: null, description: null, candidacy_id: null}"
    :columns=columns
  >
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
      <p-select-search
        :options="statewide_candidacies"
        label="Select candidate"
        label-property="name"
        value-property="candidacy_id"
        v-model.number="row.candidacy_id"
        v-model:name ="row.name"
        :rules="[rules.required]"
      />
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required,rules.positiveAmount]"></q-input>
      <q-field :rules="[rules.required]" v-model="row.stance">
      <q-option-group type="radio" :options="[{label: 'For', value: 'For'}, {label: 'Against', value: 'Against'}]" v-model="row.stance" :rules="[rules.required]" />
      </q-field>
       <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>

