<script setup>
import { useL3 } from 'src/l3'
import rules from "@wapdc/pdc-ui/rules";
import {formatMoney} from "src/utils";
import {inject, ref} from "vue";
const navigation = inject('navigation')
const ballotPropositionExpenditures_ref = ref(null)
defineExpose({validate: async() => !ballotPropositionExpenditures_ref.value || (await ballotPropositionExpenditures_ref.value.validate())})
const {l3, saveDraft} = await useL3()
</script>

<template>
  <p>Report "independent expenditures" where you made payments for political advertising costing $2,000 or more in the aggregate that supported or opposed a statewide ballot measure.</p>

  <p-edit-table
    ref="ballotPropositionExpenditures_ref"
    :rows="l3.ballot_proposition_expenditures"
    @rows-changed="saveDraft"
    :selected-index="navigation.currentSection.index"
    prompt="Do you have any independent expenditures for ballot propositions to report?"
    v-model="l3.has_ballot_proposition_expenditures"
    :row-default="{ date: null, ballot_number: null, description: null, amount: null}"
    :columns="[
      { name: 'ballot_number', label: 'Number ',field: 'ballot_number', type: 'text', align: 'left' },
      { name: 'description', label: 'Description',field: 'description', type: 'text', align: 'left' },
      { name: 'amount', label: 'Amount', type: 'number',field: 'amount', format: v=>formatMoney(v) },
    ]"
  >
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
      <q-input label="Ballot number or issue" v-model="row.ballot_number" :rules="[rules.requireString]" hint="Enter a description if the ballot number is unavailable."></q-input>
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.requireString,rules.positiveAmount]"></q-input>
      <q-field :rules="[rules.required]" v-model="row.stance">
        <q-option-group type="radio"  :options="[{label: 'For', value: 'For'}, {label: 'Against', value: 'Against'}]" v-model="row.stance" />
      </q-field>
      <q-input label="Description" v-model="row.description" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
