<script setup>
import {useL3} from "src/l3";
import {formatMoney} from "src/utils";
import rules from "@wapdc/pdc-ui/rules";
import {inject, ref} from "vue";
import SelectL3ContributionRecipient from "components/SelectL3ContributionRecipient.vue";

const navigation = inject('navigation')
const itemized_contributions_ref = ref(null);
defineExpose( {validate: async() => !itemized_contributions_ref.value || (await itemized_contributions_ref.value.validate())})

const {l3,saveDraft} = await useL3()
</script>
<template>
  <p>
    Report political contributions in excess of $100 (not otherwise reported by your lobbyist) made <em>directly</em> to a candidate for state office, to political committees supporting or opposing candidates for state office, or to political committees supporting or opposing statewide ballot propositions.
  </p>
  <p-edit-table
    ref="itemized_contributions_ref"
    :rows="l3.itemized_contributions"
    :selected-index="navigation.currentSection.index"
    prompt="Do you have any contributions in excess of $100 to itemize?"
    v-model="l3.has_itemized_contributions"
    :columns="[
      {name: 'name', label: 'Name', field: 'recipient', align: 'left'  },
      {name: 'amount', label: 'Amount', field: 'amount', format: v=>formatMoney(v)}
    ]"
    :row-default="{amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null}"
    @rows-changed="saveDraft"
  >
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
      <q-input label="Amount" type="number" v-model="row.amount" :rules="[rules.required, rules.positiveAmount]"/>
      <select-l3-contribution-recipient v-model:name="row.recipient" v-model:recipient-type="row.recipient_type" v-model:recipient-id="row.recipient_id"/>
    </template>
  </p-edit-table>
</template>
