<script setup>
import {ref} from "vue";
import {useL3} from "src/l3";
import rules from "@wapdc/pdc-ui/rules";

const electionExpense_ref = ref(null)

defineExpose({validate: () => !electionExpense_ref.value || electionExpense_ref.value.validate()})
const {l3} = await useL3()

const local_rules = ref({
  validAmount: value => {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'

    return !value || parseFloat(value) >= 0 || 'Negative amounts are not allowed'
  },
})

</script>

<template>
  <div class="q-mb">
    <q-form ref="electionExpense_ref" greedy >
      <h3>Political contributions</h3>
      <p>Report political contributions in excess of $100 (not otherwise reported by your lobbyist) made <em>directly</em> to a candidate for state office, to political committees supporting or opposing candidates for state office, or to political committees supporting or opposing statewide ballot propositions.</p>
        <p-have-any prompt="Do you have any contributions in excess of $100 to itemize?" v-model="l3.has_itemized_contributions" :rows="l3.itemized_contributions" required :row-default="{amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null}"/>
        <q-separator  class="q-mb-md" />


        <p></p>
        <p-have-any prompt="Do you have any contributions of goods or services worth more than $100 that were made directly to a political campaign? This includes political advertising that was coordinated with the campaign." v-model="l3.has_in_kind_contributions" :rows="l3.in_kind_contributions" required     :row-default="{source: null, amount: null, committee_id: null, recipient_type: 'candidacy', recipient: null, recipient_id: null}"/>
        <q-separator class="q-mb-md"/>
      <div class="row">
        <p class="col-9 q-pt-lg">Report the total of all political contributions of $100 or less.</p>
        <q-space />
        <q-input
          required
          class="col-2"
          type="number"
          label="Amount"
          v-model="l3.non_itemized_political_contribution_amount"
          :rules="[rules.requireString, local_rules.validAmount]"
        />
      </div>
        <q-separator class="q-mb-md"/>

        <p>List the name(s) of affiliated political committees (PACs) that made contributions to a candidate for state office, to political committees supporting or opposing candidates for state office, or to political committees supporting or opposing statewide ballot propositions.
          Affiliated committees include those for which the lobbyist employer provides funds or personnel to establish, direct or administer the committee; assists in the solicitation and collection of contributions from PAC members; employs or controls activities of the PAC officers or directors; or similarly exercises control over the contributions received and expenditures made by the PAC.</p>
        <p-have-any prompt="Do you have any PACs that contribute directly to campaigns?" v-model="l3.has_pac_contributions" :rows="l3.pac_contributions" required/>


      <h3>Independent expenditures</h3>
      <p>Report "independent expenditures" supporting or opposing one or more candidates for state office that were made independent of a candidate's campaign, political consultant or any agent of the candidate.
        </p>
        <p-have-any prompt="Do you have any independent expenditures for candidates to report?" v-model="l3.has_candidate_independent_expenditures" :rows="l3.candidate_independent_expenditures" required/>

        <q-separator  class="q-mb-md"/>
        <p>Report "independent expenditures" where you made payments for political advertising costing $2,000 or more in the aggregate that supported or opposed a statewide ballot measure.
          </p>
        <p-have-any prompt="Do you have any independent expenditures for ballot propositions to report?" v-model="l3.has_ballot_proposition_expenditures" :rows="l3.ballot_proposition_expenditures" requried/>


    </q-form>
  </div>


</template>

<style scoped>

</style>
