<script setup>
import {useL3} from "src/l3"
import rules from "@wapdc/pdc-ui/rules"
import {formatMoney} from "@wapdc/pdc-ui/util";
import {inject, ref} from "vue";
import SelectL3RelationshipFamilyRecipient from "components/SelectL3RelationshipFamilyRecipient.vue";

const navigation = inject('navigation')
const itemized_expenses_ref = ref(null);
defineExpose({validate: async() => !itemized_expenses_ref.value || (await itemized_expenses_ref.value.validate())})

const {l3, saveDraft} = await useL3()
</script>
<template>
  <p>Report expenditures made to honor, influence or benefit state elected officials, successful candidates for state office or their family members. Include honoraria, speaker's fees, payment of medical bills or office staff or equipment.
  </p>
  <p>
    Do not include payments made in the normal course of your business. "Immediate family" includes the official's
    spouse, dependent children, and other dependent relatives if they live in the official's household.
  </p>
  <p-edit-table
    ref="itemized_expenses_ref"
    :rows="l3.itemized_expenditures"
    :selected-index="navigation.currentSection.index"
    prompt="Do you have itemized expenditures that were for the purpose of influencing, honoring or benefiting a legislator or official?"
    v-model="l3.has_itemized_expenditures"
    :row-default="{date: null, recipient: null, amount: null, description: null}"
    :columns="[
      {name: 'date', label:'Date', field: 'date', align: 'left'},
      {name: 'name', label: 'Name', field: 'name', align: 'left' },
      {name: 'amount', label: 'Amount', field: 'amount', format: (v) => formatMoney(v)}
    ]"
    @rows-changed="saveDraft">
    <template v-slot="{row}">
      <p-date-picker
        required
        label="Date"
        v-model="row.date"
        :minDate="l3.period_start"
        :maxDate="l3.period_end"
        :defaultYearMonth="l3.period_start.substring(0,7)"
      />
        <select-l3-relationship-family-recipient
          :relationship="row.relationship"
          :name="row.name"
          :familyMemberName="row.family_member_name"
          :required="true"
          @update:relationship="(value) => (row.relationship = value)"
          @update:name="(value) => (row.name = value)"
          @update:familyMemberName="(value) => (row.family_member_name = value)"
        />
      <q-input type="number" v-model="row.amount" label="Amount" :rules="[rules.required, rules.positiveAmount]"/>
      <q-input v-model="row.description" type="textarea" label="Description" :rules="[rules.requireString]"/>
    </template>
  </p-edit-table>
</template>
