<script setup>
import {inject} from "vue";
import {useRoute, useRouter} from "vue-router";
import {useL3} from "src/l3";


const {l3, validations} = await useL3()
const router = useRouter()
const route = useRoute()
const navigation =inject('navigation')

function getWarnings() {
  const areas = [
    {section: "lobbyist_summary", label: "Lobbyists", search: "l3.lobbyist"},
    {section: 'election_expenses', label: 'Election expenses', search:'l3.election_expenses'},
    {section: 'election_expenses', item: 'itemized_contributions', label: 'Election expenses - Itemized contributions', search:'l3.itemized_contributions', addIndex: true},
    {section: 'election_expenses', item: 'candidate_independent_expenditures', label:'Election expenses - Candidate independent expenditures', search:'l3.candidate_independent_expenditures', addIndex: true},
    {section: 'election_expenses', item: 'pac_contributions', label:'Election expenses - PAC contributions', search:'l3.pac_contributions'},
    {section: 'election_expenses', item: 'ballot_proposition_expenditures', label:'Election expenses - Ballot proposition', search:'l3.ballot_proposition_expenditures', addIndex: true},
    {section: 'election_expenses', item: 'in_kind_contributions', label:'Election expenses - In-kind contributions', search:'l3.in_kind_contributions'},

    {section: 'lobbying_expenses', label: 'Lobbying expenses', search:'l3.lobbying_expenses'},
    {section: 'lobbying_expenses', item: 'itemized_expenditures', label: 'Itemized lobbying expenditures', search: 'l3.itemized_expenditures', addIndex: true},
    {section: 'lobbying_expenses', item: 'other_expenditures', label: 'Lobbying expenses - Other expenditures', search:'l3.other_expenditures', addIndex: true},
    {section: 'lobbying_expenses', item: 'entertainment_expenditures', label: 'Lobbying expenses - Entertainment expenditures', search:'l3.entertainment_expenditures', addIndex: true},

    {section: 'other_compensation', label: 'Other compensation', search:'l3.other_compensation'},
    {section: 'other_compensation', item: 'employment_compensation', label: 'Other compensation - Employment compensation', search:'l3.employment_compensation', addIndex: true},
    {section: 'other_compensation', item: 'professional_services', label: 'Other compensation - Professional services', search:'l3.professional_services_compensation', addIndex: true},

  ]

  validations.value.forEach((v) => {
    const key = Object.keys(v)[0]
    const a = areas.find(a => key.includes(a.search))
    if (a) {
      if (a.addIndex && !a.index) {
        a.index = parseInt(key.split('.')[2])
      }
      a.show = true;
    }
  })
  return areas.filter(w => !!w.show)
}

function selectSection(area) {
  if (area.addIndex) {
    navigation.currentSection = {section: area.section, item: area.item, validate: true, index: area.index}
  }
  else {
    navigation.currentSection = {section: area.section, item: area.item, validate: true}
  }
}

function l3PreviewDraft(){
  const reportYear = route.params.year?.toString()
  router.push({name: 'client-create-l3', params: {year: reportYear}})
}
</script>

<template>
  <div v-if="validations.length > 0">
    <q-banner rounded class="bg-warning"  v-if="l3.conversion_incomplete">
      <q-icon name="warning"/>
      This amendment was created from a report from a prior version of the lobbyist system.  Because the way we ask for
      the information has changed significantly, you will need to re-enter information from the prior report manually.
      Data can be found by  <router-link target="_blank" :to="{name: 'client-l3', params: {submission_id: l3.amends}}">viewing the prior report</router-link>.
    </q-banner>
    <p>The following areas of your report still need work.</p>
    <div v-for="warning in getWarnings()" :key="`${warning.section}-${warning.item}`" >
      <q-item clickable v-ripple @click="selectSection(warning)">
        <q-item-section><q-item-label>{{warning.label}} section is incomplete</q-item-label></q-item-section>
        <span class="text-caption q-ml-lg" style="cursor: pointer;">
          <q-btn color="primary" rounded>Fix it</q-btn>
        </span>
      </q-item>
    </div>
  </div>
  <div v-else>
    <p class="print-hide">We have found no problems with your report</p>
    <q-btn label="Preview and Submit" color="primary" @click="l3PreviewDraft()" icon="check" class="q-mr-md" />
  </div>
</template>
