<script setup>
import { ref } from 'vue'
import { useL3 } from 'src/l3'
import rules from '@wapdc/pdc-ui/rules'

defineExpose({validate: async () => (lobbying_expenses_ref.value) ? await lobbying_expenses_ref.value?.validate() : []})

const { l3 } = await useL3()

const lobbying_expenses_ref = ref(null)

const local_rules = ref({
  validAmount: value => {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'

    return !value || parseFloat(value) >= 0 || 'Negative amounts are not allowed'
  },
})
</script>
<template>
  <q-form ref="lobbying_expenses_ref" greedy>
    <h3>Expenses associated with state officials</h3>
    <p>Report expenditures made to entertain and to provide gifts, travel or enrollment or course fees for legislators, state officials, state employees and members of their immediate families that exceed $50. Also include the value of transportation in employer-owned vehicles or aircraft. </p>
    <p-have-any
      required
      prompt="Do you have any entertainment, travel or gift expenditures to report?"
      v-model="l3.has_entertainment_expenditures"
      :rows="l3.entertainment_expenditures"
    />
    <q-separator class="q-mb-md"/>

    <p>Report expenditures made to honor, influence or benefit state elected officials, successful candidates for state office or their family members. Include honoraria, speaker's fees, payment of medical bills or office staff or equipment.
    </p>
    <p>Do not include payments made in the normal course of your business. "Immediate family" includes the official's spouse, dependent children, and other dependent relatives if they live in the official's household.</p>
    <p-have-any
      required
      prompt="Do you have any such expenditures to report?"
      v-model="l3.has_itemized_expenditures"
      :rows="l3.itemized_expenditures"
    />
    <q-separator class="q-mb-md"/>

    <p>Report expenditures made or incurred for other reportable lobbying expenses not included in any other section of this expense report. Example: A lobbyist employer (independent of the lobbyist) makes a contribution to a charitable or civic organization at the request or suggestion of a public official.</p>
    <p-have-any
      required
      prompt="Do you have any other expenditures to report?"
      v-model="l3.has_other_expenditures"
      :rows="l3.other_expenditures"
    />

    <h3>Direct lobbying</h3>
    <p>Report total expenses paid directly to others on behalf of your registered lobbyist(s) that have not already been reported by the lobbyist. Report travel charges to your organization's credit card made by your lobbyist. Report expenses paid directly to a vendor not reflected in the lobbyist(s) monthly report.</p>
    <div class="row">
      <p class="col-9 q-pt-lg">Payments to vendors on behalf of or in support of registered lobbyists</p>
      <q-space />
      <q-input
        required
        class="col-2"
        type="number"
        label="Amount"
        v-model="l3.payments_for_registered_lobbyists"
        :rules="[rules.requireString, local_rules.validAmount]"
      />
      <div class="col-1" />
    </div>
    <q-separator class="q-mb-md"/>

    <p>Report total expenses (for compensation and other lobbying-related costs) — in addition to what was reported through your lobbyist — incurred to obtain the services of independent, outside expert witnesses or others retained to provide lobbying assistance who were not required to register as lobbyists, perhaps because they lobbied less than four days in a three-month period or lobbied only at public hearings. You do not need to report the costs associated with utilizing the services of your regular employees if they served as casual lobbyists or otherwise were exempt from registering.</p>
    <div class="row">
      <p class="col-9 q-pt-lg">Total for expert witnesses or others retained to provide lobbying services</p>
      <q-input
        required
        class="col-2"
        type="number"
        label="Amount"
        v-model="l3.witnesses_retained_for_lobbying_services"
        :rules="[rules.requireString, local_rules.validAmount]"
      />
      <div class="col-1" />
    </div>
    <q-separator class="q-mb-md"/>

    <p>Report total expenditures — in addition to what was spent through your lobbyist — for the composition, design, production and distribution of informational materials (audio, visual or print) produced primarily for lobbying purposes.</p>
    <div class="row">
      <p class="col-9 q-pt-lg">Total costs to compose, design, develop and distribute promotional materials</p>
      <q-space />
      <q-input
        required
        class="col-2"
        type="number"
        label="Amount"
        v-model="l3.costs_for_promotional_materials"
        :rules="[rules.requireString, local_rules.validAmount]"
      />
      <div class="col-1" />
    </div>

    <h3>Indirect/grassroots lobbying</h3>
    <p>Report totals for any expenses incurred during the reporting period – and not included in the lobbyist's monthly expense reports – for advertising or other communications with the general public, your customers and clients in order to further your lobbying effort.</p>
    <p>Include in the total amounts already reported during the year on an L-6, a grass roots lobbying report, including any expenses related to conducting a grass roots lobbying campaign with respect to an initiative to the legislature.</p>
    <p>Be aware that "advertising" includes the preparation, printing or manufacture and distribution or dissemination of printed material, broadcasts, and promotional material that is clearly of an advertising nature and has a separate identifiable cost related to a lobbying effort.</p>
    <div class="row">
      <p class="col-9 q-pt-lg">Total grassroots lobbying expenses and payments</p>
      <q-space />
      <q-input
        required
        class="col-2"
        type="number"
        label="Amount"
        v-model="l3.grassroots_expenses_for_lobbying_communications"
        :rules="[rules.requireString, local_rules.validAmount]"
      />
      <div class="col-1" />
    </div>
  </q-form>
</template>
