<script setup>
import { useL3 } from "src/l3";
import {computed, ref, watch} from "vue";
import rules from "@wapdc/pdc-ui/rules";
import { formatMoney } from "src/utils";

const confirm_summary_edit_form = ref(null)
defineExpose({ validate: async () => (confirm_summary_edit_form.value) ? await confirm_summary_edit_form.value?.validate() : [] })

const { l3, saveDraft, l2_summary } = await useL3();
const showCompensationDialog = ref(false)
const showExpensesDialog = ref(false)
const selected_lobbyist_id = ref()
function useReportedCompensation() {
  l3.lobbyist.forEach( row => { row.compensation = row.compensation_l2 } )
}

function useReportedExpenses() {
  l3.lobbyist.forEach( row => { row.expenses = row.expenses_l2 })
}

const discrepancies = computed(() => {
  return l3.lobbyist.filter(row => {
    return row.hasOwnProperty('compensation') && row.compensation !== "" && row.compensation !== row.compensation_l2
  })
})

const expensesDiscrepancies = computed(() => {
  return l3.lobbyist.filter(row => {
   return row.hasOwnProperty('expenses') && row.expenses !== "" && row.expenses !== row.expenses_l2
  })
})

const local_rules = ref({
  validAmount: value => {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'

    return !value || parseFloat(value) >= 0 || 'Negative amounts are not allowed'
  },
})


const selected_lobbyist_summary = ref({})

watch(selected_lobbyist_id, (newId) => {
  if (newId)
    selected_lobbyist_summary.value = getL2SummaryForLobbyist(newId)
  else
    selected_lobbyist_summary.value = {}
})
function getL2SummaryForLobbyist(lobbyistId)  {
  const summary = l2_summary.value.find(i => i.fer_nid === lobbyistId)
  return summary || {}
}

const reportSummary = computed(() => {
  const reports = selected_lobbyist_summary.value.reports_filed || []
  const filedCount = reports.filter(report => report.filed !== null).length
  const missingReportsCount = reports.filter(report => report.filed === null).length
  const totalCount = reports.length
  return {
    filedCount,
    totalCount,
    missingReportsCount
  }
})

const expenseTotalRows = computed( () => {
  const rows = [
    { label: 'Personal', value: formatMoney(selected_lobbyist_summary.value.personal_expenses) },
    { label: 'Entertainment', value: formatMoney(selected_lobbyist_summary.value.entertainment_expenses) },
    { label: 'Election', value: formatMoney(selected_lobbyist_summary.value.election_expenses) },
    { label: 'Direct Lobbying', value: formatMoney(selected_lobbyist_summary.value.direct_lobbying_expenses) },
    { label: 'Indirect Lobbying', value: formatMoney(selected_lobbyist_summary.value.indirect_lobbying_expenses) },
  ]
  if (selected_lobbyist_summary.value.advertising_expenses > 0) {
    rows.push({ label: 'Advertising', value: formatMoney(selected_lobbyist_summary.value.advertising_expenses) })
  }
  rows.push({ label: 'Total', value: formatMoney(selected_lobbyist_summary.value.expenses) })
  return rows
})

const pagination = ref({
  page: 1,
  rowsPerPage: 10
})

</script>

<template>
  <q-form ref="confirm_summary_edit_form" greedy>
    <p>Please review and correct, if necessary, the total compensation and expenses paid to or reimbursed to lobbyists during the year.</p>
    <q-separator/>
    <h3>Compensation</h3>
    <p>Listed below are total salary and fees reported on the registered lobbyists'/lobbyist firms' monthly expense reports (L2).
      Compensation shows the amount incurred (what was paid and may be owing) during the year for lobbying-related compensation.
      This includes any funds set aside for deferred income, bonuses or the value of similar deferred payments paid or due.</p>
    <q-table :rows="l3.lobbyist" class="q-mb-md"
             :columns="[
               {name: 'lobbyist', field: 'lobbyist_title', align: 'left', label: 'Lobbyist'},
               {name: 'reported_compensation', field: 'compensation_l2', align: 'left', label: 'Lobbyist reported compensation'},
               {name: 'actual_compensation', field: 'compensation', align: 'left', label: 'Actual compensation'}
             ]"
             :rows-per-page-options="[0]"
             hide-pagination>
      <template v-slot:body-cell-lobbyist="props">
        <q-td :props="props">
          {{props.row.lobbyist_title}}<span class="small-text" v-if="props.row.contractor_title"><br/>
          contracted through {{props.row.contractor_title}}
          </span>
        </q-td>
      </template>
      <template v-slot:body-cell-reported_compensation="props">
        <q-td :props="props">
          <a href="#" @click.prevent="showCompensationDialog = true; selected_lobbyist_id = props.row.lobbyist_contract_id">
            {{ formatMoney(props.row.compensation_l2) }}
          </a>
        </q-td>
      </template>
      <template v-slot:body-cell-actual_compensation="props">
        <q-td :props="props">
          <q-input
            v-model="props.row.compensation"
            required
            type="number"
            dense
            placeholder="Enter compensation"
            :rules="[rules.requireString, local_rules.validAmount]"
            hide-bottom-space
          />
         <div v-if="discrepancies.some(i => i.lobbyist_contract_id === props.row.lobbyist_contract_id)" >
            <span class="bg-warning">Different than reported.</span>
          </div>
        </q-td>
      </template>
    </q-table>
    <div class="q-mt-md q-pb-md row justify-end">
      <q-btn label="Use Lobbyist Reported Compensation" color="primary" size="sm" @click="useReportedCompensation"/>
    </div>
    <q-dialog v-model="showCompensationDialog" persistent>
      <q-card>
        <q-card-section>
          <h3>Lobbyist compensation reported by {{selected_lobbyist_summary.lobbyist_title}}</h3>
          <q-item v-if="reportSummary.missingReportsCount">
            {{ reportSummary.missingReportsCount }} lobbyist reports are required but missing.
          </q-item>
          <q-item v-else>
            All required lobbyist reports are submitted.
          </q-item>
          <div v-if="selected_lobbyist_summary.contractor_title">
            <q-item>Contracted through {{ selected_lobbyist_summary.contractor_title }}</q-item>
          </div>
          <q-table
            :rows="[
                { label: 'Compensation', value: formatMoney(selected_lobbyist_summary.lob_comp) },
                { label: 'Compensation to sub-lobbyist', value: formatMoney(selected_lobbyist_summary.sub_lob_comp)},
                { label: 'Total', value: formatMoney(selected_lobbyist_summary.compensation) },
              ]"
            row-key="label"
            flat
            bordered
            class="q-ma-sm"
            hide-bottom
            hide-header
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Close" color="primary" @click="showCompensationDialog = false" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-separator/>
    <h3>Expenses</h3>
    <p>The expenditure totals listed below include amounts paid to or due
      the lobbyist for: reportable personal expenses; entertainment, gifts and travel for legislators, state officials
      and employees and their families; contributions to elected officials, candidates and political committees that were
      transmitted or delivered by the lobbyist; advertising, printing, and other informational literature; and other
      reportable expenses paid to or through the lobbyist in support of your lobbying objectives.</p>
    <q-table :rows="l3.lobbyist" class="q-mb-md"
             :columns="[
               {name: 'lobbyist', field: 'lobbyist_title', align: 'left', label: 'Lobbyist'},
               {name: 'reported_expenses', field: 'expenses_l2', align: 'left', label: 'Lobbyist reported expenses'},
               {name: 'actual_expenses', field: 'expenses', align: 'left', label: 'Actual expenses'}
             ]"
             :rows-per-page-options="[0]"
             hide-pagination>
      <template v-slot:body-cell-lobbyist="props">
        <q-td :props="props">
          {{props.row.lobbyist_title}}<span class="small-text" v-if="props.row.contractor_title"><br/>
          contracted through {{props.row.contractor_title}}
          </span>
        </q-td>
      </template>
      <template v-slot:body-cell-reported_expenses="props">
        <q-td :props="props">
          <a href="#" @click.prevent="showExpensesDialog = true; selected_lobbyist_id = props.row.lobbyist_contract_id">
            {{ formatMoney(props.row.expenses_l2) }}
          </a>
        </q-td>
      </template>
      <template v-slot:body-cell-actual_expenses="props">
        <q-td :props="props">
          <q-input
            v-model="props.row.expenses"
            required
            type="number"
            dense
            placeholder="Enter expenses"
            :rules="[rules.required, local_rules.validAmount]"
            hide-bottom-space
          />
          <div v-if="expensesDiscrepancies.some(i => i.lobbyist_contract_id === props.row.lobbyist_contract_id)" >
            <span class="bg-warning">Different than reported.</span>
          </div>
        </q-td>
      </template>
    </q-table>
    <div class="q-mt-md q-pb-md row justify-end">
      <q-btn label="Use Lobbyist Reported expenses" color="primary" size="sm" @click="useReportedExpenses"/>
    </div>
  </q-form>
  <q-dialog v-model="showExpensesDialog" persistent>
    <q-card>
      <q-card-section>
        <h3>Lobbyist Expenses reported by {{ selected_lobbyist_summary.lobbyist_title }}</h3>
        <div>
          <q-item v-if="reportSummary.missingReportsCount">
            {{ reportSummary.missingReportsCount }} lobbyist reports are required but missing.
          </q-item>
          <q-item v-else>
            All required lobbyist reports are submitted.
          </q-item>
        </div>
        <div v-if="selected_lobbyist_summary.contractor_title">
          <q-item>Contracted through {{ selected_lobbyist_summary.contractor_title }}</q-item>
        </div>
          <q-table
            :rows="expenseTotalRows"
            row-key="label"
            flat
            bordered
            class="q-ma-sm"
            hide-bottom
            hide-header
            v-model:pagination="pagination"
          />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Close" color="primary" @click="showExpensesDialog = false" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped>

</style>
