<script setup>
import {ref} from "vue";
import {useL3} from "src/l3";

const otherCompensation_ref = ref(null)

defineExpose({validate: () => !otherCompensation_ref.value || otherCompensation_ref.value.validate()})
const {l3} = await useL3()


</script>

<template>
  <div class="q-mb">
    <q-form ref="otherCompensation_ref" greedy >

      PDC annually publishes a <a href="https://www.pdc.wa.gov/registration-reporting/lobbying/lobbyist-employers/employers-legislators-state-officers-and-employees"  target="_blank">List of Elected Officials</a> that identifies state officials and companies with which they are associated. Reviewing this list will help lobbyist employers identify the information that needs to be disclosed in the following two sections.


      <q-separator  class="q-ma-md" />

      <p><strong>Employment compensation:</strong> Report details concerning state elected officials, legislators, successful candidates for these offices and members of their immediate families to whom the lobbyist employer paid or incurred an obligation to pay during the reporting period for employment or professional services.</p>
        <p>"State elected official" means the governor, lieutenant governor, secretary of state, attorney general, state auditor, state treasurer, superintendent of public instruction, commissioner of public lands, insurance commissioner, state senator and state representative, or any person appointed to fill a vacancy in one of those offices.</p>
      <p-have-any prompt="Do you have any compensation for employment or services paid to state elected officials or successful candidates?" v-model="l3.has_employment_compensation" :rows="l3.employment_compensation" required/>
      <q-separator  class="q-mb-md" />

      <p><strong>Professional services:</strong> Report the details of compensation, including contracts and fees, paid or due to be paid by the lobbyist employer for professional services provided during the reporting period by any corporation, partnership, joint venture, association or other entity in which a state elected official,
        successful candidate for state office or member of the official's or candidate's immediate family holds office, partnership, directorship or ownership interest of 10% or more.
        Do not include the names of companies or organizations from which the employer purchased goods or tangible products in the normal course of business at fair market value.
      </p>
      <p-have-any prompt="Do you have any compensation for professional services paid to corporations, partnerships, etc. associated with state elected officials?" v-model="l3.has_professional_services_compensation" :rows="l3.professional_services_compensation" required/>

    </q-form>
  </div>


</template>

<style scoped>

</style>
