<script setup>
import {useFirmL1} from "src/l1"
import {ref} from "vue"
import rules from "@wapdc/pdc-ui/rules"

const compensation_ref = ref(null)
defineExpose({validate: async() => !compensation_ref.value || (await compensation_ref.value.validate())})

const { l1 } = await useFirmL1()

const periodOptions = [
  'Per Hour', 'Per Day', 'Per Month', 'Per Year', 'Other'
]

const descriptionOptions = [
  {label: 'Unsalaried officer or member of group', value: 'Unsalaried officer or member of group'},
  {label: 'Full time employee', value: 'Full time employee'},
  {label: 'Lobbying is only part of other duties', value: 'Lobbying is only part of other duties'},
  {label: 'Part time or temporary employee', value: 'Part time or temporary employee'},
  {label: 'Sole duty is lobbying', value: 'Sole duty is lobbying'},
  {label: 'Contractor or retainer or similar agreement', value: 'Contractor or similar agreement'}
]

function updateOther(period) {
  if(period !== 'Other') {
    l1.compensation.other = null
  }
}

</script>
<template>
    Identify the compensation you receive for lobbying only and indicate how you are paid (i.e., hourly, monthly, other).
    If you receive no compensation for lobbying enter a zero (0) dollar amount.
    <div class="full-width q-pb-lg">
      <a href="https://www.pdc.wa.gov/registration-reporting/lobbying/lobbyists/preparing-report" target="_blank">Monthly Expenditure Report Instructions</a>
    </div>
  <p>
    What is your pay (compensation) for lobbying?
  </p>
  <q-form ref="compensation_ref" :rules="[rules.required]" greedy>
    <div class="q-pb-lg">
      <q-select autofocus clearable v-model="l1.compensation.period" :rules="[rules.required]" label="Period" :options="periodOptions" @update:model-value="updateOther"/>
      <q-input  v-model="l1.compensation.amount" :rules="[rules.required, rules.positiveAmount]" label="Amount" type="number"/>
      <q-input v-if="l1.compensation.period === 'Other'" v-model="l1.compensation.other" label="Other" type="textarea" :rules="[rules.requireString]"/>
    </div>
    <p>
      Description of Employment
    </p>
    <q-field color="black" :rules="[() => l1.compensation.description.length >= 1 || 'Required']" borderless>
      <q-option-group v-model="l1.compensation.description" type="checkbox" :options="descriptionOptions"/>
    </q-field>
  </q-form>
</template>
