<script setup>
import {ref} from "vue";
import {useFirmL1} from "src/l1";

const areas_of_interest_ref = ref(null)
defineExpose({validate: async() => !areas_of_interest_ref.value || (await areas_of_interest_ref.value.validate())})

const {l1, saveDraft} = await useFirmL1()

const selectOptions = ref([
  {
    label: 'Agriculture',
    value: 'Agriculture'
  },
  {
    label: 'Business and consumer affairs',
    value: 'Business and consumer affairs'
  },
  {
    label: 'Constitutions and elections',
    value: 'Constitutions and elections'
  },
  {
    label: 'Education',
    value: 'Education'
  },
  {
    label: 'Energy and utilities',
    value: 'Energy and utilities'
  },
  {
    label: 'Environmental affairs - Natural resources - Parks',
    value: 'Environmental affairs - Natural resources - Parks'
  },
  {
    label: 'Financial institutions and insurance',
    value: 'Financial institutions and insurance'
  },
  {
    label: 'Fiscal',
    value: 'Fiscal'
  },
  {
    label: 'Health care',
    value: 'Health care'
  },
  {
    label: 'Higher education',
    value: 'Higher education'
  },
  {
    label: 'Human services',
    value: 'Human services'
  },
  {
    label: 'Labor',
    value: 'Labor'
  },
  {
    label: 'Law and justice',
    value: 'Law and justice'
  },
  {
    label: 'Local government',
    value: 'Local government'
  },
  {
    label: 'State government',
    value: 'State government'
  },
  {
    label: 'Technology',
    value: 'Technology'
  },
  {
    label: 'Transportation',
    value: 'Transportation'
  },
  {
    label: 'Other',
    value: 'Other'
  }
])

</script>

<template>
  <div class="q-pa-lg">
    Identify all subject areas about which you anticipate lobbying the legislature or state agencies:
      <!-- Multiple selection using checkboxes-->
    <q-form ref="areas_of_interest_ref" greedy>

      <q-field color="black" item-aligned :rules="[() => l1.areas_of_interest.length > 0 || 'Required']" borderless>
      <q-option-group
        autofocus
        v-model="l1.areas_of_interest"
        type="checkbox"
        :options="selectOptions"
        @rows-changed="saveDraft"
      ></q-option-group>
      </q-field>
    </q-form>
  </div>
</template>
