<script setup>
  import { inject, ref, reactive, watch } from 'vue'
  import { useFirmL1 } from 'src/l1'
  import { useFirm } from 'src/firm'
  import rules from '@wapdc/pdc-ui/rules'
  import moment from 'moment'

  const navigation = inject('navigation')

  const reporting_periods_ref = ref(null)
  defineExpose({validate: async() => !reporting_periods_ref.value || (await reporting_periods_ref.value.validate())})

  const { l1, setHasExemptions, has_exemptions } = await useFirmL1()

  const firm = await useFirm()

  const year_month_arr = reactive([])

  watch(() => year_month_arr, (new_value, old_value) => {
    const period_year_months = l1.period_year_months.map(period_year_month => period_year_month.year_month)
    let return_year_months = []
    for (const year of new_value) {
      for (const month of year.months) {
        const year_month = `${year.year}-${month.month.toString().padStart(2,'0')}`
        if (period_year_months.includes(year_month)) {
          return_year_months.push({
            year_month: `${year.year}-${month.month.toString().padStart(2,'0')}`,
            exempt: month.exempt,
          })
        }
      }
    }
    l1.period_year_months = [...return_year_months]
    setHasExemptions()
    if (has_exemptions.value === false) {
      navigation.currentSection = {section: 'reporting_periods', item: null, validate: false}
    }
  }, { deep: true })

  const months = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  function initYearMonthArr() {
    const period_year_months = l1.period_year_months.map(period_year_month => period_year_month.year_month)
    let exempt_period_year_months = l1.period_year_months
                                      .filter(period_year_month => Boolean(period_year_month.exempt))
                                      .map(period_year_month => period_year_month.year_month)
    const year_month_dict = {}

    const end_date = moment(l1.period_end)
    let current_date = moment(l1.period_start)

    while (current_date.isBefore(end_date) || current_date.isSame(end_date, 'month')) {
      const year = current_date.format('YYYY-M').split('-')[0]
      const month = parseInt(current_date.format('YYYY-M').split('-')[1])
      const year_month = `${year}-${month.toString().padStart(2,'0')}`
      if (year_month_dict[year]) {
        year_month_dict[year].push({
          month,
          exempt: exempt_period_year_months.includes(year_month),
          disabled: ! period_year_months.includes(year_month),
        })
      }
      else {
        year_month_dict[year] = [{
          month,
          exempt: exempt_period_year_months.includes(year_month),
          disabled: ! period_year_months.includes(year_month),
        }]
      }
      current_date.add(1, 'month')
    }

    for (const year of Object.keys(year_month_dict)) {
      year_month_arr.push({year, months: year_month_dict[year]})
    }
  }
  initYearMonthArr()

</script>
<template>
  <p>Review the following and leave the months selected where they are exempt.</p>
  <q-form ref="reporting_periods_ref">
    <div v-for="(period_year, i) in year_month_arr" :key="'year-' + i">
      <div v-if="$q.screen.lt.sm">
        <h2 class="q-mb-none q-ml-sm">{{ period_year.year }}</h2>
        <div class="row">
          <div v-for="(period_month, i) in period_year.months" :key="'month-' + i" class="col-6">
            <q-checkbox :label="months[period_month.month]" v-model="period_month.exempt" :disable="period_month.disabled" />
          </div>
        </div>
      </div>
      <div v-else>
        <h2 class="q-mb-none q-ml-sm">{{ period_year.year }}</h2>
        <div class="row">
          <div v-for="(period_month, i) in period_year.months.slice(0,6)" :key="'month-' + i" class="col-2">
            <q-checkbox :label="months[period_month.month]" v-model="period_month.exempt" :disable="period_month.disabled" />
          </div>
        </div>
        <div class="row">
          <div v-for="(period_month, i) in period_year.months.slice(6)" :key="'month-' + i+6" class="col-2">
            <q-checkbox :label="months[period_month.month]" v-model="period_month.exempt" :disable="period_month.disabled" />
          </div>
        </div>
      </div>
    </div>
  </q-form>
</template>
