<script setup>
import {useFirmL1} from "src/l1"
import {ref} from "vue"
import rules from "@wapdc/pdc-ui/rules"
import PInfoDialog from "components/global/PInfoDialog.vue";


const expenses_and_reimbursement_ref = ref(null)
const confirmDeleteDialog = ref(false)

defineExpose({validate: async() => !expenses_and_reimbursement_ref.value || (await expenses_and_reimbursement_ref.value.validate())})

const {l1, saveDraft} = await useFirmL1()

const periodOptions = [
  'Per Hour', 'Per Day', 'Per Month', 'Per Year'
]

function resetExplanation() {
  l1.expenses.explanation = null
}

function resetReimbursementData() {
  if(l1.expenses.has_agreement === false) {
    l1.expenses.amount = null
    l1.expenses.period = null
  }
}

</script>

<template>

  <div class="q-mb-lg">Indicate how and to what degree you are paid for lobbying expenses other than your salary:</div>

  <p>
    <q-form ref="expenses_and_reimbursement_ref" greedy>
      Do you have an ongoing reimbursement agreement from your client?
      <p-info-dialog title="Do you have an ongoing reimbursement agreement from your client?">
        <template v-slot:default>
          <p>You have an ongoing reimbursement contract if you are paid the same amount by a client regularly for expenses, such as a certain amount per month or per day.</p>
          <p>If this is the arrangement, click "yes" and enter the amount and the pay period.</p>
        </template>
      </p-info-dialog>
      <q-field  :rules="[rules.requireBoolean]"   dense hide-bottom-space v-model="l1.expenses.has_agreement" borderless>
        <q-option-group autofocus type="radio"  @update:model-value="resetReimbursementData" inline :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" v-model="l1.expenses.has_agreement" />
      </q-field>

      <div v-if="l1.expenses.has_agreement" class="shadow-1 q-pa-md">
          <q-input autofocus v-model="l1.expenses.amount" :rules="[rules.required, rules.positiveAmount]" label="Amount" type="number"/>
          <q-select clearable v-model="l1.expenses.period" :rules="[rules.required]" label="Period" :options="periodOptions"/>
      </div>

        Are you reimbursed for incidental lobbying expenses?
        <p-info-dialog title="Are you reimbursed for incidental lobbying expenses?">
          You are reimbursed for incidental lobbying expenses if your employer reimburses you for lobbying expenses, but the reimbursements are not regular fixed amounts.
        </p-info-dialog>
        <q-field  :rules="[rules.requireBoolean]"  dense hide-bottom-space v-model="l1.expenses.incidentals" borderless>
          <q-option-group autofocus type="radio" inline :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" v-model="l1.expenses.incidentals" />
        </q-field>

        Does your client pay any of your lobbying expenses directly?
        <q-field  :rules="[rules.requireBoolean]"  dense hide-bottom-space v-model="l1.expenses.pay_directly" borderless>
          <q-option-group autofocus type="radio" @update:model-value="resetExplanation" inline :options="[{label: 'Yes', value: true}, {label: 'No', value: false}]" v-model="l1.expenses.pay_directly" />
        </q-field>

        <q-input label="Explain"  :rules="[rules.requireString]" v-if="l1.expenses.pay_directly===true" type="textarea" v-model="l1.expenses.explanation"></q-input>
  </q-form>
  </p>

 </template>

<style scoped>

</style>
