<script setup>
  import { useFirmL1 } from 'src/l1'
  import { ref, reactive, watch } from 'vue'
  import moment from 'moment'

  const reporting_periods_ref = ref(null)
  defineExpose({validate: async() => !reporting_periods_ref.value || (await reporting_periods_ref.value.validate())})

  const { l1, has_exemptions, setHasExemptions } = await useFirmL1()

  const yes_no = ref([
    {label: 'No', value: false},
    {label: 'Yes', value: true},
  ])

  const requireBoolean = (t) => t === true || t === false || 'Required'

  const year_month_arr = reactive([])

  watch(() => has_exemptions.value, new_value => {
    const return_year_months = l1.period_year_months.map(period_year_month => ({ ...period_year_month, exempt: new_value }))
    l1.period_year_months = [...return_year_months]
  })

  watch(() => year_month_arr, new_value => {
    let return_year_months = []
    for (const year of new_value) {
      const months = year.months.filter(month => month.selected)
      for (const month of months) {
        const year_month = `${year.year}-${month.month.toString().padStart(2,'0')}`
        const found_period_year_month = l1.period_year_months.find(period_year_month => period_year_month.year_month === year_month)
        const exempt = (found_period_year_month) ? found_period_year_month.exempt : has_exemptions.value
        return_year_months.push({
          year_month,
          exempt,
        })
      }
    }
    l1.period_year_months = [...return_year_months]
    setHasExemptions()
  }, { deep: true })

  const months = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  function initYearMonthArr() {
    const period_year_months = l1.period_year_months.map(period_year_month => period_year_month.year_month)
    const filed_year_months = ref([])
      l1.period_year_months.filter(period_year_month => {
      if(period_year_month.filed) {
        filed_year_months.value.push(period_year_month.year_month)
      }
    })
    const year_month_dict = {}
    const end_date = moment(l1.period_end)
    let current_date = moment(l1.period_start)

    while (current_date.isBefore(end_date) || current_date.isSame(end_date, 'month')) {
      const year = current_date.format('YYYY-M').split('-')[0]
      const month = parseInt(current_date.format('YYYY-M').split('-')[1])
      if (year_month_dict[year]) {
        year_month_dict[year].push({
          month,
          selected: period_year_months.includes(`${year}-${month.toString().padStart(2,'0')}`),
          filed: filed_year_months.value.includes(`${year}-${month.toString().padStart(2,'0')}`)
        })
      }
      else {
        year_month_dict[year] = [{
          month,
          selected: period_year_months.includes(`${year}-${month.toString().padStart(2,'0')}`),
          filed: filed_year_months.value.includes(`${year}-${month.toString().padStart(2,'0')}`)
        }]
      }
      current_date.add(1, 'month')
    }

    for (const year of Object.keys(year_month_dict)) {
      year_month_arr.push({year, months: year_month_dict[year]})
    }
  }
  initYearMonthArr()

</script>
<template>
  <p>Select the months you will be registered to lobby for this employer.</p>
  <q-form ref="reporting_periods_ref">
    <div v-for="(period_year, i) in year_month_arr" :key="'year-' + i">
      <div v-if="$q.screen.lt.sm">
        <h2 class="q-mb-none q-ml-sm">{{ period_year.year }}</h2>
        <div class="row">
          <div v-for="(period_month, i) in period_year.months" :key="'month-' + i" class="col-6">
            <q-checkbox :label="months[period_month.month]" v-model="period_month.selected" :disable="period_month.filed" />
          </div>
        </div>
      </div>
      <div v-else>
        <h2 class="q-mb-none q-ml-sm">{{ period_year.year }}</h2>
        <div class="row">
          <div v-for="(period_month, i) in period_year.months.slice(0,6)" :key="'month-' + i" class="col-2">
            <q-checkbox :label="months[period_month.month]" v-model="period_month.selected" :disable="period_month.filed" />
          </div>
        </div>
        <div class="row">
          <div v-for="(period_month, i) in period_year.months.slice(6)" :key="'month-' + i+6" class="col-2">
            <q-checkbox :label="months[period_month.month]" v-model="period_month.selected" :disable="period_month.filed" />
          </div>
        </div>
      </div>
    </div>
    <div class="q-ml-sm q-mb-sm q-mt-lg"><b>Are you exempt from filing monthly reports?</b> If you meet one or more of the exemptions described in <a href="https://app.leg.wa.gov/rcw/default.aspx?cite=42.17a.610" target="_blank">RCW 42.17A.610</a>, you can identify the months you are voluntarily registered but not required to file a monthly expense report. Select "Yes" and click each month for which you are exempt from reporting.</div>
    <q-field :disable="l1.period_year_months.length === 0" dense borderless :rules="[requireBoolean]" v-model="has_exemptions">
      <q-option-group inline v-model="has_exemptions" :options="yes_no" />
    </q-field>
  </q-form>
</template>
