<script setup>

  import {useFirmL1} from "src/l1";
  import {useAccessHub} from "src/AccessHub";
  import {computed, ref} from "vue";

  const {l1, validations} = await useFirmL1()
  const { accessHubUrl } = await useAccessHub()
  const firm = computed(() => l1.firm)

  const hasNoAgents = ref(false)
  const agentCertificationWarnings = ref([])

  validations.value.find( (x) => {
    if(x.hasOwnProperty("l1.agent.training_certified.invalid")) {
      agentCertificationWarnings.value.push(x["l1.agent.training_certified.invalid"])
    }
    if(x.hasOwnProperty("l1.agents.required")) {
      hasNoAgents.value = true
    }
  })

</script>

<template>
  <div v-if="agentCertificationWarnings" class="q-mb-xs">
    <template v-for="agentWarning in agentCertificationWarnings" :key="agentWarning" >
      <q-banner rounded class="bg-warning q-mb-xs">
        {{agentWarning}}
      </q-banner>
    </template>
  </div>
  <div v-if="hasNoAgents">
    <q-banner rounded class="bg-warning q-mb-xs">
      You have no agents registered for this time period.
    </q-banner>
  </div>
  <p>If the information below is not correct then <span style="color: red; font-weight: bold">STOP</span> and go no further until you
    <a :href="accessHubUrl(`node/${l1.firm.lobbyist_firm_id}/edit`)">update your profile information</a>.
    If all is correct, choose 'Next' at the bottom of this page.</p>
  <div>
    <div class="text-h4">{{firm.name}}</div>
    <div>
      {{firm.address.street}}<br/>
      {{firm.address.city}}, {{firm.address.state}} {{firm.address.postcode}}
    </div>
    <div>
      {{firm.email}}
    </div>
    <div>
      {{firm.phone}}
    </div>
  </div>
</template>

<style scoped>

</style>
