<script setup>
import {inject, ref} from "vue";
import {useFirmL1} from "src/l1";


const {l1, validations} = await useFirmL1()
const navigation = inject('navigation')
const hasNoAgents = ref(false)

const editPage = inject('l1-preview')


const agentCertificationWarnings = ref([])

function getWarnings() {
  const areas = [
    {section: "lobbyist_summary", label: "Firm", search: "l1.firm"},
    {section: "compensation", label: "Compensation", search: "l1.compensation"},
    {section: 'areas_of_interest', label: 'Employer areas of interest', search: 'l1.areas_of_interest', addIndex: true},
    {section: "expenses_and_reimbursement", label: "Expenses and reimbursement", search: "l1.expenses", addIndex: true},
    {section: "reportingPeriods", label: "Reporting periods", search: "l1.period_year_months"},
  ]

  validations.value.forEach((v) => {
    const key = Object.keys(v)[0]
    const a = areas.find(a => key.includes(a.search))
    if (a) {
      if (a.addIndex && !a.index) {
        a.index = parseInt(key.split('.')[2])
      }
      a.show = true;
    }
  })

  return areas.filter(w => !!w.show)
}

validations.value.find((x) => {
  if (x.hasOwnProperty("l1.agent.training_certified.invalid")) {
    agentCertificationWarnings.value.push(x["l1.agent.training_certified.invalid"])
  }
  if (x.hasOwnProperty("l1.agents.required")) {
    hasNoAgents.value = true
  }
})

function selectSection(area) {
  if (area.addIndex) {
    navigation.currentSection = {section: area.section, item: area.item, validate: true, index: area.index}
  } else {
    navigation.currentSection = {section: area.section, item: area.item, validate: true}
  }
}

const lobbyistSection = {section: "confirm_firm_contact", label: "Firm", search: "l1.firm"}

</script>

<template>
  <div v-if="validations.length > 0">
    <q-banner rounded class="bg-warning" v-if="l1.conversion_incomplete">
      <q-icon name="warning"/>
      This amendment was created from a report from a prior version of the lobbyist system. Because the way we ask for
      the information has changed significantly, you will need to re-enter information from the prior report manually.
      Data can be found by
      <router-link target="_blank" :to="{name: 'firm-l1', params: {submission_id: l1.amends}}">viewing the prior
        report
      </router-link>
      .
    </q-banner>
    <p>The following areas of your report still need work.</p>
    <div v-if="agentCertificationWarnings">
      <div v-for="agentWarning in agentCertificationWarnings" :key="agentWarning">
        <q-item clickable v-ripple @click="selectSection(lobbyistSection)">
          <q-item-section>
            <q-item-label>
              {{ agentWarning }}
            </q-item-label>
          </q-item-section>
          <span class="text-caption q-ml-lg" style="cursor: pointer;">
          <q-btn color="primary" rounded>Fix it</q-btn>
        </span>
        </q-item>
      </div>
    </div>
    <div v-if="hasNoAgents">
      <q-item clickable v-ripple @click="selectSection(lobbyistSection)">
        <q-item-section>
          <q-item-label>
            You have no agents registered for this time period.
          </q-item-label>
        </q-item-section>
        <span class="text-caption q-ml-lg" style="cursor: pointer;">
          <q-btn color="primary" rounded>Fix it</q-btn>
        </span>
      </q-item>
    </div>
    <div v-for="warning in getWarnings()" :key="`${warning.section}-${warning.item}`">
      <q-item clickable v-ripple @click="selectSection(warning)">
        <q-item-section>
          <q-item-label>{{ warning.label }} section is incomplete</q-item-label>
        </q-item-section>
        <span class="text-caption q-ml-lg" style="cursor: pointer;">
          <q-btn color="primary" rounded>Fix it</q-btn>
        </span>
      </q-item>
    </div>
  </div>
  <div v-else>
    <p class="print-hide">We have found no problems with your report</p>
    <q-btn label="Preview and Submit" color="primary" replace :to="{name: editPage}" icon="check"
           class="q-mr-md"/>
  </div>
</template>
