<script setup>
import {useRoute, useRouter} from "vue-router";
import {computed, provide, reactive, ref, watch} from "vue";
import {useClientL1} from "src/l1";
import L1Review from "pages/l1/wizard/L1Review.vue";
import EditReportingPeriods from "pages/l1/wizard/EditReportingPeriods.vue";
import EditExemptions from "pages/l1/wizard/EditExemptions.vue";
import EditCompensation from "pages/l1/wizard/EditCompensation.vue";

const route = useRoute()
const router = useRouter()
const draftId = ref(parseInt(route.params.draft_id))
const { l1, saveClientDraft, has_exemptions, getClientDraft } = await useClientL1()

await getClientDraft(draftId.value)

const title = computed(() => {
  return 'L1 ' + l1.period_start.toString().substring(0,4) + '-' + l1.period_end.toString().substring(0,4)
})

const sections = ref([
  {name: 'compensation', title: 'Compensation', component: () => EditCompensation},
  {name: 'reporting_periods', title: 'Reporting periods', component: () => EditReportingPeriods, items: [
      {name: 'exemptions', title: 'Exemptions', component: () => EditExemptions, limitTo: () => has_exemptions.value},
    ]},
  {name: 'review_l1', title: 'Review', component: () => L1Review},
])

provide('l1-wizard', sections)
provide('l1-preview', 'client-l1-preview')
const navigation = reactive( {currentSection: {
    section: route.query.section || null,
    item: route.query.item || null
  }})
provide('navigation', navigation)

watch(() => navigation.currentSection, () => {
  updateUrl(navigation.currentSection.section, navigation.currentSection.item)
})

function onNavigate(e) {
  updateUrl(e.section, e.item)
  saveClientDraft()
}

function updateUrl(section, item) {
  const newQuery = { ...route.query, section }
  if (item) {
    newQuery.item = item
  } else {
    delete newQuery.item
  }
  router.replace({ query: newQuery })
}

async function finishLater() {
  await saveClientDraft()
  await router.replace({name: 'client-dashboard'})
}

</script>

<template>
  <h3>Contract/employment registration for  {{l1.firm.name}}</h3>
  <p-wizard :sections="sections" :title="title" :data="l1" @navigate="onNavigate" :selected="navigation.currentSection" @finish-later="finishLater">
  </p-wizard>
</template>
