<script setup>
import {useClientL1} from "src/l1";
import {useRoute, useRouter} from "vue-router";
import rules from "@wapdc/pdc-ui/rules";
import {useApplication} from "@wapdc/pdc-ui/application";
import {useLobbyist} from "src/lobbyist";
import {ref} from "vue";
import L1ReportView from "pages/l1/L1ReportView.vue";
import {useAccessHub} from "src/AccessHub";

const lobbyistApi = (await useLobbyist()).lobbyistApi
const { accessHubUrl } = await useAccessHub()
const route = useRoute()
const router = useRouter()
const {user} = await useApplication()
const {l1, getClientDraft } = await useClientL1()

const draftId = ref(parseInt(route.params.draft_id?.toString()))
if (draftId.value) {
  await getClientDraft(draftId.value)
}

function print() {
  window.print()
}

const certify_dialog_is_open = ref(false)
const certify_signature = ref('')
const certification_text = "I certify under penalty of perjury under the laws of the State of Washington that I am authorized to sign on behalf of the lobbyist/firm named in this registration and that the information provided on this form is true, complete and correct to the best of my knowledge."

const return_dialog_is_open = ref(false)
const message = ref('')
const not_working_with_lobbyist = ref(false)

async function approveL1() {
  l1.approval.signature = certify_signature.value
  l1.approval.text = certification_text

  const res = await lobbyistApi.post(`/client/${l1.client.lobbyist_client_id}/l1/draft/${draftId.value}/certify`, {
    message: message.value,
    approval: l1.approval
  })

  if (res.success) {
    certify_dialog_is_open.value = false;
    await router.replace({name: 'client-dashboard'})
  }
}

async function rejectL1() {
  const res = await lobbyistApi.post(`/client/${l1.client.lobbyist_client_id}/l1/draft/${draftId.value}/return`, {
    message: message.value,
    not_working_with_lobbyist: not_working_with_lobbyist.value
  })

  if (res.draftId) {
    return_dialog_is_open.value = false
    await router.replace({ name: 'client-dashboard' })
  }
}
</script>

<template>
  <div class="row q-my-md print-hide">
    <q-btn label="Certify" v-if="!l1.approval?.signature" color="primary" @click="certify_dialog_is_open = true" icon="check" class="q-mr-md" />
    <q-btn label="Edit" color="secondary" class="q-mr-md" :to="{name: 'client-edit-l1'}" />
    <q-btn label="Return" color="secondary" @click="return_dialog_is_open = true" icon="check" class="q-mr-md" />
    <q-btn label="Print" icon="print" class="q-mr-md" color="primary" outline @click="print"/>
  </div>
  <q-banner v-if="!l1.certification?.signature" class="bg-warning q-mb-sm">
    <q-icon name="warning"/>
    The employment contract registration (L1) has been altered and needs to be certified by the lobbyist. <span v-if="!l1.approval?.signature">You can still certify this draft and the registration
    will be submitted when the lobbyist certifies.</span>
  </q-banner>
  <q-banner v-if="l1.revision_message && l1.revision_message.user_name && l1.revision_message.message" rounded class="bg-warning q-mb-md">
    <q-icon name="warning"/>
    {{ l1.revision_message.user_name + " : " + l1.revision_message.message }}
  </q-banner>
  <q-banner v-else rounded class="bg-warning q-mb-md">
    <q-icon name="warning"/>
    If your contact information below is not correct then <span style="color: red; font-weight: bold">STOP</span> and go no further until you
    <a :href="accessHubUrl(`node/${l1.client.lobbyist_client_id}/edit`)">update your profile information</a>.
  </q-banner>
  <l1-report-view :l1="l1" :draft="true"/>

  <q-dialog persistent v-model="certify_dialog_is_open">
    <q-card>
      <q-form @submit="approveL1">
        <q-card-section>
          <div class="text-h6 q-mb-md">Certify</div>
          <div v-if="!l1.certification?.signature">
            <p>The lobbyist has not yet approved the document with the latest changes.
              Indicate a message to the lobbyist to let them know about changes (if any) you have made.
            </p>
            <q-input
              lazy-rules
              label="Message"
              v-model="message"
              :rules="[rules.required]"
            />
          </div>
          <p v-else>
            This report has been certified by the lobbyist. Certify this registration to submit to the PDC.
          </p>
          <p>By typing <strong>I certify</strong> on the line below, {{certification_text}}</p>
          <q-input
            lazy-rules
            label="Type here"
            v-model="certify_signature"
            :rules="[rules.required, rules.validCertificationStatement]"
          />
          <div v-if="user.name" class="q-mb-md">By {{ user.name }}</div>
          <div v-else class="q-mb-md">Please update your profile to certify.</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Certify" type="submit" color="primary" :disabled="!user.name"/>
          <q-btn flat label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog persistent v-model="return_dialog_is_open">
    <q-card>
      <q-form @submit="rejectL1">
        <q-card-section>
          <div class="text-h6 q-mb-md">Return employment/client contract registration to lobbyist</div>
          <p>Returning the contract will send a message to the lobbyist indicating that this contract needs correction.Alternatively,you could cancel the return,correct the contract using the edit button
          and submit and certify the revised contract registration.</p>
          <p>Send a message to the lobbyist indicating the reason this contract is being returned.</p>
          <q-input
            lazy-rules
            label="Message to lobbyist:"
            v-model="message"
            :rules="[rules.required]"
          />
          <div class="text-h6 q-mb-md">Not your employment contract?</div>
          <q-checkbox label="I am not working with this lobbyist.Remove from my contracts to approve." v-model="not_working_with_lobbyist" />
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Return" type="submit" color="primary" :disabled="!message"/>
          <q-btn flat label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<style scoped>
@media print {
  .firm-heading {
    display: none;
  }
}
</style>

