<script setup>
import {useFirm} from "src/firm";
import {useRoute, useRouter} from "vue-router";
import {computed, provide, reactive, ref, watch} from "vue";
import {useLobbyist} from "src/lobbyist";
import {useFirmL1} from "src/l1";
import FirmInfo from "pages/l1/wizard/FirmInfo.vue";
import L1Review from "pages/l1/wizard/L1Review.vue";
import EditReportingPeriods from "pages/l1/wizard/EditReportingPeriods.vue";
import EditExemptions from "pages/l1/wizard/EditExemptions.vue";
import EditCompensation from "pages/l1/wizard/EditCompensation.vue";
import EditEmployerAreasOfInterest from "pages/l1/wizard/EditEmployerAreasOfInterest.vue";
import EditExpensesAndReimbursement from "pages/l1/wizard/EditExpensesAndReimbursement.vue";

const route = useRoute()
const router = useRouter()
const firm = await useFirm()
const lobbyistApi = (await useLobbyist()).lobbyistApi
const draftId = ref(parseInt(route.params.draft_id))
const { l1, getFirmDraft, saveDraft, has_exemptions } = await useFirmL1()

await getFirmDraft(draftId.value)

const title = computed(() => {
  return 'L1 ' + l1.period_start.toString().substring(0,4) + '-' + l1.period_end.toString().substring(0,4)
})

const sections = ref([
  {name: 'confirm_firm_contact', title: 'Lobbyist', component: () => FirmInfo},
  {name: 'compensation', title: 'Compensation', component: () => EditCompensation},
  {name: 'areas_of_interest', title: 'Areas of interest', data: 'areas_of_interest', component: () => EditEmployerAreasOfInterest},
  {name: 'expenses_and_reimbursement', title: 'Expenses and reimbursement', component: () => EditExpensesAndReimbursement},
  {name: 'reporting_periods', title: 'Reporting periods', component: () => EditReportingPeriods, items: [
      {name: 'exemptions', title: 'Exemptions', component: () => EditExemptions, limitTo: () => has_exemptions.value},
    ]},
  {name: 'review_l1', title: 'Review', component: () => L1Review},
])

provide('l1-wizard', sections)
provide('l1-preview', 'firm-l1-preview')
const navigation = reactive( {currentSection: {
  section: route.query.section || null,
  item: route.query.item || null
}})
provide('navigation', navigation)

watch(() => navigation.currentSection, () => {
  updateUrl(navigation.currentSection.section, navigation.currentSection.item)
})

function onNavigate(e) {
  updateUrl(e.section, e.item)
  saveDraft()
}

function updateUrl(section, item) {
  const newQuery = { ...route.query, section }
  if (item) {
    newQuery.item = item
  } else {
    delete newQuery.item
  }
  router.replace({ query: newQuery })
}

async function finishLater() {
  await saveDraft()
  await router.replace({name: 'firm-dashboard'})
}

const showReportDraftDialog = ref(false)

async function discardDraft() {
  const response = await lobbyistApi.delete(`/firm/${firm.firm.lobbyist_firm_id}/l1/draft/${draftId.value}`)
  if (response) {
    showReportDraftDialog.value = false
    await router.replace({name: 'firm-dashboard'})
  }
}

</script>

<template>
  <q-dialog v-model="showReportDraftDialog">
    <q-card>
      <q-card-section>
        You are editing a draft copy of this report.  Would you like to discard it?
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Discard" color="negative" @click="discardDraft" />
        <q-btn label="Cancel" @click="showReportDraftDialog=false" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <h3>Employed/contracted by {{l1.client.name}}</h3>
  <p-wizard :sections="sections" :title="title" :data="l1" @navigate="onNavigate" :selected="navigation.currentSection" @finish-later="finishLater">
    <template v-slot:actions>
      <q-btn rounded style="text-decoration: underline" no-caps flat label="Delete & start over" @click="showReportDraftDialog=true" ripple/>
    </template>
  </p-wizard>
</template>
