<script setup>
import {ref} from 'vue'
import {useLobbyist} from "src/lobbyist"
import {useRoute} from "vue-router"
import {formatDateTime} from "@wapdc/pdc-ui/util"

const route = useRoute()
const {lobbyistApi} = await useLobbyist()
const client_id = route.params.client_id
const LogsList = ref([])
const pagination = ref({
  page: 1,
  rowsPerPage: 10
})

async function getActivityLogsByClientId() {
  const result = await lobbyistApi.get(`/client/${client_id}/l1/activity-log`)
  if (result) {
    LogsList.value = result
  }
}
await getActivityLogsByClientId()

</script>

<template>
  <div>
    <h3>Client/Employer Activity Log</h3>
    <p-search-rows v-if="LogsList"
                   :rows="LogsList"
                   :searchKeys="['firm_name','client_name','message','action']"
                   class="q-pb-md">
      <template v-slot:results="{results}">
        <q-table
          ref="qTable"
          :rows="results"
          :columns="[
                      { name: 'updated_at', label:'Date', field: 'updated_at', align: 'left',sortable: true, format: formatDateTime},
                      { name: 'firm_name', label:'Firm', field: 'firm_name', align: 'left',sortable: true},
                      { name: 'action', label:'Action', field: 'action', align: 'left',sortable: true},
                      { name: 'message', label:'Message', field: 'message', align: 'left',sortable: true}
                     ]"
          :rows-per-page-options="[10, 20, 50, 100]"
          v-model:pagination="pagination"
        >
        </q-table>
      </template>
    </p-search-rows>
  </div>
</template>
