<script setup>
import {useFirmL1} from "src/l1";
import {useRoute, useRouter} from "vue-router";
import rules from "@wapdc/pdc-ui/rules";
import {useApplication} from "@wapdc/pdc-ui/application";
import {useLobbyist} from "src/lobbyist";
import {ref} from "vue";
import L1ReportView from "pages/l1/L1ReportView.vue";

const lobbyistApi = (await useLobbyist()).lobbyistApi
const route = useRoute()
const router = useRouter()
const {user} = await useApplication()
const {l1, has_been_approved, getFirmDraft } = await useFirmL1()

const draftId = ref(parseInt(route.params.draft_id?.toString()))
if (draftId.value) {
  await getFirmDraft(draftId.value)
}

function print() {
  window.print()
}

const certify_dialog_is_open = ref(false)
const message = ref('')
const certify_signature = ref('')
const certification_text = "I certify under penalty of perjury under the laws of the State of Washington that I am authorized to sign on behalf of the lobbyist/firm named in this registration and that the information provided on this form is true, complete and correct to the best of my knowledge."

async function submitL1() {
  l1.certification.signature = certify_signature.value
  l1.certification.text = certification_text

  const res = await lobbyistApi.post(`/firm/${l1.firm.lobbyist_firm_id}/l1/draft/${draftId.value}/certify`, {
    message: message.value,
    certification: l1.certification
  })

  if (res.success) {
    certify_dialog_is_open.value = false;
    await router.replace({name: 'firm-dashboard'})
  }
}

</script>

<template>
  <div class="row q-mb-md print-hide">
    <q-btn v-if="!l1.certification?.signature" label="Certify" color="primary" @click="certify_dialog_is_open = true" icon="check" class="q-mr-md" />
    <q-btn label="Edit" color="secondary" :to="{name: 'edit-l1'}"  replace icon="edit" class="q-mr-md" />
    <q-btn label="Print" icon="print" class="q-mr-md" color="primary" outline @click="print"/>
  </div>
  <q-banner v-if="has_been_approved && !l1.approval?.signature" class="bg-warning q-mb-sm">
    The employment contract registration (L1) has been altered and needs to be certified by the
    <span v-if="l1.contractor?.contractor_id">lobbyist who hired you</span><span v-else>lobbyist client/employer</span>.
    <span v-if="!l1.certification?.signature">You can still certify this draft and the registration
    will be submitted when certified by the <template v-if="l1.contractor?.contractor_id">lobbyist who hired you</template><template v-else>lobbyist client/employer</template>.</span>
  </q-banner>
  <q-banner v-if="l1.revision_message?.message" rounded  class="bg-warning q-mb-sm">
    <q-icon name="warning"/>
    {{ l1.revision_message.user_name + " : " + l1.revision_message.message }}<br/>
  </q-banner>

  <l1-report-view :l1="l1" :draft="true"/>

  <q-dialog persistent v-model="certify_dialog_is_open">
    <q-card>
      <q-form @submit="submitL1">
        <q-card-section>
          <div class="text-h6 q-mb-md">Certify</div>
          <div v-if="!l1.approval?.signature && has_been_approved">
            <p>The <span v-if="l1.contractor?.contractor_id">lobbyist who hired you</span><span v-else>lobbyist client/employer</span> has not yet approved the document with the latest changes.
              Indicate a message to the <span v-if="l1.contractor?.contractor_id"> lobbyist who hired you</span><span v-else>lobbyist client/employer</span> to let them know about changes (if any) you have made.
            </p>
            <q-input
              lazy-rules
              label="Message"
              v-model="message"
              :rules="[rules.required]"
            />
          </div>
          <p v-else>
            This report has been certified by the lobbyist client/employer. Certify this registration to submit to the PDC.
          </p>
          <p>By typing <strong>I certify</strong> on the line below, {{certification_text}}</p>
          <q-input
            lazy-rules
            label="Type here"
            v-model="certify_signature"
            :rules="[rules.required, rules.validCertificationStatement]"
          />
          <div v-if="user.name" class="q-mb-md">By {{ user.name }}</div>
          <div v-else class="q-mb-md">Please update your profile to certify.</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Certify" type="submit" color="primary" :disabled="!user.name"/>
          <q-btn flat label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<style scoped>
@media print {
  .firm-heading {
    display: none;
  }
}
</style>
