<script setup>
import { computed, ref } from 'vue'
import { formatMoney, formatPhone } from 'src/utils'
import GreenPDCLogo from 'assets/GreenPDCLogo.vue'

const props = defineProps({
  draft: {type: Boolean, default: false},
  l1: {type: Object},
  firmProfileView: {type: Object}
})

const firm = computed(() => props.l1?.firm ?? {})
const client = computed(() => props.l1?.client ?? {})
const contractor = computed(() => props.l1?.contractor ?? {})

const months = ref(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

function getIcon(year, month_index) {
  const year_month = `${year}-${(month_index + 1).toString().padStart(2, '0')}`
  const found_year_month = props.l1.period_year_months.find(period_year_month => period_year_month.year_month === year_month)
  if (! found_year_month) {
    return {name: "remove", color: "grey"}
  }
  if (found_year_month.exempt) {
    return {name: "remove_circle", color: "grey"}
  }
  return {name: "check_circle", color: "primary"}
}

function getYears() {
  return [... new Set(props.l1?.period_year_months.map(period_year_month => period_year_month.year_month.slice(0, 4)))]
}

function formatBiennium() {
  if (props.l1) {
    return props.l1?.period_start?.substring(0, 4) + "-" + props?.l1?.period_end?.substring(0, 4)
  }
}
</script>

<template>
  <p-draft-watermark v-if="props.draft" />
  <green-p-d-c-logo/>
  <div class="row q-my-md">
    <div class="col-4 small-text">
      <div>711 Capitol Way Suite 206</div>
      <div>PO Box 40908 Olympia, WA 98504-0908</div>
      <div>(360) 753-1111</div>
      <div>Toll Free 1-800-601-2828</div>
    </div>
    <div class="col-8">
      <h2 class="q-mt-none">Lobbyist Registration (L1)</h2>
      <div class="small-text">
        Covering years: {{ formatBiennium() }}
      </div>
    </div>
  </div>
  <q-separator/>
  <div class="row q-mb-md">
    <div class="col-4">
      <h3>Lobbyist</h3>
      <div v-if="!firmProfileView">
        <div class="text-h5">{{ firm.name }}</div>
        <div>{{ firm.address.street }}</div>
        <div>{{ firm.address.city }}, {{ firm.address.state }} {{ firm.address.postcode }}</div>
        <div>{{ firm.address.country }}</div>
        <div v-if="firm.phone">{{ formatPhone(firm.phone) }}</div>
      </div>
      <div v-else>
        <h5><router-link :to="firmProfileView">{{firm.name}}</router-link></h5>
      </div>
    </div>
    <div class="col-8">
      <h3>Employed/contracted through</h3>
      <div class="text-h5">{{ client.name }} <span v-if="contractor?.name">contracted through {{ contractor.name }}</span> </div>
      <div>{{ client.address.street }}</div>
      <div>{{ client.address.city }}, {{ client.address.state }} {{ client.address.postcode }}</div>
      <div>{{ client.address.country }}</div>
      <div v-if="client.phone">{{ formatPhone(client.phone) }}</div>
    </div>
  </div>
  <q-separator/>
  <div class="q-my-md">
    <div class="q-table__title">Compensation and Employment</div>
    <div class="q-my-sm">Compensation: {{ formatMoney(l1.compensation.amount) }}
      <span v-if="l1.compensation.period !== 'Other'">{{ l1.compensation.period.toLowerCase() }}</span>
    </div>
    <div v-if="l1.compensation.period === 'Other'">
      {{ l1.compensation.period }} : {{ l1.compensation.other }}
    </div>
    <div>Type of Employment:</div>
    <ul v-for="type in l1.compensation.description" :key="type">
      <li>{{ type }}</li>
    </ul>
  </div>
  <q-separator/>
  <div class="q-my-md">
    <span class="q-table__title">
      Employer areas of interest
    </span>
    <ul v-for="item in l1.areas_of_interest" :key="item">
      <li>{{ item }}</li>
    </ul>
  </div>
  <q-separator/>
  <div class="q-my-md">
    <span class="q-table__title">
      Expenses and reimbursements
    </span>
    <div v-if="l1.expenses">
      <div>
        <div class="q-my-sm" v-if="l1.expenses.has_agreement">The lobbyist has a reimbursement agreement with the client for {{ formatMoney(l1.expenses.amount) }}
          <span v-if="l1.expenses.period !== null">{{ l1.expenses.period.toLowerCase() }}</span>
        </div>
        <div v-else>The lobbyist does not have a reimbursement agreement with the client</div>
        <div class="q-my-sm" v-if="l1.expenses.incidentals">The lobbyist is reimbursed for incidental lobbying expenses
        </div>
        <div class="q-my-sm" v-else>The lobbyist is not reimbursed for incidental lobbying expenses
        </div>
        <div class="q-my-sm"  v-if="l1.expenses.pay_directly">This client (employer) pays some or all lobbying expenses directly:
          <span  v-if="l1.expenses.explanation">{{l1.expenses.explanation }}
          </span>
        </div>
        <div v-else>This client (employer) does not directly pay for lobbying expenses </div>
      </div>
    </div>
  </div>

  <q-separator/>
  <div class="q-table__title q-my-md">Reporting periods</div>
  <div v-if="l1.period_year_months.length">
    <div v-if="$q.screen.lt.sm">
      <q-card>
        <q-card-section>
          <div v-for="year in getYears(l1.period_year_months)" :key="year">
            <div v-for="(month, index) in months" :key="`month-label-${index}`">
              <div class="row">
                <div class="col-2">
                  {{ year }}
                </div>
                <div class="col-2">
                  {{ month }}
                </div>
                <div class="col-8">
                  <q-icon v-bind="getIcon(year, index)" />
                </div>
              </div>
            </div>
          </div>
          <p class="q-mt-md">Legend:</p>
          <div><q-icon name="check_circle" color="primary"/> Lobbying during this period.</div>
          <div><q-icon name="remove_circle" color="grey"/> Exempt from reporting during this period.</div>
          <div><q-icon name="remove" color="grey"/> Not lobbying during this period.</div>
        </q-card-section>
      </q-card>
    </div>
    <div v-else>
      <q-card>
        <q-card-section>
          <div class="row">
            <div class="col">Year</div>
            <div class="col" v-for="(month, index) in months" :key="`month-label-${index}`">
              {{ month }}
            </div>
          </div>
          <div class="row" v-for="year in getYears(l1.period_year_months)" :key="year">
            <div class="col">{{ year }}</div>
            <div class="col" v-for="(month, index) in months" :key="`month-value-${index}`">
              <q-icon v-bind="getIcon(year, index)" />
            </div>
          </div>
          <p class="q-mt-md">Legend:</p>
          <div><q-icon name="check_circle" color="primary"/> Lobbying during this period.</div>
          <div><q-icon name="remove_circle" color="grey"/> Exempt from reporting during this period.</div>
          <div><q-icon name="remove" color="grey"/> Not lobbying during this period.</div>
        </q-card-section>
      </q-card>
    </div>
  </div>
  <div class="q-my-md" v-else>No reporting period months were reported</div>


</template>
