<script setup>
import {reactive, ref} from 'vue'
import {useLobbyist} from "src/lobbyist"
const {lobbyistApi} = await useLobbyist()
import {useRoute, useRouter} from "vue-router"
const route = useRoute()
const router = useRouter()
import {useAccessHub} from "src/AccessHub"
const {accessHubUrl} = await useAccessHub()

const l1 = reactive({})
const showHistoryDialog = ref(false)
const showAmendDialog = ref(false)

const submission_id = route.params.submission_id
const firm_id = Number(route.params.firm_id)
const client_id = route.params.client_id

import LegacyL1 from '../l1/LegacyL1.vue'
import L1ReportView from "../l1/L1ReportView.vue"
import ContractRegistrationHistory from "components/ContractRegistrationHistory.vue"
import {useApplication} from "@wapdc/pdc-ui/application"
const {userHasPermission} = await useApplication()
const allowL1 = ref(userHasPermission('lobbyist file l1'))
const firmProfileLink = ref()

async function getL1() {
  const result =
    firm_id ? await lobbyistApi.get(`/firm/${firm_id}/l1/${submission_id}`)
      : client_id ? await lobbyistApi.get(`/client/${client_id}/l1/${submission_id}`)
        : null
  if (result) {
    Object.assign(l1, result)
    if (l1.firm_profile_submission_id)
    firmProfileLink.value = {
      name: 'firm-profile-view',
      params: {submission_id: l1.firm_profile_submission_id}
    }
  }
}

getL1()

async function confirmAmend() {
  const response = await lobbyistApi.post(`/firm/${firm_id}/l1/${submission_id}/amendment`)
  if (response) {
    showAmendDialog.value = false
    await router.push({name: 'edit-l1', params: {draft_id: response}})
  }
}

function amendAccesshubReport(report_id) {
  return accessHubUrl(`/node/` + report_id + `/edit`)
}

function doPrint() {
  window.print()
}
</script>

<template>
  <div class="q-mb-md print-hide">
    <span v-if="l1.lobbyist_firm_id === firm_id">
      <q-btn v-if="allowL1" class="q-mr-sm" @click="showAmendDialog = true" small color="primary">Amend</q-btn>
      <q-btn v-else class="q-mr-sm" :href="amendAccesshubReport(l1.lobbyist_contract_id)" small color="primary">Amend</q-btn>
    </span>
    <q-btn @click="doPrint()" class="q-mr-sm" label="Print" icon="print"/>
    <q-btn icon="history" label="Report history" @click="showHistoryDialog = true"/>
  </div>
  <div v-if="l1.version">
    <contract-registration-history v-if="firm_id || client_id"
                                   v-model:showDialog="showHistoryDialog"
                                   :firm_id="Number(firm_id)"
                                   :client_id="Number(client_id)"
                                   :current_submission="Number(submission_id)"/>
    <legacy-l1 v-if="parseFloat(l1.version) < 2.0" :l1="l1.user_data"></legacy-l1>
    <l1-report-view :firm-profile-view="firmProfileLink" v-else :l1="l1.user_data" :draft="false"></l1-report-view>
  </div>
  <q-dialog v-model="showAmendDialog">
    <q-card>
      <q-card-section>
        <div class="text-h6 q-mb-md">Confirm Amendment</div>
        <div>Are you sure you want to amend this report?</div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn v-close-popup> No</q-btn>
        <q-btn color="primary" @click="confirmAmend()"> Yes</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

