<script setup>
import {ref} from "vue"
import moment from "moment/moment"
import {formatMoney} from "@wapdc/pdc-ui/util"

import GreenPDCLogo from "assets/GreenPDCLogo.vue"
const user_data = ref(null)
const filing_periods = ref(null)

const props = defineProps(
  {
    l1: {type:Object}
  }
)

const employment_description = ref([])
const employment_interest_areas = ref([])

function getL1Values() {
  if (props.l1) {
    user_data.value = props.l1;
    filing_periods.value = user_data.value.select_your_filing_periods

    //preprocessing the record can return it as an object instead of an array, so we need to tackle both cases.
    if(Array.isArray(user_data.value.description_of_employment)) {
      user_data.value.description_of_employment.forEach((description) => {
        employment_description.value.push(description.name)
      })
    } else {
      employment_description.value.push(user_data.value.description_of_employment.name)
    }
    if(Array.isArray(user_data.value.employer_area_of_interests)) {
      user_data.value.employer_area_of_interests.forEach((interest) => {
        employment_interest_areas.value.push(interest.name)
      })
    } else {
      employment_interest_areas.value.push(user_data.value.employer_area_of_interests.name)
    }
  }
}

getL1Values();
function formatUnixToLongDateTime(date) {
  return moment.unix(date).format('LL h:mm a')
}

function formatCompensationPeriod(value) {
  const values = {
    hourly: "Per Hour",
    day: "Per Day",
    month: "Per Month",
    year: "Per Year"
  }
  if (value) {
    return values[value]
  }
  return ""
}

function formatLobbyingLength(value) {
  const values = {
    permanent: "Permanent lobbyist",
    session: "Only during legislative session",
    other: "Other"
  }
  if (value) {
    return values[value]
  }
  return ""
}

const monthArray = ref([
    {"index": 1, name: "Jan"},
    {"index": 2, name: "Feb"},
    {"index": 3, name: "Mar"},
    {"index": 4, name: "Apr"},
    {"index": 5, name: "May"},
    {"index": 6, name: "Jun"},
    {"index": 7, name: "Jul"},
    {"index": 8, name: "Aug"},
    {"index": 9, name: "Sep"},
    {"index": 10, name: "Oct"},
    {"index": 11, name: "Nov"},
    {"index": 12, name: "Dec"}])


/**
 * Generate a range of years that always lands on a biennium boundary given the
 * selected years in an employment contract.
 */
function getYears(data) {
  let minYear = Infinity
  let maxYear = -Infinity

  for (const item of data) {
    const year = new Date(item.value).getFullYear()
    minYear = Math.min(minYear, year)
    maxYear = Math.max(maxYear, year)
  }

  if (minYear % 2 === 0) {
    minYear--
  }

  if (maxYear % 2 !== 0) {
    maxYear++
  }

  return Array.from({length: maxYear - minYear + 1}, (_, i) => minYear + i)
}

function getIcon(year, month) {
  const date = `${year}-${month.toString().padStart(2, '0')}`
  const selected = user_data.value.select_your_filing_periods ? user_data.value.select_your_filing_periods.find(item => item.value.slice(0, 7) === date) : false
  if (selected) {
    const excluded = user_data.value.exemption_periods ? user_data.value.exemption_periods.find(item => item.value.slice(0, 7) === date) : false
    if (excluded) {
      return {name: "remove_circle", color: "grey"}
    }
    return {name: "check_circle", color: "primary"}
  }
  return {name: "remove", color: "grey"}
}

</script>
<template>
  <div v-if="user_data">
    <green-p-d-c-logo/>
    <div class="row q-my-md">
      <div class="col-4 small-text">
        <div>711 Capitol Way Suite 206</div>
        <div>PO Box 40908 Olympia, WA 98504-0908</div>
        <div>(360) 753-1111</div>
        <div>Toll Free 1-800-601-2828</div>
      </div>
      <div class="col-8">
        <h2 class="q-mt-none">Lobbyist Registration (L1)</h2>
      </div>
    </div>
    <q-separator/>
    <q-card class="q-mb-md">
      <q-card-section>
        <div class="text-h2">Lobbyist registration of employment</div>
        <h3>Lobbyist: {{ user_data.firm }}</h3>
        <h3>Employed/contracted through: {{ user_data.employer }}</h3>
        <h4 v-if="user_data.contractor">Contracted through: {{ user_data.contractor }}</h4>
        <div>Filed: {{ formatUnixToLongDateTime(user_data.revision_timestamp) }}</div>
      </q-card-section>
    </q-card>
    <q-card class="q-mb-md">
      <q-card-section>
        <div class="text-h3">Compensation and employment</div>
        <h4>Compensation.</h4>
        <p>{{ formatMoney(user_data.lob_compensation_amount) }} {{ formatCompensationPeriod(user_data.lob_compensation_period) }}</p>
        <h4>Type of employment.</h4>
        <ul v-if="user_data.description_of_employment">
          <li v-for="description in employment_description" :key="description">{{ description }}</li>
        </ul>
        <h4>Client area(s) of interest.</h4>
        <ul v-if="user_data.employer_area_of_interests">
          <li v-for="interest in employment_interest_areas" :key="interest">{{ interest }}</li>
        </ul>
        <h4>Expected lobbying term.</h4>
        <p>{{ formatLobbyingLength(user_data.lobbying_length) }}</p>
        <div v-if="user_data.lobbying_length==='other'">
          <p><strong>Explanation of "Other":</strong></p>
          <pre>{{ user_data.lobbying_length_explain }}</pre>
        </div>
      </q-card-section>
    </q-card>

    <q-card class="q-mb-md">
      <q-card-section>
        <div class="text-h3">Expenses and reimbursement</div>
        <h4>Reimbursement agreement</h4>
        <p v-if="user_data.have_reimbursement_agreeme === '1'">This lobbyist has an ongoing reimbursement agreement for
          <strong>{{ formatMoney(user_data.amount_of_reimbursement) }}</strong></p>
        <p v-else>This Lobbyist does not have an ongoing reimbursement agreement with the client.</p>
        <h4>Incidental expenses.</h4>
        <p v-if="user_data.are_you_reimbursed_for_lob">This Lobbyist is reimbursed for incidental lobbying expenses.</p>
        <p v-else>This Lobbyist is not reimbursed for incidental lobbying expenses.</p>
        <h4>Paid lobbying expenses.</h4>
        <div v-if="user_data.emp_expense_pay_chkbox === 'yes'">
          <p>This client (employer) directly pays for some lobbying expenses.</p>
          <p><strong>Description of expenses paid:</strong></p>
          <pre>{{ user_data.emp_explain_pay }}</pre>
        </div>
        <p v-else>
          This client (employer) does not directly pay for lobbying expenses.
        </p>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="text-h3 q-mb-md">Reporting periods</div>
        <div class="row">
          <div class="col">
            Year
          </div>

          <div class="col" v-for="month in monthArray" :key="month.index">
            {{ month.name }}
          </div>
        </div>
        <div class="row" v-for="year in getYears(filing_periods)" :key="year">
          <div class="col">{{ year }}</div>
          <div class="col" v-for="month in monthArray" :key="`m-${month.index}`">
            <q-icon v-bind="getIcon(year,  month.index)"></q-icon>
          </div>
        </div>
        <p class="q-mt-md">Legend:</p>
        <div>
          <q-icon name="check_circle" color="primary"/>
          Lobbying during this period.
        </div>
        <div>
          <q-icon name="remove_circle" color="grey"/>
          Exempt from reporting during this period.
        </div>
        <div>
          <q-icon name="remove" color="grey"/>
          Not lobbying during this period.
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<style scoped>

</style>
