<script setup>
import { notifyErrorWithReason } from 'src/utils'
import { getRecords } from 'src/socrata'
import { useRoute } from 'vue-router'
import { reactive } from "vue"
import LegacyL1 from "pages/l1/LegacyL1.vue"
import L1ReportView from "pages/l1/L1ReportView.vue"
import moment from 'moment/moment'

const route = useRoute()
const l1 = reactive({})
const arrayFields = [
  'field_amount_of_reimbursement',
  'field_are_you_reimbursed_for_lob',
  'field_authorization_date',
  'field_certification_date',
  'field_compensation_label',
  'field_description_of_employment',
  'field_emp_expense_pay_chkbox',
  'field_emp_explain_pay',
  'field_employer_area_of_interests',
  'field_employer_autorization',
  'field_employer_entity_reference',
  'field_employer_or_subcontracting',
  'field_firm_entity_reference',
  'field_firm_i_certify',
  'field_firm_that_is_employing_you',
  'field_have_reimbursement_agreeme',
  'field_lob_compensation_amount',
  'field_lob_compensation_period',
  'field_lobbying_length',
  'field_lobbying_length_explain',
  'field_lobbyist_compen_other',
  'field_per_period',
  'field_select_your_filing_periods',
  'og_group_ref',
  'field_legacy_l1',
  'field_legacy_l1_text',
  'field_paper_l1',
  'field_authorization_text',
  'field_certification_text',
  'field_exemption_periods',
]

// created
await loadReport(route.params.submission_id)

function print() {
  window.print()
}

function l1submissionData() {
  if (l1.report_data) {
    l1.user_data = JSON.parse(l1.report_data)
  }
  l1.period_start = convertDate(l1.report_from)
  l1.period_end = convertDate(l1.report_through)
  l1.submitted_at = l1.receipt_date

  if (parseFloat(l1.version) < 2.0) {
    l1.user_data = preProccessLegacyRecord(l1.user_data)
  }
}

function preProccessLegacyRecord(originalRecord) {
  let formattedRecord = {};
  let oRecord = JSON.parse(JSON.stringify(originalRecord));
  if (originalRecord.sources) {
    formattedRecord.sources = originalRecord.sources;
  }
  if (typeof oRecord === 'object') {
    for (const [key, value] of Object.entries(oRecord)) {
      let readableKey = getReadableKey(key);
      formattedRecord[readableKey] = getValue(key, value);
      if (Array.isArray(formattedRecord[readableKey])) {
        for (let i = 0; i < formattedRecord[readableKey].length; i++) {
          formattedRecord[readableKey][i] = preProccessLegacyRecord(formattedRecord[readableKey][i]);
        }
      } else if (formattedRecord[readableKey] && typeof (formattedRecord[readableKey]) === 'object') {
        if (formattedRecord[readableKey].hasOwnProperty('value')) {
          formattedRecord[readableKey] = formattedRecord[readableKey].value;
        } else {
          formattedRecord[readableKey] = preProccessLegacyRecord(formattedRecord[readableKey]);
        }
      }
    }
  }
  return formattedRecord;
}

function getValue(current_field, current_value) {
  // helper function
  function getInnerValue(current_value, is_array_field) {
    const inner_value = current_value['und'][0]
    // If it's an object with a single key "value", return the value directly
    if (inner_value && typeof inner_value === 'object' && Object.keys(inner_value).length === 1 && current_value['und'].length === 1) {
      if (inner_value['value']) {
        return inner_value['value']
      }
      if (inner_value['safe_value']) {
        return inner_value['safe_value']
      }
      if (inner_value['target_id']) {
        return parseInt(inner_value['target_id'])
      }
    }
    // default case
    return Boolean(is_array_field) ? current_value['und'] : inner_value
  }

  // Extract the value directly if it's a single object inside an array
  if (current_value && current_value['und'] && Array.isArray(current_value['und']) && current_value['und'].length > 0) {
    if (arrayFields.includes(current_field)) {
      return getInnerValue(current_value, true)
    }
    // if not an array field but has a value
    if (current_value['und'][0]) {
      return getInnerValue(current_value, false)
    }
    return null
  }
  return current_value
}

function getReadableKey(key) {
  let readableKey = JSON.parse(JSON.stringify(key)).replace("__", "_");
  readableKey = readableKey.replace("field_", "");
  readableKey.replace("select_", "");
  readableKey.replace("_chbx", "");
  readableKey.replace(/__/g, "_");
  return readableKey;
}

function convertDate(date) {
  if (date) {
    return new moment(date).format('YYYY-MM-DD')
  }
  return null
}

async function loadReport(submission_id) {
  if (! submission_id) {
    notifyErrorWithReason('Report not found')
    return
  }

  let res = await getRecords('Lobbyist_reporting_history', `select * where id='${submission_id}'`)

  if (res.data.length !== 1) {
    notifyErrorWithReason('Report not found')
    return
  }

  Object.assign(l1, res.data[0])
  l1submissionData()
}

</script>
<template>
  <q-btn class="q-mr-sm q-mb-sm print-hide" label="Print" color="primary" icon="print" @click="print" />
  <legacy-l1 v-if="parseFloat(l1.version) < 2.0" :l1="l1.user_data" type="Public" />
  <l1-report-view v-else :l1="l1.user_data" :draft="false" />
</template>
