<script setup>
  import { ref } from 'vue'
  import { useL7 } from 'src/l7'
  import rules from "../../rules"
  import { useRoute, useRouter } from 'vue-router'


  const { l7_report, saveL7ToSessionStorage, loadLobbyistIntoL7, clearL7, retrieveL7FromSessionStorage } = useL7()
  const route = useRoute()
  const router = useRouter()
  const dialogConfirmCancel = ref(false)
  const target_type = route.name.includes('firm') ? 'firm' : 'client'
  const target_id = target_type === 'firm'? route.params.firm_id : route.params.client_id

  retrieveL7FromSessionStorage()

  // created
  await loadLobbyistIntoL7(target_type)


  function onSubmit() {
    saveL7ToSessionStorage()
    router.push(`/${target_type}/${target_id}/preview-l7`)
  }

  function onCancel() {
    clearL7()
    router.push(`/${target_type}/${target_id}`)
  }

</script>
<template>
  <div>
    <h2>L7 - Employment of Legislators and State Officials</h2>
    <p>The new employer must file within fifteen days after employment this statement with the commission,
      signed and submitted, describing the nature of the employment, the name of the person employed,
      and the amount of pay or consideration.
    </p>
    <q-card style="max-width: 1024px">
      <q-card-section>
        <q-form @submit="onSubmit">
          <q-input
          lazy-rules
          autofocus
          label="Name of person being employed"
          type="text"
          v-model="l7_report.employee_name"
          :rules="[rules.requireString]">
            <template v-slot:after>
              <p-info-dialog title="Name of person being employed">
                <template v-slot:default>
                  Any person who is a member of the legislature, an employee of the legislature,
                  a member of a state board or commission, or a full time state employee, if that employee remains partially employed by the state.
                </template>
              </p-info-dialog>
            </template>
          </q-input>

          <q-input
            lazy-rules
            label="Amount or nature of pay or consideration"
            type="text"
            v-model="l7_report.lobbyist_employment.compensation"
            :rules="[rules.requireString]">
            <template v-slot:after>
              <p-info-dialog title="Amount or nature of pay or consideration">
                <template v-slot:default>
                  <p>How this employee is compensated for their services.</p>
                  A consideration is defined as anything of value promised, paid, or transferred in return for a person's property or services. <a href="https://apps.leg.wa.gov/wac/default.aspx?cite=390-05-220" target="_blank">(WAC 390.05.220)</a>
                </template>
              </p-info-dialog>
            </template>
          </q-input>

          <q-input
            lazy-rules
            label="Nature of employment by reporting employer"
            type="text"
            v-model="l7_report.lobbyist_employment.description"
            :rules="[rules.requireString]"
          >
            <template v-slot:after>
              <p-info-dialog title="Nature of employment by reporting employer">
                <template v-slot:default>
                  Description of the reporting employees agreement, arrangement or understanding.
                </template>
              </p-info-dialog>
            </template>
          </q-input>
          <q-input
            lazy-rules
            label="Nature of state employment or office"
            type="text"
            v-model="l7_report.public_employment.description"
            :rules="[rules.requireString]"
          >
            <template v-slot:after>
              <p-info-dialog title="Nature of state employment or office">
                <template v-slot:default>
                  Describe where they are employed, full or part-time, agency employed, title, position or role in the state.
                </template>
              </p-info-dialog>
            </template>
          </q-input>
          <q-btn label="Next" type="submit" color="primary" class="q-mr-sm" />
          <q-btn label="Cancel" flat type="button" @click="dialogConfirmCancel = true"/>
        </q-form>
      </q-card-section>
    </q-card>
    <q-dialog v-model="dialogConfirmCancel" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span>Are you sure you would like to exit? Any unsaved changes will be lost.</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Yes" color="primary" @click="onCancel" v-close-popup />
          <q-btn flat label="No" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

