<script setup>
  import { ref } from 'vue'
  import { useL7 } from 'src/l7'
  import {formatDate} from "@wapdc/pdc-ui/util"
  import { useRoute } from 'vue-router'
  import { useLobbyist} from "src/lobbyist";
  import { notifyErrorWithReason } from 'src/utils'

  const {lobbyistApi} = await useLobbyist()
  const { loadL7Submission, l7_report } = useL7()
  const route = useRoute()
  const target_type = route.name.includes('firm') ? 'firm' : 'client'
  const target_id = target_type === 'firm'? route.params.firm_id : route.params.client_id
  const submission_id = route.params.submission_id

  const columns = [
    {name: 'submission_id', label: 'Report', field: 'submission_id', align: 'left', sortable: true},
    {name: 'superseded_id', label: 'Amended by', field: 'superseded_id', align: 'left', sortable: true},
    {name: 'submitted_at', label: 'Submitted', field: 'submitted_at', align: 'left', sortable: true},
  ]

  const submissions = ref([])

  async function getHistorySubmissions() {
    try {
      // get the report id
      await loadL7Submission(target_type, target_id, submission_id, false)
      const report_id = l7_report.report_id

      // get that report's submissions
      const response_submissions = await lobbyistApi.get(`/${target_type}/${target_id}/l7-reports/${report_id}/history`)
      submissions.value = response_submissions.map(
        response_submission => {
          response_submission.submitted_at = formatDate(response_submission.submitted_at)
          return response_submission
        }
      )
    }
    catch (error) {
      notifyErrorWithReason('Obtaining report history was unsuccessful')
    }
  }
  getHistorySubmissions()
</script>

<template>
  <q-card>
    <q-card-section>
      <div class="text-h2 q-mb-md">L7 Reporting history</div>
      <q-table
        :grid="$q.screen.lt.sm"
        :rows="submissions"
        :columns="columns"
        flat
        separator="cell"
        bordered
      >
        <template v-slot:body-cell-submission_id="props">
          <q-td :props="props">
            <router-link :to="{name: `${target_type}-view-l7`, params: {submission_id: props.row.submission_id}}">
              {{ props.row.submission_id }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:body-cell-superseded_id="props">
          <q-td :props="props">
            <router-link :to="{name: `${target_type}-view-l7`, params: {submission_id: props.row.superseded_id}}">
              {{ props.row.superseded_id }}
            </router-link>
          </q-td>
        </template>
        <template v-slot:item="{row}">
          <q-card class="q-mb-sm full-width">
            <q-card-section>
              <div>
                <div>
                  Report #
                  <router-link :to="{name: `${target_type}-view-l7`, params: {submission_id: row.submission_id}}">
                    {{ row.submission_id }}
                  </router-link>
                </div>
                <div v-if="row?.superseded_id">
                  Amended by: #
                  <router-link :to="{name: `${target_type}-view-l7`, params: {submission_id: row.superseded_id}}">
                    {{ row.superseded_id }}
                  </router-link>
                </div>
                <div>Submitted: {{ row.submitted_at }}</div>
              </div>
              <div>{{ row.employee_name }}</div>
            </q-card-section>
          </q-card>
        </template>
      </q-table>
    </q-card-section>
  </q-card>
</template>
