<script setup>
  import { ref, watch } from 'vue'
  import { useL7 } from 'src/l7'
  import CertifyL7 from '../../components/CertifyL7.vue'
  import L7ReportView from '../../components/L7ReportView.vue'
  import { useRoute, useRouter } from 'vue-router'

  const { loadL7Submission, l7_report, retrieveL7FromSessionStorage } = useL7()
  const certify_dialog_is_open = ref(false)
  const route = useRoute()
  const router = useRouter()
  const target_type = (Object.keys(route.params)[0] === 'client_id') ? 'client' : 'firm'
  const target_id = Object.values(route.params)[0]
  const submission_id = route.params.submission_id

  // created
  retrieveL7FromSessionStorage()

  function print () {
    window.print()
  }

  function onEdit() {
    router.push(`/${target_type}/${target_id}/create-l7`)
  }

  loadL7Submission(target_type, target_id, submission_id)

  watch(() => route.params.submission_id, () => {
    loadL7Submission(target_type, target_id, submission_id);
  })
</script>

<template>
  <div>
    <p-draft-watermark/>
    <q-toolbar class="bg-grey-3 print-hide" >
      <q-btn class="q-mr-sm" label="Print" color="primary" icon="print" @click="print" />
      <q-btn class="q-mr-sm" label="Submit" color="primary" icon="check" @click="certify_dialog_is_open = true" />
      <q-btn class="q-mr-sm" label="Edit" color="primary" icon="edit" @click="onEdit" />
    </q-toolbar>
    <l7-report-view draft/>
    <certify-l7 v-model="certify_dialog_is_open" />
  </div>
</template>
