<script setup>
  import L7ReportView from 'components/L7ReportView.vue'
  import { getRecords } from 'src/socrata'
  import { useRoute } from 'vue-router'
  import { useL7 } from '../../l7'
  import { notifyErrorWithReason } from '../../utils'

  const { loadL7SubmissionFromSocrata } = useL7()
  const route = useRoute()

  async function loadReport(submission_id) {
    if (! submission_id) {
      notifyErrorWithReason('Report not found')
      return
    }
    const data = await getRecords('L7', `select * where id='${submission_id}'`)
    if (data.length !== 1) {
      notifyErrorWithReason('Report not found')
      return
    }
    loadL7SubmissionFromSocrata(data)
  }
  loadReport(route.params.submission_id)

  function print () {
    window.print()
  }
</script>

<template>
  <q-toolbar class="bg-grey-3 print-hide">
    <q-btn class="q-mr-sm" label="Print" color="primary" icon="print" @click="print" />
  </q-toolbar>
  <l7-report-view />
</template>
