<script setup>
  import { useL7 } from '../../l7'
  import L7ReportView from '../../components/L7ReportView.vue'
  import { useRoute, useRouter } from 'vue-router'

  const { loadL7Submission, l7_report, prepareL7Amendment } = useL7()
  const route = useRoute()
  const router = useRouter()
  const target_type = (Object.keys(route.params)[0] === 'client_id') ? 'client' : 'firm'
  const target_id = Object.values(route.params)[0]
  const submission_id = route.params.submission_id

  function print() {
    window.print()
  }

  loadL7Submission(target_type, target_id, submission_id)

  function prepareReport() {
    if(l7_report){
      prepareL7Amendment(l7_report)
      target_type === 'client' ? router.push({ name: 'client-amend-l7', params: { report_id: l7_report.report_id}}) : router.push({ name: 'firm-amend-l7', params: { report_id: l7_report.report_id}})
    }
  }
</script>

<template>
  <div>
    <q-toolbar class="bg-grey-3 print-hide" >
      <q-btn class="q-mr-sm" label="Print" color="primary" icon="print" @click="print" />
      <q-btn class="q-mr-sm" label="Amend" color="primary" icon="edit" @click="prepareReport" />
    </q-toolbar>
    <l7-report-view />
  </div>
</template>
