<script setup>

import {formatDate} from "@wapdc/pdc-ui/util";
import {computed, ref} from "vue";
import {useFirm} from "src/firm";
import {useLobbyist} from "src/lobbyist";
const {lobbyistApi}= await useLobbyist()

const props = defineProps({
  profileId: {
    type: Number,
  },
  submissionId: {
    type: Number,
  }
})
const firm = await useFirm()
const showHistoryDialog = ref(false)
const amendmentHistory = ref([]);
async function getProfileHistory() {
  const firmId = firm.firm.lobbyist_firm_id
  const result  = await lobbyistApi.get(`/firm/${firmId}/profile/${props.profileId}/history`)
  if (result) {
    amendmentHistory.value = result
  }
  showHistoryDialog.value = true
}

const submission_id = computed(() => props.submissionId);


</script>

<template>
  <q-btn icon="history" label="Revision history" no-caps @click="getProfileHistory"/>
  <q-dialog v-model="showHistoryDialog">
    <q-card>
      <q-card-section>
        <h3>Revision history</h3>
        <q-table :rows="amendmentHistory" :columns="[
          { name: 'submitted', label:  'Submitted', field: 'submitted_at', align: 'left'},
          { name: 'submission_id', label: 'Report #', field: 'submission_id' }
        ]"
                 :rows-per-page-options="[0]"
                 hide-pagination
        >
          <template v-slot:body-cell-submitted="props">
            <q-td :props="props">
              <span v-if="props.row.submission_id === parseInt(submission_id)">{{formatDate(props.row.submitted_at)}} *</span>
              <span v-else>
                <router-link :to="{name: 'firm-profile-view', params: {submission_id: props.row.submission_id}}">{{formatDate(props.row.submitted_at)}}</router-link>
              </span>
            </q-td>
          </template>
        </q-table>
        <p class="q-mt-md">* currently viewing</p>
      </q-card-section>
      <q-card-actions>
        <q-btn color="primary" @click="showHistoryDialog=false">Close</q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped>

</style>
