<script setup>
import {computed} from "vue";

const props = defineProps({
  draft: {type: Boolean, default: false},
  profile: {type: Object}
})

const p = computed(() => props.profile.user_data);
</script>

<template>
  <div>
    <div>
      <div>{{p.name}}</div>
      <div>{{p.address.address}}</div>
      <div v-if="p.address.address_2">{{p.address.address_2}}</div>
      <div>{{p.address.city}}, {{p.address.state}} {{p.address.postcode}} </div>
    </div>
    <div v-if="p.temp_address" class="q-mt-md">
      <div><strong>Temporary Thurston County address</strong></div>
      <div>{{p.temp_address.address}}</div>
      <div v-if="p.temp_address.address_2">{{p.temp_address.address_2}}</div>
      <div>{{p.temp_address.city}}, {{p.temp_address.state}} {{p.temp_address.postcode}} </div>
    </div>
  </div>
</template>

<style scoped>

</style>
