<script setup>

  import {useFirm} from "src/firm";
  import {useLobbyist} from "src/lobbyist";
  import {useRoute} from "vue-router";
  import {reactive, ref} from "vue";
  import ViewFirmProfileReport from "pages/firm/ViewFirmProfileReport.vue";
  import ProfileHistory from "pages/firm/ProfileHistory.vue";

  const route = useRoute()
  const {lobbyistApi}= await useLobbyist()
  const firm = await useFirm()
  const submission_id = route.params.submission_id
  const profile = reactive({})
  const showAmendDialog = ref(false);

  async function getProfile() {
    const firmId = firm.firm.lobbyist_firm_id;
    const result  = await lobbyistApi.get(`firm/${firmId}/profile-submission/${submission_id}`)
    Object.assign(profile, result)
    console.log(profile)
  }
  await getProfile()



  function doPrint() {
    window.print()
  }
</script>

<template>
  <div class="q-mb-md print-hide">
    <q-btn v-if="!profile.superseded_id" class="q-mr-sm" @click="showAmendDialog = true" small color="primary">Amend</q-btn>
    <q-btn @click="doPrint()" class="q-mr-sm" label="Print" icon="print"/>
    <profile-history  :profile-id="profile.profile_id" :submission-id="submission_id"/>
  </div>
  <view-firm-profile-report :profile="profile"/>

  <!--- Amend dialog --->

</template>

<style scoped>

</style>
