<script setup>

import { ref } from "vue";
import {useLobbyist} from "src/lobbyist";
import { formatPhone } from "src/utils";

const {lobbyistApi} = await useLobbyist()

const client_users = ref([]);

const searchKeys = ['client_name', 'client_email', 'client_phone', 'user_name'];

const columns = [
  { name: 'client_name', align: 'left', label: 'Client/employer name', field: 'client_name', sortable: true },
  { name: 'client_email', align: 'left', label: 'Email', field: 'client_email', sortable: true },
  { name: 'client_phone', align: 'left', label: 'Phone', field: 'client_phone', sortable: true },
  { name: 'user_name', align: 'left', label: 'User name', field: 'user_name', sortable: true }
];

const pagination = ref({
  page: 1,
  rowsPerPage: 10
});

async function getClientUsers() {
  const result = await lobbyistApi.get('admin/client-users');
  if (result) {
    client_users.value = result || [];
  }
}

await getClientUsers();

</script>

<template>
  <div>
    <h1>Client Users</h1>
    <p-search-rows v-if="client_users"
                :rows="client_users"
                :search-keys="searchKeys"
                class="q-pb-md">
      <template v-slot:results="{results}">

        <q-table
          v-model:pagination="pagination"
          :columns="columns"
          :rows="results"
          :rows-per-page-options="[5, 10, 20, 50]"
          row-key="id"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="client_name" :props="props">
                <router-link :to="`/client/${props.row.client_id}`">{{ props.row.client_name }}</router-link>
              </q-td>
              <q-td key="client_email" :props="props">
                {{ props.row.client_email }}
              </q-td>
              <q-td key="client_phone" :props="props">
                {{ formatPhone(props.row.client_phone) }}
              </q-td>
              <q-td key="user_name" :props="props">
                {{ props.row.user_name }}
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </template>
    </p-search-rows>
  </div>
</template>

<style scoped>

</style>
