<script setup>

import { ref } from "vue";
import { formatPhone } from "src/utils";
import { useAccessHub } from "src/AccessHub";
import { useLobbyist} from "src/lobbyist";

const {lobbyistApi} = await useLobbyist()
const { accessHubUrl } = await useAccessHub();


const firm_users = ref([]);

const searchKeys = ['firm_name', 'firm_email', 'firm_phone', 'user_name'];

const columns = [
  { name: 'firm_name', align: 'left', label: 'Firm Name', field: 'firm_name', sortable: true },
  { name: 'firm_email', align: 'left', label: 'Firm Email', field: 'firm_email', sortable: true },
  { name: 'firm_phone', align: 'left', label: 'Firm Phone', field: 'firm_phone', sortable: true },
  { name: 'user_name', align: 'left', label: 'User Name', field: 'user_name', sortable: true }
];

const pagination = ref({
  page: 1,
  rowsPerPage: 10
});

async function getFirmUsers() {
  const result = await lobbyistApi.get('admin/firm-users');
  if (result) {
    firm_users.value = result;
  }
}

await getFirmUsers();

</script>

<template>
  <div>
    <h1>Firm Users</h1>
    <p-search-rows v-if="firm_users"
                :rows="firm_users"
                :search-keys="searchKeys"
                class="q-pb-md">
      <template v-slot:results="{results}">

        <q-table
          v-model:pagination="pagination"
          :columns="columns"
          :rows="results"
          :rows-per-page-options="[5, 10, 20, 50]"
          row-key="id"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="firm_name" :props="props">
                <router-link :to="`/firm/${props.row.firm_id}`">{{ props.row.firm_name }}</router-link>
              </q-td>
              <q-td key="firm_email" :props="props">
                {{ props.row.firm_email }}
              </q-td>
              <q-td key="firm_phone" :props="props">
                {{ formatPhone(props.row.firm_phone) }}
              </q-td>
              <q-td key="user_name" :props="props">
                <a :href="accessHubUrl(`profile-efiler/${props.row.accesshub_id}`)">{{ props.row.user_name }}</a>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </template>
    </p-search-rows>
  </div>
</template>

<style scoped>

</style>
