<script setup>
import { ref } from "vue";
import { useLobbyist } from "src/lobbyist";

const { lobbyistApi } = await useLobbyist()
const reportsList = ref([]);
const pagination = ref({
  page: 1,
  rowsPerPage: 10
});

async function getReportsByQuarter() {
  const result = await lobbyistApi.get('admin/new-reports-by-quarter');
  if (result) {
    reportsList.value = result;
  }
}
await getReportsByQuarter();
</script>

<template>
  <div>
    <h3>New Reports By Quarter</h3>
    <p-search-rows v-if="reportsList"
                   :rows="reportsList"
                   :searchKeys="['report_type','year','quarter']"
                   class="q-pb-md">
      <template v-slot:results="{results}">
        <!-- {{results}} -->
        <q-table
          ref="qTable"
          :rows="results"
          :columns="[ { name: 'type', label:'Type', field: 'report_type', align: 'left', sortable: true},
                      { name: 'numberFiled', label:'Number Filed', field: 'number_filed', align: 'left',sortable: true},
                      { name: 'year', label:'Year', field: 'year', align: 'left',sortable: true},
                      { name: 'quarter', label:'Quarter', field: 'quarter', align: 'left',sortable: true}]"
          :rows-per-page-options="[10, 20, 50, 100]"
          v-model:pagination="pagination"
        >
        </q-table>

      </template>
    </p-search-rows>
  </div>
</template>

<style scoped>

</style>

